<template>
	<div style="text-align: center; align-items: center;">
		<div style="font-size: 18px">Mensaje <i class="fa fa-envelope" aria-hidden="true"></i></div>
		<div class="row" style="margin-top: 10px">
			<div class="col-3"></div>
			<div class="input-group col-6" style="width: 650px">
				<textarea id="message" v-model="m" class="form-control" aria-label="Mensaje" ></textarea>
			</div>
			<div class="col-3"></div>
		</div>
		
		<button type="button" class="btn btn-success" id="message" style="margin-top: 15px" @click="getProcess()">Enviar</button>
	</div>
</template>
<script>
	export default {
		data: ()=> ({
			m:''
		}),
		
		mounted() {
			
		},
		methods: {
			getProcess:function () {
				axios.post("/mensaje/getMensajeGlobal",{
					m:this.m
				})
				.then(
					(response) => { 
						$.confirm({
							title: 'Enviado',
							content: 'Se ha enviado el mensaje de manera exitosa.',
							icon: 'fa fa-check',
							type: 'blue',
							typeAnimated: true,
							draggable: true,
							buttons: {
								// close: ()=> {
					   //      		$("#modalAsignar").modal('show');
					   //      		this.inputSearchAsignarChange();
								// }
							}
						});

					}
				).catch(error => {
					console.log(error,error.response);
					$.confirm({
					    title: 'Fallido',
					    content: 'No se ha podido enviar, intenta de nuevo.',
					    type: 'red',
					    icon: 'fa fa-warning',
					    typeAnimated: true,
					    draggable: true,
					    buttons: {
					        close: function () {
					        	$("#modalAsignar").modal('show');
					        }
					    }
					});
				});
			},
			deleteProcess:function () {
				this.$parent.processes.find((actual_process,index)=>{
					if (actual_process.id==this.process.id) {
						this.$parent.processes.delete(index);
						return true;
					}
				});
			},
		}
	}
</script>