<template>
	<!-- Modal -->
	<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalCenterTitle"><img src="/assets/operador/logo_tecmaq.png" style="width: 120px; height: 40px;"><i class="fa fa-envelope" aria-hidden="true" style="color: green"></i>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row col-12">
						{{m}}
					</div>
					
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data: ()=> ({
			m:'',
		}),
	
		mounted() {
			// console.log("MensajeGlobal");
			window.Echo.private('MensajeGlobal').listen('MensajeEvent', (e) => {
				// console.log(e);
				this.m=e.m;
				$('#ModalCenter').modal('show');
			});
			
		},
		methods: {
			
		}
	}
</script>