.content-nav {
  position: relative;
}

.content-nav main {
  min-height: calc(100% - 65px);
  height: auto;
  position: absolute;
}

.content-nav main .container-fluid-y {
  height: calc(100% - 2rem) !important;
  min-height: calc( 100% - 2rem) !important;
  position: absolute;
}

