<template>
	<div class="col" :id="'card_wc_'+this.workcenter.id">
		<div class="card shadow" style="width: 245px;">
			<div class="container-fluid" :style="'border: none; background: '+this.background_color+';min-height: 77px;'">
				<div class="row">
					<div class="col-12 col-sm-12 col-ms-12 col-lg-12 col-xl-12 text-center mt-3" :style="'border: none; background: '+this.background_color+';'">
						<!-- <p class="text-white" style="margin-bottom: 0; font-size: 30px; line-height:2rem;" v-if="this.workcenter.processes[0]!=undefined">{{ workcenter.processes[0].job.num_part }}</p> -->
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-12 col-ms-12 col-lg-12 col-xl-12 text-center" style="">
						<label class="font-regular color-gray pl-1 pr-1" style="font-size: 12px; background-color: white; border-radius: 20px; padding-left: 0.25rem; padding-right: 0.25rem;">{{ workcenter.num_machine }}</label>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row mb-3 mt-2">
					<div class="col-8 col-sm-8 col-ms-8 col-lg-8 col-xl-8">
						<p class="font-regular color-gray text-center" style="font-size: 14px;" v-if="this.pause.process">Job: <b>{{ this.pause.process.job.num_job }}</b></p>
					</div>

					<div class="col-4 col-sm-4 col-ms-4 col-lg-4 col-xl-4">
						<p class="font-regular color-gray text-center" style="font-size: 14px;" v-if="this.pause.process">Op: <b>{{ this.pause.process.operation.operation_service }}</b></p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-sm-5 col-ms-5 col-lg-5 col-xl-5 ml-auto text-right">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">{{ this.hour }} </b>
						<p class="font-light color-heavy" style="font-size: 13px;">HRS</p>
					</div>
					<div class="col-1 col-sm-1 col-ms-1 col-lg-1 col-xl-1text-center">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">:</b>
					</div>
					<div class="col-5 col-sm-5 col-ms-5 col-lg-5 col-xl-5 ml-auto text-left">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">{{ this.minute }}</b>
						<p class="font-light color-heavy" style="font-size: 13px;">MIN</p>
					</div>
				</div>
			</div>
			<div class="container-fluid py-2" style="border-top: solid 1px #E9E9E9">
				<div class="row text-center">
					<div class="col-12 col-sm-12 col-ms-12 col-lg-12 col-xl-12 text-center">
						<span class="font-regular color-heavy align-middle" style="font-size: 13px;" v-if="this.pause && this.pause.user!=null"><b>{{ this.pause.user.idemployee }} {{ this.pause.user.name }} {{ this.pause.firstname }}</b></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name:"CardMantenimiento",
		data() {
			return {
                nacimiento: 0,
                hour: 0,
                minute: 0,
                workcenter: this.pause.workcenter
            }
		},
		props: {
			pause:{
				type: Object,
				required:true,
			},
			background_color:{
				type: String,
				required:true
			},
			espera: {
				type: Boolean,
				required:true
			}
        },
		mounted() {

			this.time_calidad();
            setInterval(this.time_calidad, 30000)

		},
		methods: {
			time_calidad() {

                let fecha = this.pause.started_at;

				var fecha_cortada= fecha.split(" ");
				this.nacimiento = new Date( `${fecha_cortada[0]} ${fecha_cortada[1]} GMT-0500`);
				var hoy_String = new Date().toLocaleString("es-MX", {timeZone: "America/Mexico_City"});

				var hoy_cortado=hoy_String.split(" ");

				var date = hoy_cortado[0].split("/");
				var time = hoy_cortado[1].split(":");
				var h= date[2]+'-'+date[1]+'-'+date[0]+" "+hoy_cortado[1]+" GMT-0500";
				var hoy = new Date(h);


				var tiempoPasado= hoy - this.nacimiento
				var segs = 1000;
				var mins = segs * 60;
				var hours = mins * 60;
				var days = hours * 24;
				var months = days * 30.416666666666668;
				var years = months * 12;


				var horas = Math.floor(tiempoPasado / hours)

				tiempoPasado = tiempoPasado - (horas * hours);
				var minutos = Math.floor(tiempoPasado / mins)

				if (horas < 0) {
					horas = 0;
				}

				this.hour=horas;
				this.minute=minutos;

			}
		}
	}
</script>
