<template>
	<div class="container-fluid mt-4" style="background: #E6E8F1;">
		<div class="row mb-3">
			<div class="col">
				<div style="width: 10px;height: 10px;background-color:#8597AF;display: inline-block;"></div> En proceso
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<div style="width: 10px;height: 10px;background-color:#afafaf;display: inline-block;"></div> En Espera
			</div>
		</div>
		<div class="row mb-3">
			<CardMantenimiento v-for="pause in this.on_maintenance_process" :key="'wp_'+pause.id" :pause="pause" :background_color="'#8597AF'" :espera="false"></CardMantenimiento>
			<CardMantenimiento v-for="pause in this.on_maintenance_wait" :key="'ww_'+pause.id" :pause="pause" :background_color="'#afafaf'" :espera="true"></CardMantenimiento>
		</div>
	</div>
</template>
<script>
	import CardMantenimiento from "./CardMantenimiento";
	export default {
		name:"Mantenimiento",
		components:{
			CardMantenimiento
		},
		data() {
            return {
                on_maintenance_wait: null,
                on_maintenance_process: null
            }
        },
        created() {

            this.getMachine();

			window.Echo.private('mantenimiento').listen('MantenimientoEsperaEvent', (e) => {
				this.getMachine();
            });

        },
		methods: {
			getMachine() {
				axios.post("/calidad/mantenimiento/status")
				.then(
					(response) => {
						this.on_maintenance_wait = response.data.on_maintenance_wait;
						this.on_maintenance_process = response.data.on_maintenance_process;
					}
				).catch(error => {
					// console.log(error,error.response);
				});
			}
		}
	}
</script>
