<template>
	<div>
		<div id="mantenimientoProceso" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="card-group">
						<div class="card color-red">
							<div class="row">
								<div class="col text-center mt-3">
									<b class="font-regular fs-18" >PAUSA</b>
								</div>
							</div>
							<div class="card pausa-backg background-pausa size-card">
								<div class="card-body valign-wrapper">
									<div class="no-valign-wrapper text-center" style="font-size: 40px;">
										<p class="lh-15">Mantenimiento</p>
										<p class="lh-15">en proceso</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body p-3">
								<div class="sidenav_usuario">
									<div class="img-usr text-center">
										<div class="text-right font-light color-gray skip-right">
										Cerrar
											<img src="/assets/setup/esc_pieza_rechazada.png" class="text-right"
										style="width: auto;height: 45px;">
										</div>
											<img src="/assets/operador/empty_profile_pausa_border2.png" class="rounded-circle" style="height:5rem;">
									</div>
									<div class="text-center font-medium form-red fs-16 mt-1">
										<!-- {{this.user.name}} {{this.user.firtsname}} -->
									</div>
									<div class="text-center font-light color-gray" style="border-bottom: 1px solid #C4C4C4;">
										<!-- No. Usuario: <span class="color-heavy form-red">{{this.user.idemployee}}</span>  -->
									</div>
								</div>
								<div class="font-light color-gray mt-3 fs-16 text-center">
									<p class="lh-05">Al terminar el proceso,<b class="font-regular"> MANTENIMIENTO</b> debe </p>
									<p class="lh-05"> introducir su número de empleado y contraseña.</p>
								</div>
								<form id="formMantenimientoProceso" class="pl-3 pr-3">
									<div class="input-group mb-3">
										<div class="input-group">
											<textarea class="form-control font-light" v-bind:class="{ 'is-invalid': errors.comment}"  name="comment" id="comment" placeholder="Por favor escribe tus comentarios" rows="3"></textarea>
											<div class="invalid-feedback" v-if="errors.comment" id="commentFail" >
												{{ this.errorsText.comment }}
											</div>
										</div>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.username}" id="basic-addon1"><i class="fa fa-user form-red" aria-hidden="true" style=""></i></span>
										</div>
										<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1" autofocus="" required="required" min="0" id="usernameManProc">
										<div class="invalid-feedback" v-if="errors.username" id="usernameFail">
											{{ this.errorsText.username }}
										</div>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock form-red" aria-hidden="true" style=""></i></span>
										</div>
										<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" required="required">
										<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
											{{ this.errorsText.password }}
										</div>
									</div>
								</form>
                                <div class="text-center my-3" v-if="isSubmit">
                                    <div class="spinner-border">
                                        <div class="sr-only">Loading...</div>
                                    </div>
                                </div>
								<div class="text-center">
									<button type="button" class="btn btn-lg text-white rounded-pill" style="background: #FD3F55"  v-on:click="onSubmit(false)">Finalizar</button>
									<!-- <img src="/assets/operador/soporte.png" width="135px">
									<img src="/assets/operador/finalizar.png" width="135px"> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		name: "Support",
		components:{
		},
		data: ()=> ({
			errors:{
				comment:false,
				username:false,
				password:false,
			},
			errorsText:{
				comment:'',
				username:'',
				password:'',
            },
            isSubmit: false,
		}),
		props:{
			wc:{
				type:Object,
				require:true,
			}
		},
		mounted(){
			$("#mantenimientoProceso").modal('show');
			$("#mantenimientoProceso").on('shown.bs.modal', (e) => {
				$("#comment").select();
			});

			$("#mantenimientoProceso").on('hidden.bs.modal',(e)=> {
			});
		},
		methods: {
            onSubmit(support){
                if (this.isSubmit) {
                    return;
                }
                this.isSubmit = true;
                var sef = this;
				var data=$("#formMantenimientoProceso").serialize()+"&support="+support+"&wc_id="+this.wc.id;
				console.log(data,this.wc);
				axios.post("/operador/pausa/mantenimiento/finalizar_support",data)
				.then(
					(response) => {
						var data=response.data;
 						window.location.href="/";
                        console.log(data);
					}
				).catch(error => {
					console.log(error);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
                    });
                    self.isSubmit = false;
				});
			},
		}

	}

</script>
