<template>
	<div class="modal fade" :id="'liberarpza'+this.$parent.process.id" tabindex="-1" role="dialog" aria-hidden="true" >
		<div class="modal-dialog modal-dialog-centered  modal-xl" role="document" style="max-width: 800px; width: 35rem;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card noborder">
						<div class="card-body">
							<div class="text-right font-light color-gray fs-16">
								Cerrar
								<img src="/assets/setup/esc_pieza_liberada.png" style="width: auto;height: 45px; font-size: 18px;">
							</div>
							<div class="text-center font-red font-bold fs-20">
								<p class="color-liberar">Liberar pieza</p>
							</div>
							<form :id="'formRechazarpza_'+this.$parent.process.id" class="ml-4 mr-4 mt-4">
								<div class="input-group mb-3">
									<div class="input-group">
										<textarea class="form-control font-light" :id="'comment_'+this.$parent.process.id" v-bind:class="{ 'is-invalid': errors.comment}" v-model="comment"  placeholder="Por favor escribe tus comentarios" rows="3"></textarea>
									</div>
									<div class="invalid-feedback" v-if="errors.comment" id="commentFail" >
										{{ this.errorsText.comment }}
									</div>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.username}" id="basic-addon1">
											<i class="fa fa-user color-liberar" aria-hidden="true"></i>
										</span>
									</div>
									<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1"  required="required" min="0" v-on:keypress.enter="onSubmit">
									<div class="invalid-feedback" v-if="errors.username" id="usernameFail">
										{{ this.errorsText.username }}
									</div>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1">
											<i class="fa fa-lock color-liberar" style="color: rgb(0, 177, 86);" aria-hidden="true"></i>
										</span>
									</div>
									<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1"  required="required" v-on:keypress.enter="onSubmit">
									<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
										{{ this.errorsText.password }}
									</div>
								</div>
							</form>
						</div>
					</div>
                    <div class="text-center my-3" v-if="isSubmit">
                        <div class="spinner-border">
                            <div class="sr-only">Loading..</div>
                        </div>
                    </div>
					<div class="text-center">
						<button type="button" class="btn btn-lg text-white" style="min-width: 125px;background-color: #00b156;" v-on:click="onSubmit">ENTER</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name:"LiberarPza",
		data: ()=> ({
            succes:false,
            comment: '',
			errors:{
				comment:false,
				username:false,
				password:false,
			},
			errorsText:{
				comment:'',
				username:'',
				password:'',
			},
            isSubmit: false
		}),
		mounted() {
			$("#liberarpza"+this.$parent.process.id).on('shown.bs.modal', (e) => {
				$("#comment_"+this.$parent.process.id).select();
				$("#comment_"+this.$parent.process.id).focus();
			});

			$("#liberarpza"+this.$parent.process.id).on('hidden.bs.modal',(e)=> {
				if (this.succes) {
					// $("#lib_"+this.$parent.process.id).remove();
					this.$parent.deleteProcess();
				}
			});
		},
		methods: {
			onSubmit(e){
                // console.log($("#formRechazarpza_"+this.$parent.process.id).serialize());
                if (this.isSubmit) {
                    return;
                }
                this.isSubmit = true;
                var self = this;
				axios.post("calidad/liberaLogin", $("#formRechazarpza_"+this.$parent.process.id).serialize()+"&process_id="+this.$parent.process.id + `&comment=${this.comment}`)
				.then(
					(response) => {
						var data=response.data;
						// console.log("[mantenimientoEspera login]",data,data.resp,data['resp']);
						this.succes=true;
                        $("#liberarpza"+this.$parent.process.id).modal('hide');
                        setTimeout(() => { self.isSubmit = false }, 1000);
					}
				).catch(error => {
					console.log(error,error.response);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
                    });
                    self.isSubmit = false;
				});
			},

		}
	}
</script>
