<template>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="date">Generar mas semanas hasta:</label>
                <input type="date" v-model="to" class="form-control">
            </div>
            <button class="btn btn-danger" @click="generate()">
                <div v-if="isSubmit">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span>Cargando...</span>
                </div>
                <span v-else>Generar</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            to: '',
            isSubmit: false
        }
    },
    methods: {
        generate() {


            if (this.isSubmit) {
                return;
            }

            this.isSubmit = true;

            let self = this;

            axios.post('/admin/schedule/generate', {
                to: this.to
            })
            .then(response => {
                window.location.reload();
            })
            .catch(error => {
                alert('Ha ocurrido un error, revise la consola')
                self.isSubmit = false;
                console.log(error);
            })
        }
    }
}
</script>

<style>

</style>
