<template>
    <div>

        <generate-form></generate-form>

        <h2 class="text-center my-3">Horarios repartido por turnos</h2>
        <p>Solo se muetran los turnos futuros</p>
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Año</th>
                    <th scope="col">Semana</th>
                    <th scope="col">Rango</th>
                    <th scope="col">6:45 am a 3:00 pm</th>
                    <th scope="col">3:00 pm a 11:00 pm</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <schedule-item v-for="schedule of schedules" :key="schedule.id" :initial_schedule="schedule"></schedule-item>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: ['initial_schedules'],
    data() {
        return {
            schedules: []
        }
    },
    created() {
        this.schedules = this.initial_schedules
    }
}
</script>

<style>

</style>
