<template>
    <tr>
        <td>{{ schedule.year }}</td>
        <td>{{ schedule.week_number }}</td>
        <td>{{ schedule.start_of_week }} - {{ schedule.end_of_week }}</td>
        <td>{{ schedule.first_turn }}</td>
        <td>{{ schedule.second_turn }}</td>
        <td>
            <button class="btn" :class="{ 'btn-success' : isSubmit, 'btn-info' : !isSubmit }" @click="alternate()">
                <div v-if="isSubmit">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span>Cargando...</span>
                </div>
                <span v-else>Alternar</span>
            </button>
        </td>
    </tr>
</template>

<script>
export default {
    props: ['initial_schedule'],
    data() {
        return {
            isSubmit: false,
            schedule: this.initial_schedule
        }
    },
    methods: {
        alternate() {

            if (this.isSubmit) {
                return;
            }

            this.isSubmit = true;

            let self = this;

            axios.post('/admin/schedule/alternate/' + self.schedule.id, {
                '_method' : 'PUT'
            })
            .then(response => {

                self.isSubmit = false;

                if (self.schedule.first_turn == 'A') {
                    self.schedule.first_turn = 'B';
                    self.schedule.second_turn = 'A';
                } else {
                    self.schedule.first_turn = 'A';
                    self.schedule.second_turn = 'B';
                }

            })
            .catch(error => {

                console.log(error);

            });

        }
    }
}
</script>
