// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@font-face { 
    font-family: Montserrat-SemiBold; //T3 
    src: url('/fonts/Montserrat-SemiBold.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Light; //T1
    src: url('/fonts/Montserrat-Light.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Regular; //T2
    src: url('/fonts/Montserrat-Regular.ttf'); 
} 

@import "./style";
@import "node_modules/material-design-icons/iconfont/material-icons";
@import '~font-awesome/scss/font-awesome';
