html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}
body {
    background-image: url('/img/background.png');
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}

h3{
    font-family: Montserrat-SemiBold; 
    font-size: 30px; 
}

b{
    font-family: Montserrat-SemiBold; 
}

p{
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 22px;
}

.container{
    //max-width: 100%;
    min-height: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.contenedor-login{

}
.valign-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .no-valing-wrapper{
        display: block;
        width: 100%
    }
}
.input-group-text{
    background-color: #FFFFFF;
    border-right: none;
}
.form-control-nbl{
    border-left: none;
}
.form-control-nbl:focus{
    box-shadow: none!important;
    border-color: #ced4da!important;
}
.input-group-text.is-invalid{
    border-color: #e3342f;
}

.font-light {
  font-family: Montserrat-Light;
}

.font-Regular {
  font-family: Montserrat-Regular; 
}

.font-SemiBold {
  font-family: Monserrat-SemiBold;
}

.img-container{
    max-width: 100%; 
    max-height: 100%;
    width: 20rem; 
    height: auto; 

}

.ct{
    color: #0c54c4;
    font-size: 35px; 
}

.img-tunerd{
    display: inline-block;
    width: auto;
    height: 2rem;
}

.login-form{
    margin: 10px;
}
