@charset "UTF-8";

/*SIDEBAR*/

html,
body,
#app,
.content-nav {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

#app .content-nav {
  padding-top: 65px;
  max-width: calc( 100% - 240px);
  max-height: 100%;
  min-height: 100%;
  width: inherit;
  height: auto;
}

#app .content-nav main .container-fluid-y {
  height: 100%;
  min-height: 100%;
}

#app .content-nav main .container-fluid-y .card-group {
  height: 100%;
}

#app .content-nav main .container-fluid-y .card-group .setup-left-c1 {
  background: #f99d4b;
}

#app .content-nav main .container-fluid-y .card-group .setup-left-c2 {
  background: #adadad;
}

#app .content-nav main .container-fluid-y .card-group .setup-left-c2-proceso {
  background: #f99d4b;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c2-proceso .img-usr img {
  width: 60px;
  max-width: 100px;
  height: auto;
}

#app .content-nav main .container-fluid-y .card-group .setup-left-c3 {
  background-color: #f9da58;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .img-option {
  width: 40px;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .liberada-inactive,
#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .rechazada-inactive,
#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .liberada-active,
#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .rechazada-active {
  font-size: 1.2em;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .liberada-inactive {
  color: #afd1c3;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .rechazada-inactive {
  color: #e8d3d3;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .liberada-active {
  color: #46bf77;
}

#app .content-nav main .container-fluid-y .card-group .setup-right-c3 .rechazada-active {
  color: #f75c5b;
}

#app .content-nav main .container-fluid-y .card-group .setup {
  background: url("/assets/setup/background_setup.png");
  background-size: 75%;
  background-position: center center;
  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
}

#app .content-nav main .modalConfirmar .title {
  font-size: 1.6em;
  margin-top: 5%;
  color: #faa22f;
  font-weight: 200%;
}

#app .content-nav main .modalConfirmar .liberacion {
  font-size: 1.3em;
  margin: 0px 15%;
  color: #faa22f;
}

.setup-left-c4-liberada {
  background-color: #46bf77;
}

.setup-left-c4-rechazada {
  background-color: #f75c5b;
}

img.pieza_rechazada {
  position: relative;
  max-width: 40%;
}

.container-progress {
  width: 100%;
  margin: auto auto;
  position: -webkit-sticky;
  position: sticky;
}

.container-progress .progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}

.container-progress .progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

.container-progress .progressbar li:before {
  width: 50px;
  height: 50px;
  content: counter(step);
  counter-increment: step;
  line-height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 2em;
}

.container-progress .progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 25px;
  left: -50%;
  z-index: -1;
}

.container-progress .progressbar li:first-child:after {
  content: none;
}

.container-progress .progressbar li.active {
  color: green;
}

.container-progress .progressbar li.active:before {
  background: white;
  color: #faa22f;
}

.container-progress .progressbar li.active + li:after {
  background-color: white;
}

.enter {
  position: relative;
  max-width: 150px;
}

@media screen and (max-width: 769px) {
  .setup-right-c3 .img-option {
    width: 20px;
  }

  .setup-right-c3 .liberada-inactive,
  .setup-right-c3 .rechazada-inactive,
  .setup-right-c3 .liberada-active,
  .setup-right-c3 .rechazada-active {
    font-size: 1em !important;
  }
}

.close-font {
  font-size: 20px;
}

.margin-main-card {
  margin-left: 50px;
  margin-right: 50px;
}

.ajustador-text {
  font-size: 19px;
  margin: 58px;
}

.font-light {
  font-family: Montserrat-Light;
}

.font-regular {
  font-family: Montserrat-Regular;
}

.font-SemiBold {
  font-family: Monserrat-SemiBold;
}

.liberacion-font {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 19px;
}

.pza-liberada {
  font-size: 50px;
}

