<template>
	<div class="container-main-index container-fluid-100">
		<div class="row">
			<div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 align-self-center">
				<p class="text-justify font-light color-gray">
					Por favor presiona el número o letra correspondiente.
				</p>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 color-heavy text-right align-self-center">
				<img src="/assets/operador/C.png" style="width: 45px;height: 45px;font-size: 18px;" >
				<span>Capeando</span>
			</div>
		</div>
		<div id="status" class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="card shadow">
					<div class="card-header fs-20 font-regular background-white d-flex flex-row justify-content-between">
						<b>Status</b>
                        <a href="#" v-if="workcenter.on_maintenance"><span class="badge badge-danger">En espera de mantenimiento</span> </a>
					</div>
					<div class="card-body py-0 px-0" style="height: 15rem;">
						<div class="card-group">
							<div class="card">
								<div class="card-body valign-wrapper background-img setup-inactivo">
									<div class="no-valign-wrapper">
										<h2 style="width: 100%;" class="text-center color-clear">
											<img src="/assets/operador/1.png" style="width: 45px;height: 45px;font-size: 18px;">Setup
										</h2>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body valign-wrapper background-img produccion-activo" style="background-color: #0a55c1">
									<div class="no-valign-wrapper">
										<h2 style="width: 100%; color:white;" class="text-center">
											Producción
										</h2>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body valign-wrapper background-img pausa-inactivo">
									<div class="no-valign-wrapper">
										<h2 style="width: 100%;" class="text-center color-clear">
											<img src="/assets/operador/0.png" style="width: 45px;height: 45px;font-size: 18px;">Pausa
										</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-6">
				<div class=" card green-card card-size shadow" v-bind:class="{ 'green-card':isGreen, 'yellow-card-2': isYellow,'red-card-2':isRed }">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<b class="font-regular"> Productividad </b>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p class="porcent">{{ this.productividad }}% </p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="round-xlarge progress-bar-white">
									<div class="round-xlarge progress-container" :style="'width:'+(this.productividad > 100 ? 100 : productividad)+'%'" id="barra">%</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-8 font-light">
								 <p>Tiempo de Ciclo: </p>
							</div>
							<div class="col-md-4 text-right font-regular">
								<b>{{ this.process.operation.standar_time }}min</b>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 ml-auto">
				<div class="card white-card card-size shadow">
					<div class="card-body">
						<b class="font-regular">Avance de la Orden </b>
							<div class="row">
								<div class="col single-chart">
									<svg viewBox="0 0 36 36" class="circular-chart blue">
										<path class="circle-bg"
										d="M18 2.0845
													 a 15.9155 15.9155 0 0 1 0 31.831
													 a 15.9155 15.9155 0 0 1 0 -31.831"
												/>
												<path class="circle"
												:stroke-dasharray="this.piecePercent+', 100'"
												d="M18 2.0845
													a 15.9155 15.9155 0 0 1 0 31.831
													a 15.9155 15.9155 0 0 1 0 -31.831"
												 />
												<text x="18" y="20.35" class="percentage">{{this.piecePercent}}%</text>
										</svg>
								</div>
							</div>
						<hr />
						<div class="row">
							<div class="col-md-7 ml-auto font-regular">
								<p>Cantidad de Piezas:</p>
							</div>
							<div class="col-md-5 text-right">
								<p class="color-heavy font-regular">
									<b>{{this.pieceTotal}}</b>
									<span class="font-light font-black">de</span>
									<b>{{ this.process.quantity != 0 ? this.process.quantity : this.job.quantity }}</b>
								</p>
							</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<pausa></pausa>
		<Capeando></Capeando>
	</div>
</template>
<style type="text/css">
	#prueba1{
		width: 100%;
		height: 15rem	;
		position: relative;
	}
	.red-card-2{
		background-color: #f75c5c!important;
	}
	.yellow-card-2{
		background-color: #f9da58!important;
	}
</style>

<script>
	import Pausa from "../modals/PausaComponent";
	import Capeando from "../modals/CapeandoComponent";

	export default {
		data() {
            return {
                piecePercent:0,
                pieceTotal:0,
                pieceStart:0,
                productividad:0,
                job:Laravel.vue.job,
                process:Laravel.vue.process,
                isGreen:true,
                isYellow:false,
                isRed:false,
                isSubmit: false,
                workcenter: null
            }
		},
		components:{
			Pausa,
			Capeando,

		},
		props: {
			url_pausa_motivo:{
				type: String,
				required:true,
			}
		},
		beforeMount() {
            this.workcenter = Laravel.vue.workcenter;
        },
		mounted() {

			window.Echo.private(`amount_piece-${Laravel.vue.workcenter.id}`).listen('OperadorAmountPieces', (e) => {
				this.get_productividad();
				this.get_cycles();
            });

            window.Echo.private(`process-update-${this.job.num_job}`).listen('ProcessUpdate', (e) => {
				location.reload();
            });

			this.get_cycles();
			this.get_productividad();
			this.inputKey();
			// this.historial_semanal();
            // this.historial_mensual();
            let self = this;

		},
		methods: {
			inputKey(){

                let self = this;

				document.addEventListener("keydown", (e) => {
					if (Laravel.vue.operador.enabled) {
						switch(e.keyCode){
							// 1 SETUP
							case 49:
                                let choice = confirm('¿Está seguro que quiere volver a la fase del setup?');
                                if (choice) {
                                    self.setupReset();
                                }
								break;
							// C - Capeando
							case 67:
								if (Laravel.vue.operador.capeando.enabled)
									$("#modalCapeando").modal('show');
								break;
							// 0 (cero) - PAUSA
							case 48:
								if (Laravel.vue.operador.pausa.enabled )
									$("#pausa").modal('show');
								break;
							// // D - DIBUJO
							case 68:
								if(!Laravel.vue.operador.modalDibujoEnabled)
									$("#modalDibujo").modal('show');
                                break;
						}
					}
					// console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
				});
            },
            setupReset() {

                if (this.isSubmit) {
                    return;
                }

                var self = this;

                self.isSubmit = true;
                axios.post('operador/setup/reset', {
                    process_id: self.process.id
                })
                .then(response => {
                    window.location.href='operador/setup';


                })
                .catch(error => {
                    console.log(error);
                    alert('Ha ocurrido un error, intente de nuevo');
                })
                .then( () => self.isSubmit = false );
            },
			historial_semanal(){
				$("#bar-chart").width($("#prueba").width());
				$("#bar-chart").height( ($("#prueba").height() - 10 )+ 'px' );

					// Bar chart
					// $.ajax({
					// 	headers: {
					// 		'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
					// 	},
					// 	url: "{{route('configurations.change')}}",
					// 	type: "POST",
					// 	success: function(data) {
							Chart.plugins.register({
								//PARA MOSTRAR DATOS ARRIBA DE LAS BARRAS
								beforeRender: function(chart) {
									if (chart.config.options.showAllTooltips) {
										// create an array of tooltips
										// we can't use the chart tooltip because there is only one tooltip per chart
										chart.pluginTooltips = [];
										chart.config.data.datasets.forEach(function(dataset, i) {
											chart.getDatasetMeta(i).data.forEach(function(sector, j) {
												chart.pluginTooltips.push(
													new Chart.Tooltip(
														{
															_chart: chart.chart,
															_chartInstance: chart,
															_data: chart.data,
															_options: chart.options.tooltips,
															_active: [sector]
														},
														chart
													)
												);
											});
										});

										// turn off normal tooltips
										chart.options.tooltips.enabled = false;
									}
								},
								afterDraw: function(chart, easing) {
									if (chart.config.options.showAllTooltips) {
										// we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
										if (!chart.allTooltipsOnce) {
											if (easing !== 1) return;
											chart.allTooltipsOnce = true;
										}

										// turn on tooltips
										chart.options.tooltips.enabled = true;
										Chart.helpers.each(chart.pluginTooltips, function(tooltip) {
											tooltip.initialize();
											tooltip._options.bodyFontFamily = "'font-light', sans-serif"
											tooltip._options.displayColors = false;
											tooltip._options.bodyFontSize = tooltip._chart.height * 0.065;
											tooltip._options.yPadding = 5;
											tooltip._options.xPadding = 5;

											tooltip.update();
											// we don't actually need this since we are not animating tooltips
											tooltip.pivot();
											tooltip.transition(easing).draw();
										});
										chart.options.tooltips.enabled = false;
									}
								}
							});
							new Chart(document.getElementById("bar-chart"), {
								type: 'bar',
								data: {
									labels: ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes","Sábado"],
									datasets: [
										{
											label: "",
											backgroundColor: ["#0A55C0", "#0A55C0","#0A55C0","#0A55C0","#0A55C0","#0A55C0"],
											data: [60,40,34,90,43,50]
										}
									]
								},
								options: {
									legend: {
										labels:{
											defaultFontFamily:"font-light",
											defaultFontSize:6,
										},
										display: false ,
									},
									aspectRatio:1,
									intersect:false,
									title: {
										display: false,
										text: 'Semanal'
									},
									scales: {
										xAxes: [{
											display: true,
											ticks: {
												fontSize: 14,
												fontFamily: "font-light",
											},
											scaleLabel: {
												display: true
											}
										}],
										yAxes: [{
											ticks: {
												fontSize: 12,
												fontFamily: "font-light",
												min: 0,
												max: 100,
												callback: function (value) {
													return value + '%';
												}
											}
										}]
									},
									showAllTooltips: true,
									responsive:true,
									animation: {
										animateScale: true,
										animateRotate: true
									},
									tooltips: {
										// mode: 'x',
										enabled: false,
										// intersect:false,
										yAlign: 'bottom',
										xAlign: 'center',
										xPadding: 25,
										yPadding: 15,
										xPadding: 45,
										titleAlign: 'center',
										footerAlign: 'center',
										bodyAlign: 'center',
										callbacks: {
											title: function(tooltipItems, data) {
												return "";
											},
											label: function(tooltipItem, data) {
												var label = data.datasets[tooltipItem.datasetIndex].label || '';

												if (label) {
													label += ': ';
												}

												label += Math.round(tooltipItem.yLabel * 100) / 100;
												label += "%";
												return label;
											}
										},

									},
								}
							});
					// 	},
					// 	error: function() {
					// 				console.log("No se ha podido obtener la información");
					// 	}
					// });
			},
			historial_mensual(){
				$("#speedChart").width($("#prueba1").width());
				$("#speedChart").height( ($("#prueba1").height() - 10 )+ 'px' );

				// $.ajax({
				// 	headers: {
				// 		'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
				// 	},
				// 	url: "{{route('configurations.change')}}",
				// 	type: "POST",
				// 	success: function(data) {

						var speedCanvas = document.getElementById("speedChart");
						Chart.defaults.global.defaultFontFamily = "Lato";
						Chart.defaults.global.defaultFontSize = 18;

						var dataFirst = {
							data: [1, 59, 75, 20, 20, 55, 40,34,56,72,34,5,67,8,98,5,23,54,35,6,7,5,33,4,5,6],
							lineTension: 0.3,
							fill: false,
							borderColor: '#0A55C0',
							backgroundColor: '#0A55C0',

							pointRadius: 5,

							pointStyle: 'rect'
						  };

						var dataSecond = {
							data: [81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81],
							lineTension: 0.3,
							fill: false,
							borderColor: 'green',
							backgroundColor: 'green',
							borderDash: [5, 5],
							pointBackgroundColor: 'lightgreen'

						};

						var speedData = {
						  labels: ["1", "2", "3", "4", "5", "6", "7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26"],
						  datasets: [dataFirst, dataSecond]
						};

						var chartOptions = {
							aspectRatio:1,
							legend: {
								display: false,
								position: 'top',
								labels: {
								 	fontColor: '#0A55C0',
									defaultFontFamily:"font-light",
									defaultFontSize:6,
								}
						  },
							scales: {
										xAxes: [{
											display: true,
											ticks: {
												fontSize: 14,
											},
											scaleLabel: {
												display: true
											}
										}],
										yAxes: [{
											ticks: {
												fontSize: 12,
												fontFamily: "'font-light'",
												callback: function (value) {
													return value + '%';
												}

											}
										}]
									},
							title: {
								display: false,
								text: 'Mensual'
							}
						};

						var lineChart = new Chart(speedCanvas, {
						  type: 'line',
						  data: speedData,
						  options: chartOptions
						});
				// 	},
				// 		error: function() {
				// 					console.log("No se ha podido obtener la información");
				// 		}
				// });

			},
			get_cycles() {
				axios.post("operador/cycles",this.process)
				.then(
					(response) => {
						var data=response.data;
						// console.log(data);
						this.piecePercent=data.piecePercent;
						this.pieceStart=this.pieceTotal=data.pieceTotal;
					}
				).catch(error => {
					console.log("error",error);
				});
			},
			get_productividad(){
				axios.post("operador/productividad",{process:this.process,user:Laravel.user})
				.then(
					(response) => {
						var data=response.data;
                        this.productividad=data.productividad;

						if (this.productividad >= Laravel.vue.parametros.verde) {
							this.isGreen = true;
							this.isYellow = this.isRed = false;
						} else if (this.productividad >= Laravel.vue.parametros.amarillo) {
							this.isYellow=true;
							this.isGreen=this.isRed=false;
						}else{
							this.isRed=true;
							this.isGreen=this.isYellow=false;
						}
					}
				).catch(error => {
					console.log("error",error);
				});
			}
		}
	}
</script>
