
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


/*SIDEBAR*/
$width_sidebar: 200px;
$nav_height: 45px;
$logo_h: $nav_height + 1px;
$sidenav_content_h: calc(100% - #{$logo_h});

$sidenav_user: 30%;
$sidenav_client: 25%;
$sidenav_menu: 30%;
$sidenav_copyright: 10%;
$app_w:calc( 100% - #{$width_sidebar});
$status_h: 50%;
$card-header_h:50px;