<template>
	<div id="confirmarAsignado" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-md modal-dialog-centered" role="document">
			<div class="modal-content capeando">
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col text-right color-gray font-light">
								Cerrar <img src="/assets/operador/esc.png" width="85px">
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<h4>Cambiar de JOB</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="card-group">
									<div class="card noborder">
										<div class="card-body">
											<div class="text-center color-gray font-regular lh-03">
												<p class="lh-03">El <b>SUPERVISOR DE PRODUCCIÓN</b> debe</p>
												<p class="lh-03">ingresar su número de empleado y</p>
												<p class="lh-03">contraseña para autorizar el cambio de JOB.</p>
											</div>
											<form id="formCapeandoLogin" class="ml-4 mr-4 mt-4"  @submit="onSubmit">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text" v-bind:class="{ 'is-invalid': this.errors.username}" id="basic-addon1"><i class="fa fa-user color-heavy" aria-hidden="true"></i></span>
													</div>
													<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': this.errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1"  autofocus="" required="required"  v-on:keypress.enter="onSubmit" min="0" id="usernameCap">

													<div class="invalid-feedback" v-if="this.errors.username" id="usernameFailCap" >
														{{ this.errorsText.username }}
													</div>
												</div>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock color-heavy" aria-hidden="true"></i></span>
													</div>
													<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1"  required="required" v-on:keypress.enter="onSubmit">

													<div class="invalid-feedback" v-if="errors.password" id="passwordFailCap">
														{{ this.errorsText.password }}
													</div>

												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="row">
                            <div class="col my-2 text-center">
                                <div class="spinner-border" v-if="isSubmit" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
						<div class="row">
							<div class="col">
								<div class="text-center">
									<img src="/assets/operador/enter.png" width="125px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data: ()=> ({
			errors:{
				username:false,
				password:false,
			},
			errorsText:{
				username:'',
				password:'',
            },
            isSubmit: false
		}),
		props: {

		},
		mounted() {
			$("#confirmarAsignado").on('shown.bs.modal',(e)=>{
				Laravel.vue.asignar.enabled=false;
				$("#usernameCap").select();
				$("#usernameCap").focus();
			});
			$("#confirmarAsignado").on('hidden.bs.modal',(e)=>{
				Laravel.vue.asignar.enabled=true;
			});
		},
		methods: {
			toJSONString( form ) {
				var obj = {};
				var elements = form.querySelectorAll( "input, select, textarea" );
				for( var i = 0; i < elements.length; ++i ) {
					var element = elements[i];
					var name = element.name;
					var value = element.value;

					if( name ) {
						obj[ name ] = value;
					}
				}

				return obj;
			},
			async onSubmit(e) {

                if (this.isSubmit) {
                    return;
                }

                this.isSubmit = true;

                var self = this;

				var data = this.toJSONString( document.getElementById( "formCapeandoLogin" ) );
                data['process'] = Laravel.process;

                console.log(Laravel.process);

                axios.post('/jobs/asignados/change_job', data)
                .then(response => {

                    this.errors.username=false;
                    this.errors.password=false;

                    axios.post('/jobs/asignados/selecciona', {
                        process_id: response.data.process.id
                    })
                    .then(second_response => {

                        window.location.href = `/operador/setup?job_id=${second_response.data.id}`;

                    })
                    .catch(error => {
                        this.isSubmit = false;
                    });

                })
                .catch(error => {

                    this.isSubmit = false;

                    $.each(error.response.data.errors, (input,errorText) => {
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
                    });

                });


				// axios.post("/jobs/asignados/change_job",data)
				// .then(
				// 	(response) => {
				// 		var data=response.data;
				// 		this.errors.username=false;
				// 		this.errors.password=false;
				// 		axios.post( "/jobs/asignados/selecciona" ,{process_id:data.process.id})
				// 		.then(
				// 			(response) => {
				// 				process=response.data
				// 				// console.log(process);
				// 				window.location ="/operador/setup?job_id="+process.job.id;
				// 			}
				// 		).catch((error) => {

				// 		});
				// 	}
				// ).catch((error) => {
				// 	if (error.status=="403") {
				// 		window.location.reload();
				// 	}
				// 	this.errors.username=false;
				// 	this.errors.password=false;
				// 	$.each(error.response.data.errors,(input,errorText)=>{
				// 		this.errors[input]=true;
				// 		this.errorsText[input]=errorText[0];
				// 	});
				// });

			}
		}
	}
</script>
