<template>
	<div id="contenedorCnc" style="overflow-y: auto;overflow-x: auto;">
		<div class="container-fluid mt-2">
			<div class="row text-center">
				<div class="col color-black font-light col-md-5">
					<font size="3">Jobs en proceso:</font>
					<font size="4" class="col color-heavy text-right font-regular"> {{ this.proceso }} / {{ this.enEspera }}</font>
				</div>
				<div class="col color-black font-light col-md-7">
					<font size="3">Jobs programados: </font>
					<font size="4" class="col color-heavy text-right font-regular"> {{ this.programados }} </font>
				</div>
			</div>
		</div>

		<div class="container-fluid" style="background: #E6E8F1;" id="sortable">

			<div class="row mt-2" v-for="(workcenter, key) in this.workcenters" :key="key" :id="workcenter.id" :position="workcenter.order">

				<div class="col-4" style="overflow-x: @media screen and (max-width: 768px); overflow-y: hidden; height: 160px;">
					<div class="card shadow" style="max-width: 420px;height: 156px; background: #8597AF;min-width: 420px;">
						<div class="row no-gutters" style="height: 140px;">
							<div class="col-md-4 text-center valign-wrapper">
								<div class="no-valign-wrapper">
									<font size="5" class="text-white">{{ workcenter.num_machine }}</font><br>
									<font size="1" class="font-light text-white">{{ workcenter.model }}</font>
									<div class="input-search input-group font-light text-center" style="display: block;">
										<span class="input-group-text icon font-light input-search" id="basic-addon1" style="background-color: white; color: #8597AF; font-size: 10px;display: inline-block;">
											{{ workcenter.day }} DÍAS | {{ Math.trunc(workcenter.hour) }} HORAS
										</span>
									</div>
								</div>
							</div>
							<div class="" style="border-left: 1px solid gray; height: 107%;"></div>
							<div class="col-md-8" style="margin-left: -1px;">
								<div class="card-body" style="padding: 0.2rem;">


								 	<!-- <div class="text-center" style="border-width: 2px; border-style: dashed ; color: white; margin-left: 5px; max-width: 97%; margin-top: 10px;">
							 			<img src="/assets/jobs/disponible.png" style="width: 50px;height: 50px; margin-top: 30px;" >
							 			<p class="font-light" style="color: white; text-align: center;">Disponible</p>
								 	</div>		 -->

								 	<div v-if="workcenter.processes">

								 	 	<div class="addJobCardFull" v-for="(process,key) in workcenter.processes" v-if="process.active" :key="key">

											<CncJobFull
                                                :process="process"
                                                :process_key="key"
                                                :key="'pf_'+process.id"
                                                :dividir_workcenters="dividir_workcenters"
                                                :clic="false">
                                            </CncJobFull>

											<div v-if="workcenter.support">
												<div class="text-center" style="border-width: 2px; border-style: dashed ; color: white; margin-left: 5px; max-width: 97%; margin-top: 10px;">
													<img src="/assets/jobs/checar_status.png" style="width: 50px;height: 50px; margin-top: 30px;" >
													<p class="font-light" style="color: white; text-align: center;">Checar status</p>
												</div>
											</div>

										</div>
									</div>

									<!-- <div v-else>
										<div class="text-center" style="border-width: 2px; border-style: dashed ; color: white; margin-left: 5px; max-width: 97%; margin-top: 10px;">
								 			<img src="/assets/jobs/disponible.png" style="width: 50px;height: 50px; margin-top: 30px;" >
								 			<p class="font-light" style="color: white; text-align: center;">Disponible</p>
								 		</div>
									</div> -->


								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="pl-3" style="min-width: 100%;position: relative;max-width: 100%;overflow-x: scroll; height: 160px;max-height: 160px;overflow-y: none;display:  -webkit-inline-box;overflow-y: hidden;padding-top: 6px;">
						<CncJobSinCarga v-if="workcenter.charge" :workcenter="workcenter"></CncJobSinCarga>
						<!-- Boton mas -->
						<div class="addJob">
							<div class="valign-wrapper" style="height: 100%;" >
								<div class="no-valign-wrapper">
									<img src="/assets/jobs/add_job.png" class="addMiddleJob" style="width: 20px;height: 20px;" v-on:click="addMiddleJob(workcenter.id, null,-1)">
								</div>
							</div>
						</div>
						<div class="addJobCard" v-for="(process, key) in workcenter.processes" :key="key">

							<CncJobComponent
                                v-if="!process.active"
                                :process="process"
                                :process_key="key"
                                :workcenter="workcenter"
                                :dividir_workcenters="dividir_workcenters"
                                :key="'p_'+process.id"
                                :clic="false"
                            >

                            </CncJobComponent>

							<div v-if="!process.active" class="addJob">
								<div class="valign-wrapper" style="height: 100%;" >
									<div class="no-valign-wrapper">
										<img src="/assets/jobs/add_job.png" class="addMiddleJob" style="width: 20px;height: 20px;"  v-on:click="addMiddleJob(workcenter.id,process.id,key)">
									</div>
								</div>
							</div>
						</div>
						<div class="addJob dashed">
							<div class="valign-wrapper" style="height: 140px;width: 220px;" >
								<div class="no-valign-wrapper text-center">
									<button href="" class="btn btn-secondary" :data-wc="workcenter.id" data-toggle="modal"  style="border-radius: 1.5rem; opacity: 0.3" v-on:click="openModal(workcenter.id)">Asignar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<asignarComponent :url_process="this.url_process"></asignarComponent>

	</div>
</template>
<style type="text/css">
	.addMiddleJob:hover{
		cursor: pointer;
	}
	.addJob{/*
		flex-basis: 0;
    flex-grow: 1;*/
		height: 140px;
		position: relative;
		display: inline-block;
	}
	.addJobCard{
		height: 140px;
		position: relative;
		display: -webkit-box;
	}
	/* width */
	::-webkit-scrollbar {
	  width: .5rem;
	  height: .5rem;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: rgba(0,0,0,.6);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: rgba(85,85,85,.6);
	}
</style>
<script>
	export default {
		data: ()=> ({
			workcenters: [],
            dividir_workcenters: [],
			enEspera:0,
			clickCard:true,
			process_key:null,
			process_change:null,
			wc_actual:null,
			programados:0,
			proceso:0,
		}),
		props: {
			url_process:{
				type: String,
				required:true,
			},
			url_workcenters:{
				type: String,
				required:true,
			},
			url_addjobstoworkcenter:{
				type: String,
				required:true,
			},
			url_getjobofwc:{
				type: String,
				required:true,
			},
			section:{
				type: String,
				required:true,
			},
			url_jobs:{
				type: String,
				required:true,
            }
		},
		mounted() {

			this.GetWorkcenter();

            this.ContenedorHeight();

            var self = this;

            window.Echo.private('phase-updated')
            .listen('PhaseUpdated', (e) => {

                self.GetWorkcenter();

            });

            window.Echo.private('amount-updated').listen('AmountUpdated', (e) => {

                self.GetWorkcenter();

            });

			$(window).resize( (e)=> {
				this.ContenedorHeight();
			});

		},
		methods: {
			addMiddleJob:function (wc_id,process_id,key) {
				if (this.clickCard) {
					$("#modalAsignar").modal('show');
					Laravel.jobs.workcenterSelect=wc_id;
					Laravel.jobs.workcenterSelect_process_key=key;
				}else{
					// console.log("[addMiddleJob sasa]",this.clickCard,wc_id,this.process_change,this.wc_actual,key);
					Array.prototype.delete = function ( index) {
						// Delete a item at index
					    this.splice( index, 1);
					};
					Array.prototype.insert = function ( index, item ) {
					    this.splice( index, 0, item );
					};
					var wc_proceess=[];
					var change_process=[];
					console.log(wc_id,this.wc_actual);

					this.workcenters.find((wc,index)=>{
						if(wc.id==this.wc_actual.id) {
							change_process=this.workcenters[index]["processes"][this.process_key];
							this.workcenters[index]["processes"].delete(this.process_key);
							wc_proceess=this.workcenters[index]["processes"];
							axios.post(this.url_addjobstoworkcenter,{"wc_id":wc.id,"process":JSON.stringify(this.workcenters[index]["processes"])})
							.then(
								(response) => {
									var data=response.data;
									// console.log(data);
									// this.clickCard=true;
								}
							).catch(error => {
								console.log(error,error.response,error.response.data.message);
							});
							return true;
						}
					});
					this.workcenters.find((wc,index)=>{
						if(wc.id==wc_id) {
							this.workcenters[index]["processes"].insert(key+1,this.process_change);
							console.log(key,key+1,this.workcenters[index]);
							wc_proceess=this.workcenters[index]["processes"];
							axios.post(this.url_addjobstoworkcenter,{"wc_id":wc.id,"process":JSON.stringify(this.workcenters[index]["processes"])})
							.then(
								(response) => {
									var data=response.data;
									console.log(data);
									this.clickCard=true;
									this.GetWorkcenter();
								}
							).catch(error => {
								console.log(error,error.response,error.response.data.message);
							});
							return true;
						}
					});

					// axios.post(this.url_addjobstoworkcenter,{"wc_id":wc_id,"process":JSON.stringify(wc_proceess)})
					// .then(
					// 	(response) => {
					// 		var data=response.data;
					// 		console.log(data);
					// 		this.clickCard=true;
					// 	}
					// ).catch(error => {
					// 	console.log(error,error.response,error.response.data.message);
					// });
				}
			},
			GetWorkcenter:function () {

				this.num_job = $("#inputSearchAsignar").val();
                this.enEspera = 0;

				axios.post(this.url_workcenters, {"section": this.section})
				.then(
					(response) => {

                        var data            = response.data;
						this.workcenters    = data.workcenters;
                        this.dividir_workcenters = data.dividirWorkcenters;
						this.programados    = data.programados;
                        this.proceso        = data.proceso;

						$.each(this.workcenters, (index, workcenter) => {

							if (workcenter.processes.length > 0) {

                                var contar = true;

								for (var i = workcenter.processes.length - 1; i >= 0; i--) {
									if (workcenter.processes[i].active == true) {
										contar=false;
										break;
                                    }
                                }

								if(contar == true) {
									this.enEspera++;
                                }

							}
						});
                })
                .catch(error => {
					console.log(error, error.response);
                });

			},
			ContenedorHeight:function () {
				var contenedorCncHeight=$("main").height() ;
				var rem="1.5rem"
				$("#contenedorCnc").height( "calc( "+contenedorCncHeight+"px"+" - "+rem+")" );
				$("#contenedorCnc").css('max-height',"calc( "+contenedorCncHeight+"px"+" - "+rem+")");
				// console.log($("#contenedorCnc").height(),contenedorCncHeight);
			},
			openModal:function (wc_id){
				$("#modalAsignar").modal('show');
				Laravel.jobs.workcenterSelect=wc_id;
				Laravel.jobs.workcenterSelect_process_key=undefined;
			},

		}
	}
</script>
