<template>
	<div>
		<div id="mySidenav" class="sidenav open">
			<div class="logo">
				<img src="/assets/operador/logo_tecmaq.png" style="width: 100%; height: 100%;">
			</div>
			<div class="sidenav_content">
				<div class="container-fluid sidenav_usuario">
					<div class="row">
						<div class="col">
							<div class="img-usr">
								<img src="/assets/operador/empty_profile.png" class="rounded-circle">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-center font-regular color-heavy">
							{{ this.name}}
						</div>
					</div>
					<div class="row">
						<div class="col font-light color-gray">
							No. Usuario: <span class="font-light color-heavy">{{ this.noempleado }} </span>
						</div>
					</div>
				</div>
				<div class="sidenav_client valign-wrapper">
					<div class="no-valign-wrapper">
						<div class="container-fluid px-4 my-1 text-left" style="display: block;width: 100%;">
							<div class="row">
								<div class="col color-gray font-regular">
									<b>Job: </b>
								</div>
								<div class="col color-heavy text-right font-regular">
									<b> {{ this.process.job.num_job }} </b>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col font-light color-gray">
									#:
									{{ this.process.operation.piece.part_number }}
								</div>
							</div>

							<div class="row">
								<div class="col font-light color-gray">
									Operacion:
								</div>
								<div class="col font-light color-heavy text-right">
									{{this.process.operation.operation_service}} - {{this.process.operation.description.substring(0,4)}}
								</div>
							</div>

							<div class="row">
								<div class="col-8 font-light color-gray">
			            			Cantidad piezas:
			            		</div>
				            	<div class="col font-light color-heavy text-right">
				            		{{ this.process.quantity != 0 ? this.process.quantity : this.process.job.quantity }}
				            	</div>
							</div>

				            <div class="row">
				            	<div class="col-8 font-light color-gray">
				            		Tiempo de ciclo:
				            	</div>
				            	<div v-if="!this.process.user_processes[0].capeando" class="col font-light color-heavy text-right">
				            		{{this.process.operation.standar_time}}
				            	</div>
				            	<div v-else class="col font-light color-heavy text-right">
				            		{{this.process.capeando.standar_time}}
				            	</div>
				            </div>

				            <div class="row">
				            	<div class="col font-light color-gray">
				            		Cliente:
				            	</div>
				            	<div class="col font-light color-heavy text-right">
				            		{{this.process.operation.piece.client.customer}}
				            	</div>
				            </div>
						</div>
					</div>
				</div>

				<div class="sidenav_menu pt-3">
					<div class="px-4 my-2 color-heavy font-regular">
						<img src="/assets/operador/J.png" style=""> Jobs siguientes
					</div>
					<div class="px-4 my-2 color-heavy font-regular">
						<img src="/assets/operador/D.png" style="">Dibujo técnico
					</div>
					<div class="px-4 my-2 color-heavy font-regular">
						<img src="/assets/operador/M.png" style=""> MOT
					</div>
					<div class="px-4 my-2 color-heavy font-regular">
						<img src="/assets/operador/P.png" style=""> Plan de inspección
					</div>
					<div class="px-4 my-2 color-heavy font-regular">
						<img src="/assets/operador/X.png" style=""> Solicitar Ayuda
					</div>
					<div class="px-4 my-2 color-heavy font-regular">
						<img src="/assets/operador/T.png" style=""> Terminar
					</div>
					<div class="px-4 my-2 color-heavy font-regular" v-if="this.process.status=='pr' || this.process.status=='pm' || this.process.status=='pmp' || this.process.status=='pfh' || this.process.status=='pfm'">
						<img src="/assets/operador/F.png" style=""> Finalizar Job
					</div>
				</div>
				<br>
				<div class="sidenav_copyrigth text-center font-light">
					Desarrollado por
					<img src="/assets/operador/logo_sidebar.png" style="height: 29px; width: 38px;"/>
					
				</div>
		    </div>
		</div>
        <!-- Modal Loader desasignar -->
    <div class="modal fade" id="loader-modal" role="dialog" tabindex="0">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <div class="container-fluid" style="margin color: grey; overflow: auto;" >
                        <div>
                            <div class="row" >
                                <div class="col text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <h3 class="my-3">Saliendo...</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<DibujoTecnico></DibujoTecnico>
		<Scraps></Scraps>
		<SolicitarAyuda></SolicitarAyuda>
	</div>
</template>

<script>
	import DibujoTecnico from "../modals/DibujoTecnicoComponent";
	import Scraps from "../modals/ScrapsComponent";
	

	export default {
		data: ()=> ({
			name:Laravel.user.name+" "+Laravel.user.firstname,
            noempleado: Laravel.user.idemployee,
            onSubmit: false,
			process: {
				status:"",
				job:{
					num_job:"",
					quantity:"",
				},
				operation:{
					standar_time:"",
					operation_service:"",
					description:"",
					piece:{
						part_number:"",
						client:{
							customer:"",
						},
					},
				},
				capeando:{
					standar_time:"",
					operation_service:"",
					description:"",
					piece:{
						part_number:"",
						client:{
							customer:"",
						},
					},
				},
				user_processes:{
					0:{
						capeando:false,
					}
				},
			},
		}),
		components:{
			DibujoTecnico,
			Scraps,
			
		},
		props: {

		},
		mounted() {
			this.menu();
            this.getProcess();


            var localprocess = this.process=Laravel.vue.process;

            window.Echo.private(`process-${localprocess.id}`).listen('DesasignarEvent', (e) => {

                alert('El job que se estaba ejecutando en este workcenter, ha vuelto a la cola');

                axios.post('{{ route("jobs.asignados.readed") }}', {
                    process_id: localprocess.id
                })
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.log(error)
                })
                .then(response => {
                    document.addEventListener("keydown", (event) => {
                        event.preventDefault();
                        event.stopPropagation();
                    });
                    
                });

            });

            window.Echo.private(`finish-process-${localprocess.id}`).listen('FinishProcessEvent', (e) => {

                document.addEventListener("keydown", (event) => {
                    event.preventDefault();
                    event.stopPropagation();
                });

                window.location.href = '/flush-session?message=Proceso terminado por el gerente';

            });


		},
		methods: {
			tecla(e){
				// console.log(String.fromCharCode(e.keyCode),e.keyCode,e.which);
			},
			menu(){
				document.addEventListener("keydown", (e) => {
					// console.log("document",e.keyCode,this.modalEnabled)
					if (Laravel.vue.sidebar.enabled) {
						switch(e.keyCode){
							// J
							case 74:
                                if (this.onSubmit) {
                                    break;
                                }
                                this.onSubmit = true;
								window.location.href="/jobs/asignados";
								break;
							/* D */
							case 68:
								if (Laravel.vue.sidebar.dibujo.enabled)
									Laravel.vue.sidebar.mot.enabled=false;
									Laravel.vue.sidebar.plan.enabled=false;
									$("#modalDibujo").modal('show');
								break;
							/* M */
							case 77:
								if (Laravel.vue.sidebar.mot.enabled)
									Laravel.vue.sidebar.dibujo.enabled=false;
									Laravel.vue.sidebar.plan.enabled=false;
									$("#modalDibujo").modal('show');
								break;
							/* P */
							case 80:
								if (Laravel.vue.sidebar.plan.enabled)
									Laravel.vue.sidebar.dibujo.enabled=false;
									Laravel.vue.sidebar.mot.enabled=false;
									$("#modalDibujo").modal('show');
								break;
							/* T */
							case 88:
						    alert('La funcion aun no esta habilitada, contacte al administrador'); 
					        axios.post("/jobs/help/system",{
                                            process: Laravel.vue.process,
                                            user: Laravel.user,
                                            finalizar: Laravel.vue.sidebar.finalizar})
												.then((response) => {
                                            var data=response.data;
                                           
                                        })
                                        .catch((error)=>{
                                            console.log("[reponse notificarion]",error);
                                            self.onSubmit = false;
                                            $("#loader-modal").modal('hide');
                                        });	
							break;
							/* X */
							case 84:
                                if (this.onSubmit) {
                                    break;
                                }
                                this.onSubmit = true;
                                var self = this;
								// this.tecla(e);
								if (Laravel.vue.process.status != 'pr') {
                                    $("#loader-modal").modal({
                                        show: true,
                                        backdrop: 'static',
                                        keyboard: false
                                    });
									if (Laravel.vue.sidebar.enabled) {
										Laravel.vue.sidebar.finalizar=false;
										axios.post("/operador/logout",{
                                            process: Laravel.vue.process,
                                            user: Laravel.user,
                                            finalizar: Laravel.vue.sidebar.finalizar})
										.then((response) => {
                                            var data=response.data;
                                            window.location.href="/logout";
                                        })
                                        .catch((error)=>{
                                            console.log("[reponse notificarion]",error);
                                            self.onSubmit = false;
                                            $("#loader-modal").modal('hide');
                                        });
									}
								} else if (Laravel.vue.sidebar.terminar.enabled) {
									if (!Laravel.vue.operador.setup.enabled) {
										Laravel.vue.sidebar.finalizar=false;
										$("#modalScraps").modal('show');
									}
								}
								// this.logout();
							break;
							// F
							case 70:
								// this.tecla(e);
								if (Laravel.vue.process.status=='pr') {
									if (Laravel.vue.sidebar.enabled) {
										Laravel.vue.sidebar.finalizar=true;
										$("#modalScraps").modal('show');
									}
								}
								// this.logout();
							break;

						}
					}
				});
			},
			getProcess(){
				this.process=Laravel.vue.process;
				// axios.post("/api/process/getProcess",{job:""})
				// .then(
				// 	(response) => {
				// 		var process=response.data;
				// 		// console.log(process);
				// 		this.process=process;
				// 	}
				// ).catch(error => {
				// 	console.log(error,error.response);
				// });
			}
		}
	}
</script>
