<template>
	<div id="mySidenav" class="sidenav open">
		<div class="logo">
			<img src="/assets/operador/logo_tecmaq.png" style="width: 100%; height: 100%;">
		</div>
		<div class="sidenav_content">
			<div class="container-fluid sidenav_usuario">
				<div class="row">
					<div class="col">
						<div class="img-usr">
							<img src="/assets/operador/empty_profile.png" class="rounded-circle">
						</div>		
					</div>
				</div>
				<div class="row">
					<div class="col text-center font-regular color-heavy">
						{{ this.name}}
					</div>
				</div>
				<div class="row">
					<div class="col font-light color-gray">
						No. Usuario: <span class="font-light color-heavy">{{ this.noempleado }} </span> 						
					</div>
				</div>
			</div>
						
			<div class="sidenav_menu pt-3">
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/maquinas.png" style=""> Maquinas
				</div>
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/jobs.png" style=""> Jobs
				</div>
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/supervisores.png" style=""> Supervisores
				</div>
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/operadores.png" style=""> Operadores
				</div>
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/calidad.png" style=""> Calidad
				</div>
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/mantenimiento.png" style=""> Mantenimiento 
				</div>
				<div class="px-4 my-2 color-heavy font-regular">
					<img src="/assets/jobs/indicadores.png" style=""> Indicadores 
				</div>
			</div>
			<div class="sidenav_copyrigth px-2  color-heavy font-regular">
					<img src="/assets/jobs/log out.png" style=""> Log out 
				</div>
			<div class="sidenav_copyrigth text-center font-light">
				Desarrollada por 
				<img src="/assets/operador/logo_sidebar.png" style="height: 29px; width: 38px;"/>
			</div>
    </div>		
	</div>
</template>

<script>
	export default {
		data: ()=> ({
			name:Laravel.user.name+" "+Laravel.user.firstname,
			noempleado: Laravel.user.id,
		}),
		props: {
			url_logout:{
				type: String,
				required: true
			}

		},
		mounted() {
			document.addEventListener("keydown", (e) => {
				// console.log("document",e.keyCode,this.modalEnabled)
				switch(e.keyCode){
					// J
					case 74:
						this.tecla(e);
						break;
					/* D */
					case 68:
						this.tecla(e);
						break; 
					/* M */
					case 77:
						this.tecla(e);
						break; 
					/* P */
					case 80:
						this.tecla(e);
						break; 
					/* T */
					case 84:
						this.tecla(e);
						this.logout();
						break; 

				}
			});
		},
		methods: {
			tecla(e){
				console.log(String.fromCharCode(e.keyCode),e.keyCode,e.which);
			},
			logout(){
				unsubscribe();
				axios.post(this.url_logout)
				.then(
					(response) => { 
						window.location.href='/';
					},
					(error)=>{
						console.log("[reponse notificarion]",error)
					}
				);
			}
		}
	}
</script>





