<template>

    <div class="flip-card col-md-3 col-sm-6 col-12" :class="{ 'flip' : flip }" @click="flipped">
        <div class="flip-card-inner">

            <div class="flip-card-front" style="background: #fff">

                <div class="container-fluid" style="border: none; background: #8597AF;min-height: 72px;">
                    <div class="row">
                        <div class="col text-center mt-3" style="border: none; background: #8597AF;">
                            <p class="text-white" style="margin-bottom: 0; font-size: 27px; line-height:1.5rem;">{{ this.workcenter.num_machine }}</p>
                            <p class="font-regular text-white" style="font-size: 10px;">{{ this.workcenter.work_center }} </p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <p class="font-light color-gray text-center mt-2" style="font-size: 13px;">Uso de la máquina</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 font-regular">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="font-size: .5rem;"><i class="fa fa-square" aria-hidden="true" style="color: #6c757d"></i> Sin uso
                                        <span class="text-center" style="font-size: .5rem;">{{ this.workcenter.tiempos.sinuso }}%</span>
                                    </div>
                                    <div style="font-size: .5rem;"><i class="fa fa-square" aria-hidden="true" style="color: #F88628"></i> Herra.
                                        <span class="text-center" style="font-size: .5rem;">{{ this.workcenter.tiempos.herramentaje }}%</span>
                                    </div>
                                    <div style="font-size: .5rem;"><i class="fa fa-square" aria-hidden="true" style="color: #ffed4a"></i> Ajuste
                                        <span class="text-center" style="font-size: .5rem;">{{ this.workcenter.tiempos.ajuste }}%</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="font-size: .5rem;"><i class="fa fa-square" aria-hidden="true" style="color: #558b2f"></i> Prod.
                                        <span class="text-center" style="font-size: .5rem;"> {{ this.workcenter.tiempos.produccion }} %</span>
                                    </div>
                                    <div style="font-size: .5rem;"><i class="fa fa-square" aria-hidden="true" style="color: #03A9F4"></i> Paros
                                        <span class="text-center" style="font-size: .5rem;">{{ this.workcenter.tiempos.paros }}%</span>
                                    </div>
                                    <div style="font-size: .5rem;"><i class="fa fa-square" aria-hidden="true" style="color: #e3342f"></i> Mant.
                                        <span class="text-center" style="font-size: .5rem;">{{ this.workcenter.tiempos.mantenimiento }}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 chart-container">
                            <canvas :id="'chart-' + workcenter.id" width="100px" height="100px"></canvas>
                        </div>

                    </div>
                </div>
                <div class="container-fluid" style="border-top: solid 1px gray; margin-bottom: 0;">
                    <div class="row">
                        <div class="col">
                            <p class="font-light text-left" style="margin-bottom: 0; font-size: 13px;">Eficiencia:</p>
                            <p class="font-light color-heavy lh-05 text-left" style="font-size: 8px;">{{ this.job }}</p>
                        </div>
                        <div class="col">
                            <p class="font-regular text-right fs-18"><b>{{ this.workcenter.eficiencia }}%</b></p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flip-card-back">

                <div class="container-fluid" style="border: none; background: #8597AF;min-height: 72px;">
                    <div class="row">
                        <div class="col text-center mt-3" style="border: none; background: #8597AF;">
                            <p class="text-white" style="margin-bottom: 0; font-size: 27px; line-height:1.5rem;">{{ this.workcenter.num_machine }}</p>
                            <p class="font-regular text-white" style="font-size: 10px;">{{ this.workcenter.work_center }} </p>
                        </div>
                    </div>
                </div>

                <div v-if="process_log" class="info mx-2">
                    <p>Job: {{ process_log.process.job.num_job }}</p>
                    <p>NP: {{ process_log.process.operation.piece.part_number }}</p>
                    <p>OP: {{ process_log.process.operation.operation_service }}</p>
                    <p>{{ process_log.user.idemployee }} {{ process_log.user.name }} {{ process_log.user.firstname }}</p>
                    <p>Hora: {{ process_log.created_at }}</p>

                    <div v-if="process_log.user_process">
                        <p>
                            Avance:
                                {{ workcenter.total_pieces }}
                            de
                                {{ process_log.process.quantity != 0 ? process_log.process.quantity : process_log.process.job.quantity }}
                        </p>
                        <p class="text-center text-primary">
                            {{ Math.round(workcenter.pieces_percent) }} %
                        </p>
                    </div>

                    <div class="col" style="text-align: center; padding-right: 0.1px;color:white;">

                        <div v-if="process_log.activity == 'pr'" class="rounded-pill" style="background-color: green; ">
                            {{ process_log.activity.toUpperCase() }}
                        </div>
                        <div v-if="process_log.activity == 'ls' || process_log.activity == 'il' || process_log.activity == 'ial' || process_log.activity == 'ln' " class="rounded-pill" style="background-color: yellow; color: black ">
                            {{ process_log.activity.toUpperCase() }}
                        </div>
                        <div v-if="process_log.activity == 'pfh' || process_log.activity == 'pfm' || process_log.activity == 'pm'" class="rounded-pill" style="background-color: red; ">
                            {{ process_log.activity.toUpperCase() }}
                        </div>
                        <div v-if="process_log.activity == 'ih' || process_log.activity == 'fh' || process_log.activity == 'ia' || process_log.activity == 'fa'" class="rounded-pill" style="background-color: orange; ">
                            {{ process_log.activity.toUpperCase() }}
                        </div>
                        <div v-if="process_log.activity == 'cr' || process_log.activity == 'crp'" class="rounded-pill" style="background-color: brown; color: #fff; ">
                            {{ process_log.activity.toUpperCase() }}
                            <template v-if="process_log.parent_log">
                            - {{ process_log.parent_log.activity.toUpperCase() }}
                            </template>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <p class="text-center mt-4">
                        Sin información
                    </p>
                </div>
            </div>

        </div>
    </div>

</template>
<script>
	export default{
        name: "CardMaquina",
        data() {
            return {
                machine_times: {
                    prod: 0,
                    setup: 0,
                    not_used: 100,
                },
                job: 'N/A',
                efficiency: 0,
                process_log: this.workcenter.process_logs[0],
                flip: false,
                context: null,
                chart: null
            }
        },
		props: {
			workcenter: {
				type: Object,
				required: true
            }
		},
		mounted() {

            var self = this;

            this.efficiency = this.workcenter.eficiencia;

            this.dib();

		},
		methods:{
            flipped() {
                this.flip = !this.flip;
            },
			dib() {

                if (!this.context) {
                    this.context = document.getElementById('chart-' + this.workcenter.id).getContext('2d');
                } else {

                    this.chart.destroy();
                }

                var data = [

                    this.workcenter.tiempos.sinuso,
                    this.workcenter.tiempos.herramentaje,
                    this.workcenter.tiempos.ajuste,
                    this.workcenter.tiempos.produccion,
                    this.workcenter.tiempos.mantenimiento,
                    this.workcenter.tiempos.paros

                ];

                this.chart = new Chart(this.context, {
					type: 'doughnut',
					data:{
					datasets: [{
						data: data,
						backgroundColor: ['#6c757d','#F88628','#ffed4a', '#558b2f','#e3342f', '#03A9F4'],
						showInLegend: true,
                        label: 'Uso de la maquina'
                    }],
                    labels: ['Sin uso', 'Herr.', 'Ajus.', 'Prod.', 'Mant.', 'Paros']},
					options: {
						style:{
							width:'100%',
							height:'100%'
						},
						layout: {
							padding: {
								left: 0,
								right: 0,
								top: 0,
								bottom: 0
							}
						},
						responsive: false,
						legend: {
							// position: 'bottom',
							display: false
						},
						tooltips: {
							enabled: true
						},
						// scales: {
						// 	fontSize: 5
						// },
						cutoutPercentage: 80
					}
                });


			},
			data() {
                var self = this;
				axios.post("maquinas/datos",{workcenter:this.workcenter})
				.then(
					(response) => {
						this.machine_times=response.data.machine_times;
						this.job=response.data.job;
						this.efficiency=response.data.efficiency;

						self.dib();

						$( window ).resize(function() {
							self.dib(i);
						});
						// console.log(this.machine_times,this.machine_times.prod);

						// console.log("[reponse notificarion]",response,data);
					}
				).catch(error => {
					console.log(error,error.response);
				});
			}

        },
        watch: {
            workcenter(before, after) {
                this.process_log = this.workcenter.process_logs[0];
            }
        }
	}
</script>
