<template>
	<section>

		<div class="container-fluid my-3" style="background: #E6E8F1;">

			<div class="row">
				<CardMaquina v-for="workcenter in this.workcenters" :key="workcenter.id" :workcenter="workcenter"></CardMaquina>
			</div>

		</div>
	</section>
</template>

<script >
	import CardMaquina from './CardMaquinaComponent';
	export default{
        props: ['initial_workcenters', 'from', 'to', 'section'],
        data() {
            return {
                workcenters: []
            }
        },
		components: {
			CardMaquina
        },
        async mounted() {

            var self = this;

            window.Echo.private('phase-updated')
            .listen('PhaseUpdated', (e) => {

                self.getWorkcenters();

            });

            self.getWorkcenters();

        },
        methods: {

            getWorkcenters() {

                var self = this;

                axios.post('maquinas/updateMachines', {

                    from: this.from,
                    to: this.to,
                    section: this.section,

                })
                .then(response => {

                    self.workcenters = response.data;

                })
                ;

            }
        }
	}
</script>
<style lang="scss">
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.info {
    p {
        margin: 0;
    }
}

.flip-card {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.flip-card-inner {
    text-align: center;
    color: #000000;
    width: 100%;
    height: 300px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    background-color: #ffffff;
}

.flip-card.flip .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-card-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    height: 100%;
}

.flip-card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 100%;
}

</style>
>
