<template>
	<div class="">
		<div class="modal fade modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		  <div class="modal-dialog modal-lg modal-dialog-centered" style="width: 26rem;">
			<div class="modal-content">
				<div class="card-group">
					<div class="card ">
						<div class="card-body">
							<div class="" style="height: auto;width: 100%;">
								<div class="row" >
									<div class="col text-right font-light color-gray close-font">
										Cerrar<img src="/assets/setup/esc_liberacion.png" style="display: inline-block; width: 73px;">
									</div>
								</div>
							</div>
							<div class="valign-wrapper" style="height: 80%;width: 100%;min-height: 75%;max-height: 90%;">
								<div class="text-center" style="width: 100%;">
									<div class="row">
										<div class="col font-light color-gray" style="font-size: 20px; margin-left: 2rem; margin-right: 2rem;">
											Por favor escoge el tipo de liberación.
										</div>
									</div>
									<div class="row">
										<div class="col text-left liberacion">
            								<img src="/assets/setup/liberacion_calidad.png" style="height: 48px; width: 48px; margin-bottom: 1rem;"/>
											Por Calidad
										</div>
									</div>
									<div class="row">
										<div class="col text-left liberacion">
            								<img src="/assets/setup/liberacion_autoliberacion.png" style="height: 48px; width: 48px; margin-bottom: 1rem;"/>
											Por Auto-liberación
										</div>
									</div>
                                    <div class="row my-2 justify-content-center" v-if="isSubmit">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
		<div class="container-fluid container-fluid-y">
			<div class="card-group margin-main-card">
				<div class="card setup-left-c2-proceso">
					<div class="card-body setup">
						<div class="" style="height: auto;width: 100%;">
							<div class="row" >
								<div class="col text-center text-white">
									<h4 class="font-reg">SETUP</h4>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="container-progress">
										<img class="img-fluid" src="/assets/setup/Barra_de_progreso_2.png">
									</div>
								</div>
							</div>
						</div>
						<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
							<div class="text-center text-white" style="width: 100%;">
								<div class="row">
									<div class="col">
										<p class="mb-1" style="font-size: 45px;">Ajuste</p>
										<p class="mb-1" style="font-size: 45px;">en proceso</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card setup-right-c2-proceso">
					<div class="card-body">
						<div class="" style="height: auto;width: 100%;min-height: 7%;">
							<div class="row" >
								<div class="col text-right font-light color-gray close-font">
									Cerrar <img src="/assets/setup/esc_ajuste.png" style="display: inline-block; width: 85px;">
								</div>
							</div>
						</div>
						<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
							<div class="text-center" style="width: 100%;">
								<div class="row" style="border-bottom: 1px solid white; margin-bottom: 1rem;">
									<div class="col">
										<div class="img-usr">
											<img src="/assets/setup/empty_picture_ajustador.png" class="rounded-circle">
										</div>
										<div class="text-center font-medium color-light text-naranja">
											<b>{{ this.name }}</b>
										</div>
										<div class="text-center font-light color-gray">
											No. Usuario: <b class="text-naranja">{{ this.noempleado }}</b>
										</div>
									</div>
								</div>
								<hr style="margin-bottom: 1rem;">
								<div class="row">
									<div class="col">
										<h5 class="font-light color-gray mt-3 mb-3">Al terminar la pieza, el <b class="font-reg">AJUSTADOR</b> debe introducir su número de empleado y contraseña.</h5>
										<form v-on:submit.prevent="onSubmit" @submit="onSubmit" id="formAjuste">
											<input type="text" name="antes" id="antes" autofocus="" style="background: transparent;border: none;width: 1px;height: 1px;">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.username}" id="basic-addon1"><i class="fa fa-user" aria-hidden="true" style="color: #F99D4B;"></i></span>
												</div>
												<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1" id="empleado" autofocus="" required="required" v-on:keypress.enter="onSubmit" min="0">
												<div class="invalid-feedback" v-if="errors.username" id="usernameFail" >
													{{ this.errorsText.username }}
												</div>
											</div>
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true" style="color: #F99D4B;"></i></span>
												</div>
												<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" id="password" required="required" v-on:keypress.enter="onSubmit">
												<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
													{{ this.errorsText.password }}
												</div>
											</div>
										</form>
									</div>
								</div>
                                <div class="row">
                                    <div class="col my-2">
                                        <div class="spinner-border" v-if="onLogin" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="" style="height: auto;width: 100%;min-height: 10%;">
							<div class="row" >
								<div class="col text-center">
									<img src="/assets/setup/enter_ajuste.png" class="img-fluid enter">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<style scoped>
	#noidea{
		z-index: -5;
		background: transparent;
		border: none;
		position: absolute;
	}
	.container-fluid{
		z-index: 1;
	}
	.input-group-text{
		background-color: #FFFFFF;
		border-right: none;
	}
	.form-control-nbl{
		border-left: none;
	}
	.form-control-nbl:focus{
		box-shadow: none;
	}
	.input-group-text.is-invalid{
		border-color: #e3342f;
	}
</style>

<script>
	// require('../../../sass/setup.scss')
	export default {
		data: ()=> ({
			errors:{
				username:false,
				password:false,
			},
			errorsText:{
				username:'',
				password:'',
			},
			name:Laravel.vue.process.ajustador_ia.name+" "+Laravel.vue.process.ajustador_ia.firstname,
			noempleado: Laravel.vue.process.ajustador_ia.idemployee,
			modalEnabled:false,
			url_tipoliberacion:"/operador/setup/tipoliberacion",
			url_login_ajustador:"/operador/setup/loginajustadorproceso",
			url_step3_autoliberacion:"/operador/setup/step3/autoliberacion",
            url_step3_calidad:"/operador/setup/step3/calidad",
            isSubmit: false,
            onLogin: false,
		}),
		mounted() {
			if (Laravel.vue.job.status=='fa') {
				$(".modalConfirmar").modal('show');
			}
			$("#empleado").focus(function (e) {
				Laravel.vue.sidebar.enabled=false;
			});
			$("#empleado").blur(function (e) {
		   		Laravel.vue.sidebar.enabled=true;
			});
			$("#password").focus(function (e) {
				Laravel.vue.sidebar.enabled=false;
			});
			$("#password").blur(function (e) {
				Laravel.vue.sidebar.enabled=true;
			});
			$("#password").keydown(function (e) {
				if (e.which==9) {
					e.preventDefault();
					// $("#antes").focus();
					$("#antes").trigger("focus");
				}
			});

			document.addEventListener("keydown", (e) => {

                if (this.isSubmit == true) {
                    return;
                }

                var self = this;

				if (this.modalEnabled) {
					switch(e.keyCode){
						// ESC
						case 27:
							break;
						// C
						case 67:
                            self.isSubmit = true;
							axios.post(this.url_tipoliberacion,{tipoliberacion:"il"})
							.then(
								(response) => {
									window.location.href=this.url_step3_calidad;
								}
							).catch((error) => {

                                self.isSubmit = false
								console.log(error)
                                alert('Ha ocurrido un error, revisar consola de desarrollador para nas detalles')

                            });
							break;
						// A
						case 65:
                            self.isSubmit = true;
							axios.post(this.url_tipoliberacion,{tipoliberacion:"ial"})
							.then(
								(response) => {
									window.location.href=this.url_step3_autoliberacion;
								}
                            )
                            .catch((error) => {
                                self.isSubmit = false;
                                console.log(error)
                                alert('Ha ocurrido un error, revisar consola de desarrollador para nas detalles')
                            });
							break
					}
				}
			});
			$(".modalConfirmar").on('shown.bs.modal',(e)=>{
				this.modalEnabled=true;
			});
			$(".modalConfirmar").on('hidden.bs.modal',(e)=>{
				this.modalEnabled=false;
				$("#empleado").select();
			});

		},
		methods: {
			onSubmit(e) {

                if (this.onLogin) {
                    return
                }

                this.onLogin = true;

                var self = this;

				axios.post(this.url_login_ajustador,$("#formAjuste").serialize())
				.then(
					(response) => {
						var data=response.data;
						console.log(data);
						if (!this.modalEnabled) {
							$('.modalConfirmar').modal('show');
						}
						// window.location.href=data.url;
					}
				).catch((error) => {
					this.errors.username=false;
					this.errors.password=false;
					self.onLogin = false;

					console.log(error)
					alert('Ha ocurrido un error')

					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
                    });

                });

			}
		}

	}
</script>
