<template>
	<div class="container-fluid container-fluid-y">
		<div class="card-group margin-main-card">
			<div class="card setup-left-c3">
				<div class="card-body setup">
					<div class="" style="height: auto;width: 100%;">
						<div class="row" >
							<div class="col text-center text-white">
								<h4 class="font-reg">SETUP</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="container-progress">
									<img class="img-fluid" src="/assets/setup/Barra_de_progreso_3.png">
								</div>
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center text-white" style="width: 100%;">
							<div class="row">
								<div class="col">
									<p class="mb-1" style="font-size: 50px; line-height: 51px;">Liberación</p>
									<p class="mb-1" style="font-size: 50px; line-height: 51px;">en proceso</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">

					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-right font-light color-gray close-font">
								Cerrar <img src="/assets/setup/esc_liberacion.png" style="display: inline-block; width: 85px;">
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 80%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center" style="width: 100%;">
							<div class="row">
								<div class="col">
									<h4 class="color-gray">LIBERACIÓN POR CALIDAD</h4>
									<p class="color-gray font-regular liberacion-font" style="line-height: 24px;">
										Es necesario esperar a que calidad termine el proceso.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-center">
								<img src="/assets/enter_setup.png" class="img-fluid ">
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

</template>
<style scoped>
	#noidea{
		z-index: -5;
		background: transparent;
		border: none;
		position: absolute;
	}
	.container-fluid{
		z-index: 1;
	}
	.input-group-text{
		background-color: #FFFFFF;
		border-right: none;
	}
	.form-control-nbl{
		border-left: none;
	}
	.form-control-nbl:focus{
		box-shadow: none;
	}
	.input-group-text.is-invalid{
		border-color: #e3342f;
	}
</style>

<script>
	// require('../../../sass/setup.scss')
	export default {
		data: ()=> ({
			errors:{
				username:false,
				password:false,
			},
			errorsText:{
				username:'',
				password:'',
			}
		}),
		props: {
			url_login_ajustador: {
				type: String,
				required: true
			}
		},
		mounted() {
			window.Echo.private(`quality-${Laravel.vue.workcenter.id}`).listen('VerifiedQualityEvent', (e) => {
				axios.post("/operador/setup/calidad/recive",{liberada:e.success,calidad:true})
				.then(
					(response) => { 
						var data=response.data;
						console.log(e.success,data);
						if (data.liberada==false) {
							window.location.href='/operador/setup/step4/rechazada';
						}
						else{
							window.location.href='/operador/setup/step4/liberada';
						} 
						// console.log("[reponse notificarion]",response,data);
					}
				).catch(error => {
					// console.log(error,error.response);
				});
			});
			// Laravel.vue.sidebar.enabled=false;
			// document.addEventListener("keydown", (e) => {
			// 	switch(e.keyCode){
			// 		// esc
			// 		case 27:
			// 			window.location.href='/operador';
			// 			break;
			// 	}
			// });
			// asignar el valor de las unidades en milisegundos
			
			 
		},
		methods: {
			onSubmit(e){
				var empleado=$("#empleado").val();
				var password=$("#password").val();

				axios.post(this.url_login_ajustador,$("#formAjuste").serialize())
				.then(
					(response) => { 
						var data=response.data;
						console.log("[reponse notificarion]",response,data);
						// window.location.href=data.url;
					}
				).catch(error => {
					console.log(error,error.response);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
					});
						});
					}
				}
	}

</script>
