<template>
	<div class="container-fluid container-fluid-y">
		<div class="card-group margin-main-card">
			<div class="card setup-left-c3">
				<div class="card-body setup">
					<div class="" style="height: auto;width: 100%;">
						<div class="row" >
							<div class="col text-center text-white">
								<h4 class="font-light">SETUP</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="container-progress">
									<img class="img-fluid" src="/assets/setup/Barra_de_progreso_3.png">
								</div>
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 80%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center text-white" style="width: 100%;">
							<div class="row">
								<div class="col">
									<p class="mb-1" style="font-size: 50px;">Auto-liberación en proceso</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card setup-right-c3">
				<div class="card-body">

					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-right font-light color-gray close-font">
								Cerrar <img src="/assets/setup/esc_liberacion.png" style="display: inline-block; width: 85px;">
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center" style="width: 100%;">
							<div class="row">
								<div class="col color-gray">
									<h4 class="mb-3">AUTO-LIBERACIÓN</h4>
									<p class="font-light font-autoliberacion">
										Marca el resultado e ingresa
									</p>
									<p class="font-light font-autoliberacion">
										tu número de empleado y
									</p>
									<p class="font-light font-autoliberacion">
										contraseña para validarlo.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col liberada-active mt-3" id="divLiberada">
									<img id="imgLiberada" src="/assets/setup/liberada_active.png" class="img-fluid img-option"  width="30px"> Liberada
								</div>
								<div class="col rechazada-active mt-3" id="divRechazada">
									<img id="imgRechazada" src="/assets/setup/rechazada_active.png" class="img-fluid img-option" width="30px"> Rechazada
								</div>
							</div>
                            <div class="row" v-if="typeError">
                                <p class="text-danger text-center">Debe seleccionar un una opción</p>
                            </div>
							<div class="row pt-4 mr-4">
								<div class="col" style="margin-left: 8%;">
									<form id="formAjuste">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.username}" id="basic-addon1"><i class="fa fa-user" aria-hidden="true" style="color: #faac3d;"></i></span>
											</div>
											<input type="text" name="antes" id="antes" autofocus="" style="background: transparent;border: none;width: 1px;height: 1px;">
											<input type="number" name="username" class="form-control form-control-nbl font-light" v-bind:class="{ 'is-invalid': errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1" id="empleado" required="required" v-on:keypress.enter="onSubmit" min="0">
											<div class="invalid-feedback" v-if="errors.username" id="usernameFail" >
												{{ this.errorsText.username }}
											</div>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true" style="color: #faac3d;"></i></span>
											</div>
											<input type="password" name="password" class="form-control form-control-nbl font-light" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" id="password" required="required" v-on:keypress.enter="onSubmit">
											<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
												{{ this.errorsText.password }}
											</div>
										</div>
									</form>
								</div>
							</div>
                            <div class="row">
                                <div class="col my-2">
                                    <div class="spinner-border" v-if="isSubmit" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-center">
								<img src="/assets/setup/enter_liberacion.png" class="img-fluid " width="150px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<style scoped>
	#noidea{
		z-index: -5;
		background: transparent;
		border: none;
		position: absolute;
	}
	.container-fluid{
		z-index: 1;
	}
	.input-group-text{
		background-color: #FFFFFF;
		border-right: none;
	}
	.form-control-nbl{
		border-left: none;
	}
	.form-control-nbl:focus{
		box-shadow: none;
	}
	.input-group-text.is-invalid{
		border-color: #e3342f;
	}
</style>

<script>
	// require('../../../sass/setup.scss')
	export default {
		data: ()=> ({
			errors:{
				username:false,
				password:false,
			},
			errorsText:{
				username:'',
				password:'',
			},
			liberada:false,
            rechazada:false,
            isSubmit: false,
            typeError: false
		}),
		props: {
			url_autoliberacion: {
				type: String,
				required: true
			}
		},
		mounted() {
			$("#empleado").focus(function (e) {
				Laravel.vue.sidebar.enabled=false;
				Laravel.vue.operador.setup.autoliberacion.liberada.enabled=false;
			});
			$("#empleado").blur(function (e) {
		   		Laravel.vue.sidebar.enabled=true;
		   		Laravel.vue.operador.setup.autoliberacion.liberada.enabled=true;
			});
			$("#password").focus(function (e) {
		   		Laravel.vue.operador.setup.autoliberacion.liberada.enabled=false;
				Laravel.vue.sidebar.enabled=false;
			});
			$("#password").blur(function (e) {
		   		Laravel.vue.operador.setup.autoliberacion.liberada.enabled=true;
				Laravel.vue.sidebar.enabled=true;
			});
			$("#password").keydown(function (e) {
				if (e.which==9) {
					e.preventDefault();
					// $("#antes").focus();
					$("#antes").trigger("focus");
				}
			});

			document.addEventListener("keydown", (e) => {
				switch(e.keyCode){
					// R
					case 82:
						if (Laravel.vue.operador.setup.autoliberacion.liberada.enabled) {
							this.rechazada=true;
							this.liberada=false;
							$("#divLiberada").removeClass('liberada-active').addClass('liberada-inactive');
							$("#divRechazada").removeClass('rechazada-inactive').addClass('rechazada-active');
							$("#imgLiberada").attr('src','/assets/setup/liberada_inactive.png');
                            $("#imgRechazada").attr('src','/assets/setup/rechazada_active.png');
                            $('#empleado').focus();
						}
						break;
					// L
					case 76:
						if (Laravel.vue.operador.setup.autoliberacion.liberada.enabled) {
							this.rechazada=false;
							this.liberada=true;
							$("#divLiberada").removeClass('liberada-inactive').addClass('liberada-active');
							$("#divRechazada").removeClass('rechazada-active').addClass('rechazada-inactive');
							$("#imgLiberada").attr('src','/assets/setup/liberada_active.png');
                            $("#imgRechazada").attr('src','/assets/setup/rechazada_inactive.png');
                            $('#empleado').focus();
						}
						break;
					case 13:
						// this.onSubmit();
						break;
				}
			});
		},
		methods: {
			onSubmit(e){
				if (this.rechazada || this.liberada) {

                    this.typeError = false;

                     if (this.isSubmit) {
                        return
                    }
                    this.isSubmit = true;
                    var self = this;

					axios.post(this.url_autoliberacion,$("#formAjuste").serialize()+"&rechazada="+this.rechazada+"&liberada="+this.liberada)
					.then(
						(response) => {
							var data=response.data;
							if (this.rechazada)
								window.location.href='/operador/setup/step4/rechazada';
							else if(this.liberada)
								window.location.href='/operador/setup/step4/liberada';
							// console.log("[reponse notificarion]",response,data);
						}
					).catch(error => {
                        // console.log(error,error.response);
                        self.isSubmit = false;
						this.errors.username=false;
						this.errors.password=false;
						$.each(error.response.data.errors,(input,errorText)=>{
							this.errors[input]=true;
							this.errorsText[input]=errorText[0];
						});
					});
				} else {
                    this.typeError = true;
                }
			}
		}
	}
</script>
