<template>
	<div class="">
		<div class="modal fade modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" v-on:keyup.esc="close">
		  <div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="card-group">
					<div class="card valign-wrapper">
						<div class="card-body no-valign-wrapper">
							<div class="" style="height: auto;width: 100%;">
								<div class="row" >
									<div class="col text-right font-light color-gray close-font">
										Cerrar <img src="/assets/setup/esc_ajuste.png" style="display: inline-block; width: 85px;">
									</div>
								</div>
							</div>
							<div style="height: 80%;width: 100%;min-height: 75%;max-height: 90%;">
								<div class="text-center" style="width: 100%;">
									<div class="row mb-4 mt-4">
										<div class="col">
											<h2 class="font-light color-gray close-font" style="margin-left: 10%; margin-right: 10%;">¿Estás seguro que deseas continuar a <b class="font-reg">AJUSTE</b>?</h2>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="col text-center">
												<img src="/assets/setup/enter_ajuste.png" class="img-fluid" style="height: 60px; width: auto;">
											</div>
										</div>
									</div>
                                    <div class="row">
                                        <div class="col my-2">
                                             <div class="spinner-border" v-if="isSubmit" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
		<div class="container-fluid container-fluid-y" v-on:keyup.esc="" v-on:click="selectInput">
		<div class="card-group margin-main-card">
			<div class="card setup-left-c1">
				<div class="card-body setup">
					<div class="" style="height: auto;width: 100%;">
						<div class="row" >
							<div class="col text-center text-white">
								<input type="text" name="noidea" autofocus="autofocus"  id="noidea">
								<h4 class="font-reg">SETUP</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="container-progress text-center">
										<img class="img-fluid" src="/assets/setup/Barra_de_progreso_1.png">
								</div>
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center text-white" style="width: 100%;">
							<div class="row">
								<div class="col">
									<p class="mb-1" style="font-size: 45px;">Herramentaje</p>
									<p class="mb-1" style="font-size: 45px;">en proceso</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">

					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-right font-light color-gray close-font">
								Cerrar <img src="/assets/setup/esc_ajuste.png" style="display: inline-block; width: 85px;">
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center" style="width: 100%;">
							<div class="row">
								<div class="col">
									<h3 class="font-light color-gray"> Presiona "Enter" cuando hayas terminado el herramentaje. </h3>
								</div>
							</div>
						</div>
					</div>
					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-center">
								<img src="/assets/setup/enter_ajuste.png" class="img-fluid " style="height: 60px; width: auto;">
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


</template>
<style scoped>
	#noidea{
		z-index: -5;
		background: transparent;
		border: none;
		position: absolute;
	}
	.container-fluid{
		z-index: 1;
	}
	.modalConfirmar .modal-lg{
		max-height: 45%;
		max-width: 30%
	}
	.modal-content{
		height: 100%;
	}
</style>

<script>
	// require('../../../sass/setup.scss')
	export default {
		data: ()=> ({
            modalEnabled: false,
            isSubmit: false
		}),
		props: {
			url_send_notification: {
				type: String,
				required: true
			}
		},
		mounted() {
			// Laravel.vue.sidebar.enabled=false;
			Laravel.vue.operador.setup.enabled=true;
			document.addEventListener("keydown", (e) => {
				// console.log("document",e.keyCode,this.modalEnabled)
				if (e.keyCode=='13') {


					// console.log(String.fromCharCode(e.keyCode),e.keyCode,e.which);
					if (this.modalEnabled == true) {
                        if (this.isSubmit) {
                            return
                        }

                        this.isSubmit = true;

                        var self = this;

						axios.post(this.url_send_notification)
						.then(
							(response) => {
								console.log("[reponse notificarion]",response);
								var data=response.data;
								window.location.href=data.url;
							},
							(error)=>{
                                console.log("[reponse notificarion]",error);
                                self.isSubmit = false;
							}
						);
					}else{
						$('.modalConfirmar').modal('show');
						this.modalEnabled = true;
						// console.log(this.modalEnabled);
					}
				}
				if (e.keyCode == 27 && this.modalEnabled) {
					this.modalEnabled = false;
				}
			});
		},
		methods: {
			selectInput(event){
				$("#noidea").select();
			},
			close(event){
				this.modalEnabled = false;
				$('.modalConfirmar').modal('hide');
				$("#noidea").select();
			},
		}
	}
</script>
