<template>
	<div class="container-fluid container-fluid-y">
		<div class="card-group margin-main-card">
			<div class="card setup-left-c4-liberada">
				<div class="card-body setup">
					<div class="" style="height: auto;width: 100%;">
						<div class="row" >
							<div class="col text-center text-white">
								<h4 class="font-light">SETUP</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="container-progress">
									<img class="img-fluid" src="/assets/setup/Barra_de_progreso_4-1.png">
								</div>
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center text-white" style="width: 100%;">
							<div class="row">
								<div class="col">
									<p class="mb-1 pza-liberada" style="line-height: 51px;">Pieza liberada</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">

					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-right font-light color-gray close-font">
								Cerrar <img src="/assets/setup/esc_pieza_liberada.png" style="display: inline-block; width: 80px;">
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center" style="width: 100%;">
							<div class="row">
								<div class="col">
									<img src="/assets/setup/pieza_liberada.png" class="pieza_rechazada mb-3">
								</div>
							</div>
							<div class="row" style="font-size: 1.3em;">
								<div class="col">
									<p class="font-light color-gray" style="margin-left: 23%; margin-right: 23%;">
										Presiona "Enter" para iniciar <b class="font-regular">PRODUCCION</b>.
									</p>
								</div>
							</div>
                            <div class="row">
                                <div class="col my-2">
                                    <div class="spinner-border" v-if="isSubmit" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-center">
								<img src="/assets/setup/enter_pieza_liberada.png" class="img-fluid" style="height: 60px; width: auto;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<style scoped>
	#noidea{
		z-index: -5;
		background: transparent;
		border: none;
		position: absolute;
	}
	.container-fluid{
		z-index: 1;
	}
	.input-group-text{
		background-color: #FFFFFF;
		border-right: none;
	}
	.form-control-nbl{
		border-left: none;
	}
	.form-control-nbl:focus{
		box-shadow: none;
	}
	.input-group-text.is-invalid{
		border-color: #e3342f;
	}
</style>

<script>
	// require('../../../sass/setup.scss')
	export default {
		data: ()=> ({
            isSubmit: false

		}),
		props: {
			url_login_ajustador: {
				type: String,
				required: true
			},
			url_iniciaproduccion: {
				type: String,
				required: true
			}
		},
		mounted() {
			Laravel.vue.sidebar.enabled=true;
		  	document.addEventListener("keydown", (e) => {
		   		switch(e.keyCode){
		   			// enter
		   			case 13:

                        if (this.isSubmit) {
                            return
                        }
                        this.isSubmit = true;
                        var self = this;

		   				axios.post(this.url_iniciaproduccion,{job:""})
		   				.then(
		   					(response) => {
		   						var data=response.data;
		   						console.log("[reponse notificarion]",response,data);
		   						window.location.href=data.url;
		   					}
		   				).catch(error => {
                               console.log('Error de la peticion', error, error.response);
                               self.isSubmit = false;
		   				});
		   				break;
		   		}
		   });
		},
		methods: {
		}
	}
</script>
