<template>
	<div class="container-fluid container-fluid-y">
		<div class="card-group margin-main-card">
			<div class="card setup-left-c2">
				<div class="card-body setup">
					<div class="" style="height: auto;width: 100%;">
						<div class="row" >
							<div class="col text-center text-white">
								<h4 class=" font-reg">SETUP</h4>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="container-progress text-center">
                                    <img class="img-fluid" src="/assets/setup/Barra_de_progreso_2.png">
								</div>
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center text-white" style="width: 100%;">
							<div class="row">
								<div class="col">
									<p class="mb-1" style="font-size: 45px;">Ajuste</p>
									<p class="mb-1" style="font-size: 45px;">en espera</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">

					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-right font-light color-gray close-font">
								Cerrar <img src="/assets/setup/esc_ajuste.png" style="display: inline-block; width: 85px;">
							</div>
						</div>
					</div>
					<div class="valign-wrapper" style="height: 75%;width: 100%;min-height: 75%;max-height: 90%;">
						<div class="text-center" style="width: 100%;">
							<div class="row">
								<div class="col">
									<h4 class="font-light color-gray mb-3 ajustador-text">Antes de iniciar el proceso, el <b>AJUSTADOR</b> debe introducir su número de empleado y contraseña.</h4>
									<form v-on:submit.prevent="onSubmit" @submit="onSubmit" id="formAjuste" style="mar">
										<input type="text" name="antes" id="antes" autofocus="" style="background: transparent;border: none;width: 1px;height: 1px;">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.username}" id="basic-addon1"><i class="fa fa-user" aria-hidden="true" style="color: #FAA22F;"></i></span>
											</div>
											<input type="number" name="username" class="form-control form-control-nbl font-light " v-bind:class="{ 'is-invalid': errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1" id="empleado"  required="required" v-on:keypress.enter="onSubmit" min="0">
											<div class="invalid-feedback" v-if="errors.username" id="usernameFail">
												{{ this.errorsText.username }}
											</div>
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true" style="color: #FAA22F"></i></span>
											</div>
											<input type="password" name="password" class="form-control form-control-nbl font-light" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" id="password" required="required" v-on:keypress.enter="onSubmit">
											<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
												{{ this.errorsText.password }}
											</div>
										</div>
									</form>
								</div>
							</div>
                            <div class="row">
                                <div class="col my-2">
                                    <div class="spinner-border" v-if="isSubmit" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<div class="" style="height: auto;width: 100%;min-height: 10%;">
						<div class="row" >
							<div class="col text-center">


								<img src="/assets/setup/enter_ajuste.png" class="img-fluid enter">



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<style scoped>
	#noidea{
		z-index: -5;
		background: transparent;
		border: none;
		position: absolute;
	}
	.container-fluid{
		z-index: 1;
	}
	.input-group-text{
		background-color: #FFFFFF;
		border-right: none;
	}
	.form-control-nbl{
		border-left: none;
	}
	.form-control-nbl:focus{
		box-shadow: none;
	}
	.input-group-text.is-invalid{
		border-color: #e3342f;
	}
</style>

<script>
	// require('../../../sass/setup.scss')
	export default {
		data: ()=> ({
			errors:{
				username:false,
				password:false,
			},
			errorsText:{
				username:'',
				password:'',
			},
            isSubmit: false
		}),
		props: {
			url_login_ajustador: {
				type: String,
				required: true
			}
		},
		mounted() {
			Laravel.vue.operador.setup.enabled=true;
			$("#antes").focus(function (e) {
				Laravel.vue.sidebar.enabled=true;
				// console.log("[focus]",$(this).attr('id'),Laravel.vue.sidebar.enabled);
			});
			$("#antes").blur(function (e) {
				Laravel.vue.sidebar.enabled=true;
				// console.log("[blur]",$(this).attr('id'),Laravel.vue.sidebar.enabled);
			});
			$("#empleado").focus(function (e) {
		   		Laravel.vue.sidebar.enabled=false;
		   		// console.log("[focus]",$(this).attr('id'),Laravel.vue.sidebar.enabled);
			});
			$("#empleado").blur(function (e) {
		   		Laravel.vue.sidebar.enabled=true;
				// console.log("[blur]",$(this).attr('id'),Laravel.vue.sidebar.enabled);
			});
			$("#password").focus(function (e) {
				Laravel.vue.sidebar.enabled=false;
				// console.log("[focus]",$(this).attr('id'),Laravel.vue.sidebar.enabled);
			});
			$("#password").blur(function (e) {
				Laravel.vue.sidebar.enabled=true;
				// console.log("[blur]",$(this).attr('id'),Laravel.vue.sidebar.enabled);
			});
			$("#password").keydown(function (e) {
				if (e.which==9) {
					e.preventDefault();
					// $("#antes").focus();
					$("#antes").trigger("focus");
				}
			});
		},
		methods: {
			onSubmit(e){

                if (this.isSubmit) {
                    return
                }

                this.isSubmit = true;

                var self = this;

				axios.post(this.url_login_ajustador,$("#formAjuste").serialize())
				.then(
					(response) => {
						var data=response.data;
						// console.log("[reponse notificarion]",response,data);
						if (data.url!=undefined) {
							window.location.href=data.url;
						}
					}
				).catch(error => {
                    self.isSubmit = false;
					console.log(error,error.response);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
					});
				});
			}
		}
	}
</script>
