// Variables
@import 'variables';

html,body,#app,.content-nav{
	max-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	main{
		min-height: 90%;
		height: 90%;
		max-width: 100%;
	}
}
body{
	position: relative;
}
#app{
	.content-nav{
		padding-top: $nav_height; 
		max-width: $app_w;
		max-height: 100%;
		min-height:100%;
        width: inherit;
		height: 100%;
        // position: fixed;

		main{
			max-width:100%;
			min-height:100%;
			width: 100%;
			height: 100%;
			position: relative;
			.container-fluid-y{
				height: 100%;
				min-height: 100%;
				.card-group{
					height: 100%;
					// box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
					.setup-left-c1{
						background: rgba(249, 157, 75, 100);
					}
					.setup-left-c2{
						background: rgba(173, 173, 173,1);
					}
					.setup-left-c2-proceso{
						background: rgba(249, 157, 75, 100);
					}
					.setup-right-c2-proceso{
						.img-usr{
							img{
								width: 60px;
								max-width:100px;
								height: auto;
							}
						}
					}
					.setup-left-c3{
						background-color: #f9da58;
					}
					.setup-right-c3{
						.img-option{
							width: 40px;
						}
						.liberada-inactive,.rechazada-inactive,
						.liberada-active,.rechazada-active{
							font-size: 1.2em;
						}
						.liberada-inactive{
							color: #afd1c3;
						}
						.rechazada-inactive{
							color:#e8d3d3;
						}
						.liberada-active{
							color: #46bf77;
						}
						.rechazada-active{
							color:#f75c5b ;
						}
					}
					.setup{
						background: url('/assets/setup/background_setup.png');
						background-size: 75%;
						background-position: center center;
						/* Para que la imagen de fondo no se repita */
						background-repeat: no-repeat;
						/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
						// background-size: contain;
					}

				}
			}
			.modalConfirmar{
				.title{
					font-size: 1.6em;
					margin-top: 5%;
					color: rgba(250, 162, 47,1);
					font-weight: 200%;
				}
				.liberacion{
					font-size: 1.3em;
					margin: 0px 15%;
					color: rgba(250, 162, 47,1);
				}
				
			}
		}
	}
}
.setup-left-c4-liberada{
	background-color: #46bf77;
}
.setup-left-c4-rechazada{
	background-color:#f75c5b;
}
img.pieza_rechazada{
	position: relative;
	max-width: 40%;
}
.container-progress {
	width: 100%;
	margin: auto auto; 
	position: sticky;
	.progressbar {
	  margin: 0;
	  padding: 0;
	  counter-reset: step;
	}
	.progressbar li {
	  list-style-type: none;
	  width: 25%;
	  float: left;
	  font-size: 12px;
	  position: relative;
	  text-align: center;
	  text-transform: uppercase;
	  color: #7d7d7d;
	}
	.progressbar li:before {
	  width: 50px;
	  height: 50px;
	  content: counter(step);
	  counter-increment: step;
	  line-height: 50px;
	  // border: 2px solid #FFF;
	  display: block;
	  text-align: center;
	  margin: 0 auto 10px auto;
	  border-radius: 50%;
	  background-color: rgba(255,255,255,.5);
	  color: #fff;
	  font-size: 2em;

	}
	.progressbar li:after {
	  width: 100%;
	  height: 2px;
	  content: '';
	  position: absolute;
	  background-color: rgba(255,255,255,.5);
	  top: 25px;
	  left: -50%;
	  z-index: -1;
	}
	.progressbar li:first-child:after {
	  content: none;
	}
	.progressbar li.active {
	  color: green;
	}
	.progressbar li.active:before {
	  // border-color: #55b776;
	  background: white;
	  color: rgba(250, 162, 47,1);
	}
	.progressbar li.active + li:after {
	  background-color: rgba(255,255,255,1);
	}
}

.enter{
	position: relative;
	max-width: 150px;
}
@media screen and (max-width: 769px) {
	.setup-right-c3{
		.img-option{
			width: 20px;
		}
		.liberada-inactive,.rechazada-inactive,
		.liberada-active,.rechazada-active{
			font-size: 1em!important;
		}
	}
}
.close-font{
	font-size: 20px;
}

.margin-main-card{
    margin-left: 50px;
    margin-right: 50px;
}

.ajustador-text{
	font-size: 19px;
	margin: 58px;
}

.font-light {
  font-family: Montserrat-Light;
}

.font-regular{
  font-family: Montserrat-Regular;
}

.font-SemiBold {
  font-family: Monserrat-SemiBold;
}

.liberacion-font{
	margin-left: 15%;
    margin-right: 15%;
    font-size: 19px;
}

.pza-liberada{
	font-size: 50px; 
}