<template>
	<div class="col">
		<div class="card shadow">
			<div class="container-fluid" style="border: none; background: #8597AF;">
				<div class="row">
					<div class="col-12 col-sm-12 col-ms-12 col-lg-12 col-xl-12 text-center mt-3" style="border: none; background: #8597AF;">
						<p class="text-white" style="margin-bottom: 0; font-size: 30px; line-height:2rem;">100073201</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-12 col-ms-12 col-lg-12 col-xl-12 text-center" style="">
						<label class="font-regular color-gray pl-1 pr-1" style="font-size: 12px; background-color: white; border-radius: 20px; padding-left: 0.25rem; padding-right: 0.25rem;">CT-001</label>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row mb-3 mt-2">
					<div class="col-8 col-sm-8 col-ms-8 col-lg-8 col-xl-8">
						<p class="font-regular color-gray text-center" style="font-size: 14px;">Job: <b>65086</b></p>
					</div>

					<div class="col-4 col-sm-4 col-ms-4 col-lg-4 col-xl-4">
						<p class="font-regular color-gray text-center" style="font-size: 14px;">Op: <b>20</b></p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-sm-5 col-ms-5 col-lg-5 col-xl-5 ml-auto text-right">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">04 </b>
						<p class="font-light color-heavy" style="font-size: 13px;">HRS</p>
					</div>
					<div class="col-1 col-sm-1 col-ms-1 col-lg-1 col-xl-1text-center">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">:</b>
					</div>
					<div class="col-5 col-sm-5 col-ms-5 col-lg-5 col-xl-5 ml-auto text-left">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">15</b>
						<p class="font-light color-heavy" style="font-size: 13px;">MIN</p>
					</div>
				</div>
			</div>
			<div class="container-fluid py-2" style="border-top: solid 1px #E9E9E9">
				<div class="row text-center">
					<div class="col-12 col-sm-12 col-ms-12 col-lg-12 col-xl-12 text-center">
						<span class="font-regular color-heavy align-middle" style="font-size: 13px;"><b>106 Miguel López</b></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	
</script>