<template>
	<div :id="'lib_'+this.process.id" class=" " style="margin: .4rem;width: 450px;height: auto; ">
		<div class="card shadow" style="height: 450px;">
			<div class="card-body" style="padding: 0;">
				<div class="container-fluid " style="border: none; background: #8597AF; height: 30%;">
					<div class="row">
						<div class="col text-center mt-3 " style="border: none; background: #8597AF; margin-top: 2rem !important;">
							<p class="text-white " style="margin-bottom: 0; font-size: 50px; line-height:1.5rem;">{{ this.process.operation.piece.part_number }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col text-center" style="">
							<label class="font-regular color-gray pl-1 pr-1" style="font-size: 32px; background-color: white; border-radius: 20px; padding-left: 0.25rem; padding-right: 0.25rem; margin-top: 20px;">{{this.process.workcenter.num_machine}}</label>
						</div>
					</div>
				</div>
				<div class="container-fluid" style="height: 30%;">
					<div class="row mb-3 mt-2">
						<div class="col-md-7">
							<p class="font-regular color-gray text-center" style="font-size: 40px;">Job: <b>{{this.process.job.num_job}}</b></p>
						</div>

						<div class="col-md-5">
							<p class="font-regular color-gray text-center" style="font-size: 40px;">Op: <b>{{this.process.operation.operation_service}}</b></p>
						</div>
					</div>
					<div class="row">
						<div class="col-5  text-right">
							<b class="font-regular color-heavy lh-05" style="font-size: 55px;">{{this.hour}} </b>
							<p class="font-light color-heavy" style="font-size: 26px;">HRS</p>
						</div>
						<div class="col-2 text-center">
							<b class="font-regular color-heavy lh-05" style="font-size: 55px;">:</b>
						</div>
						<div class="col-5  text-left">
							<b class="font-regular color-heavy lh-05" style="font-size: 52px;">{{this.minute}}</b>
							<p class="font-light color-heavy" style="font-size: 26px;">MIN</p>
						</div>
					</div>
				</div>
				<div class="container-fluid mt-card-2 mb-card-2" style="">
					<div class="row text-center" style="margin-top: 20px;">
						<div class="col text-center ">
							<span class="font-regular color-heavy align-middle " style="font-size: 35px; "><b>{{this.process.ajustador_fa.idemployee}} {{this.process.ajustador_fa.name}}</b></span>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row text-center">
						<div class="col-6 text-center clic" style="background-color: #00D170; height: 70px" v-on:click="onSuccess(true)">
							<img class="card-img-top footer-img-cal img-lib-re" style="width: 35%;" src="/assets/solicitudes_control/liberar.png" >
						</div>
						<div class="col-6 text-center clic" style="background-color: #FD3F55; height: 70px" v-on:click="onSuccess(false)">
							<img class="card-img-top footer-img-cal img-lib-re" style="width: 35%;" src="/assets/solicitudes_control/rechazar .png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<LiberarPza></LiberarPza>
		<RechazaPza></RechazaPza>
	</div>
</template>
<style type="text/css">
	.clic:hover{
		cursor: pointer;
	}
</style>
<script>
	import LiberarPza from '../modal/LiberarPzaComponent';
	import RechazaPza from '../modal/RechazarPzaComponent';
	export default {
		data: ()=> ({
			hour:0,
			minute:0,
			success:false,
		}),
		components:{
			LiberarPza,
			RechazaPza,
		},
		props: {
			process: {
				type: Object,
				required: true
			}
		},
		mounted() {
			// console.log("process",this.process);	
			this.time_calidad();
			console.log(this.process);
			setInterval(this.time_calidad,30000)
		},
		methods: {
			onSuccess:function (success=true) {
				this.success=success;
				if (this.success) {
					$("#liberarpza"+this.process.id).modal('show')
				}else{
					console.log("yunrttt")
					$("#rechazarpza"+this.process.id).modal('show')
					
				}
				// axios.post("/calidad/liberacion/success",{process:this.process,success:success})
				// .then(
				// 	(response) => { 
				// 		var data=response.data;
				// 		$("#lib_"+this.process.id).remove();
				// 		console.log(data);
				// 	}
				// ).catch(error => {
				// 	console.log(error,error.response);
				// });
			},
			deleteProcess:function () {
				this.$parent.processes.find((actual_process,index)=>{
					if (actual_process.id==this.process.id) {
						this.$parent.processes.delete(index);
						return true;
					}
				});
			},
			time_calidad:function () {
				var nacimiento = new Date(this.process.il_created_at);
				var hoy = new Date();

				var tiempoPasado= hoy - nacimiento
				var segs = 1000;
				var mins = segs * 60;
				var hours = mins * 60;
				var days = hours * 24;
				var months = days * 30.416666666666668;
				var years = months * 12;

				//calculo 
				// var anos = Math.floor(tiempoPasado / years);
				// tiempoPasado = tiempoPasado - (anos * years);
				// var meses = Math.floor(tiempoPasado / months)

				// tiempoPasado = tiempoPasado - (meses * months);
				// var dias = Math.floor(tiempoPasado / days)

				//tiempoPasado = tiempoPasado - (dias * days);
				var horas = Math.floor(tiempoPasado / hours)

				tiempoPasado = tiempoPasado - (horas * hours);
				var minutos = Math.floor(tiempoPasado / mins)

				this.hour=horas;
				this.minute=minutos;
				// console.log('tuned');
				// tiempoPasado = tiempoPasado - (minutos * mins);
				// var segundos = Math.floor(tiempoPasado / segs)
			}
		}
	}
</script>