<template>
	<div class="col">
		<div class="card shadow">
			<div class="container-fluid" style="border: none; background: #8597AF;">
				<div class="row">
					<div class="col text-center mt-3" style="border: none; background: #8597AF;">
						<p class="text-white" style="margin-bottom: 0; font-size: 30px; line-height:1.5rem;">CT-0001</p>
						<p class="font-regular text-white" style="font-size: 10px;">P-300L-PH10 </p> 
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row mb-3 mt-2">
					<div class="col">
						<p class="font-regular color-gray text-center" style="font-size: 14px;">Job: <b>65086</b></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 ml-auto text-right">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">04 </b>
						<p class="font-light color-heavy" style="font-size: 13px;">HRS</p>
					</div>
					<div class="col-md-1 text-center">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">:</b>
					</div>
					<div class="col-md-5 ml-auto text-left">
						<b class="font-regular color-heavy lh-05" style="font-size: 40px;">15</b>
						<p class="font-light color-heavy" style="font-size: 13px;">MIN</p>
					</div>
				</div>
			</div>
			<div class="container-fluid py-2" style="border-top: solid 1px #E9E9E9">
				<div class="row text-center">
					<div class="col text-center">
						<span class="font-regular color-heavy align-middle" style="font-size: 13px;"><b>106 Miguel López</b></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	
</script>