// Variables
.content-nav {
	position: relative;
	main{
		min-height: calc(100% - 65px);
		height: auto;
		position: absolute;
		.container-fluid-y{
			height: calc(100% - 2rem)!important;
			min-height: calc( 100% - 2rem)!important;
			position: absolute;
		}
	}
}
