@font-face { 
    font-family: Montserrat-SemiBold; 
    src: url('/fonts/Montserrat-SemiBold.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Light; 
    src: url('/fonts/Montserrat-Light.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Regular; //T2
    src: url('/fonts/Montserrat-Regular.ttf'); 
} 

// Variables
@import '../jobs/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import 'node_modules/bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~font-awesome/scss/font-awesome';
@import '../jobs/sidebar';
@import '../jobs/setup';
@import '../jobs/style';
@import '../jobs/index';
@import '../jobs/modal'; 
@import '../jobs/asignados';
@import '../solicitudes_control/sidebar';
@import '../solicitudes_control/mantenimiento';