.footer-img-cal{
	position: relative;
    max-width: 100%;
    max-height: 100%;
}

.img-lib-re{
	height: auto;
	width: 50%;
	padding: 0.5rem;
}

.mt-card-2{
	padding-top: 0.2rem;
}
.mb-card-2{
	padding-bottom: 0.2rem;
}

.color-limon{
	color: #00D170;
}

.color-liberar{
	color: rgb(0, 177, 86);
}

.font-semibold{
  font-family: Montserrat-SemiBold;
}

