<template>
	<div>
		<div class="row mb-3 ">
			<div class="col color-black font-light col-12 pt-3">
				<font size="">Total en espera de liberación:</font>
				<font size="" class="col color-heavy text-right font-regular"> {{ this.processes.length }} </font>
			</div>
		</div>
		<div class="row mb-3 ">
			<card-dep-calidad-normal v-for="process in this.processes" :process="process" v-bind:key="'calidad_lib_'+process.id"></card-dep-calidad-normal>
		</div>
	</div>
</template>
<script>
	export default {
		data: ()=> ({
			processes:{

			}
		}),
		// components:{
		// 	LiberarPza,
		// 	RechazaPza,
		// },
		// props: {
		// 	processes: {
		// 		type: Array,
		// 		required: false
		// 	}
		// },
		mounted() {
			Array.prototype.insert = function ( index, item ) {
			    this.splice( index, 0, item );
			};
			Array.prototype.delete = function ( index) {
				// Delete a item at index
			    this.splice( index, 1);
			};
			window.Echo.private('calidad').listen('CalidadEvent', (e) => {

                this.getProcess();

			});
			this.getProcess();
		},
		methods: {
			getProcess:function () {
				axios.post("calidad/getProcessLiberacion",{})
				.then(
					(response) => {
						var data=response.data;
						this.processes=data;
						console.log("processes",data);
					}
				).catch(error => {
					console.log(error,error.response);
				});
			},


		}
	}
</script>
