<template>
	<div>
		<div class="row mb-3 ">
			<div class="col color-black font-light col-12 pt-3">
				<font size="23">Total en espera de liberación:</font>
				<font size="23" class="col color-heavy text-right font-regular"> {{ this.processes.length }} </font>
			</div>
		</div>
		<div class="row mb-3 ">
			<card-dep-calidad-component v-for="process in this.processes" :process="process" v-bind:key="'calidad_lib_'+process.id"></card-dep-calidad-component>
		</div>
	</div>
</template>
<script>
	export default {
		data: ()=> ({
			processes:{

			}
		}),
		// components:{
		// 	LiberarPza,
		// 	RechazaPza,
		// },
		// props: {
		// 	processes: {
		// 		type: Array,
		// 		required: false
		// 	}
		// },
		mounted() {
			console.log("calidad");
			Array.prototype.insert = function ( index, item ) {
			    this.splice( index, 0, item );
			};
			window.Echo.private('calidad').listen('CalidadEvent', (e) => {
				// console.log(e.process);
				this.processes.insert(this.processes.length,e.process);
			});
			this.getProcess();
		},
		methods: {
			getProcess:function () {
				axios.post("calidad/getProcessLiberacion",{})
				.then(
					(response) => { 
						var data=response.data;
						this.processes=data;
						// console.log("processes",data);
					}
				).catch(error => {
					console.log(error,error.response);
				});
			},
			deleteProcess:function () {
				this.$parent.processes.find((actual_process,index)=>{
					if (actual_process.id==this.process.id) {
						this.$parent.processes.delete(index);
						return true;
					}
				});
			},
		}
	}
</script>