<template>
	<div>
		<div id="modalCapeando" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content capeando">
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col text-right color-gray font-light">
									Cerrar <img src="/assets/operador/esc.png" width="85px">
								</div>
							</div>
							<div class="row">
								<div class="col text-center">
									<h4>Capeando</h4>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="card-group">
										<div class="card noborder">
											<div class="card-body">
												<cncCardComponent></cncCardComponent>
											</div>
										</div>
										<div class="card noborder">
											<div class="card-body">
												<div class="text-center color-gray font-regular lh-03">
													<p class="lh-03">El <b>SUPERVISOR DE PRODUCCIÓN</b> debe</p> 
													<p class="lh-03">confirmar la operación de la cual depende</p> 
													<p class="lh-03">este Job y autorizar el cambio con su</p> 
													<p class="lh-03">número de empleado y contraseña.</p>
												</div>
												<form id="formCapeandoLogin" class="ml-4 mr-4 mt-4"  @submit="onSubmit">
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<span class="input-group-text" v-bind:class="{ 'is-invalid': this.errors.username}" id="basic-addon1"><i class="fa fa-user color-heavy" aria-hidden="true"></i></span>
														</div>
														<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': this.errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1"  autofocus="" required="required"  v-on:keypress.enter="onSubmit" min="0" id="usernameCap">

														<div class="invalid-feedback" v-if="this.errors.username" id="usernameFailCap" >
															{{ this.errorsText.username }}
														</div>
													</div>
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock color-heavy" aria-hidden="true"></i></span>
														</div>
														<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1"  required="required" v-on:keypress.enter="onSubmit" id="passwordCap">

														<div class="invalid-feedback" v-if="errors.password" id="passwordFailCap">
															{{ this.errorsText.password }}
														</div>

													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="text-center">
										<img src="/assets/operador/enter.png" width="125px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ValidarComponent></ValidarComponent>
	</div>
</template>
<script>
	import CncCardComponent from '../cards/CncCardComponent';
	import ValidarComponent from '../modals/ValidarComponent';
	export default{
		name: "Capeando",
		components:{
			CncCardComponent,
			ValidarComponent
		},
		data: ()=> ({
			url:"/operador/capeando/login",
			errors:{
				username:false,
				password:false,
			},
			errorsText:{
				username:'',
				password:'',
			},
			process:Laravel.vue.process,

		}),
		methods:{
			onSubmit(e){
				// console.log(Laravel.vue.operador.url_login_pause);
				axios.post(this.url,$("#formCapeandoLogin").serialize()+"&job_id="+Laravel.vue.job.id+"&last_process_id="+this.process.id+"&pieceCount="+Laravel.vue.pieceCount+"&process_id="+Laravel.vue.process.id+"&num_job="+Laravel.vue.job.num_job)
				.then(
					(response) => { 
						var data=response.data;
						this.errors.username=false;
						this.errors.password=false;
						Laravel.vue.operation=data.operation;
						// $("#modalCapeando").modal('hide');
						// $("#modalValidar").modal('show');
						window.location.reload();
						console.log(data);
						// this.url_login_pause=data.url;
					}
				).catch(error => {
					console.log(error,error.response);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
					});
				});
			},
		},
		mounted(){

			$("#modalCapeando").on('shown.bs.modal', (e) => {
				Laravel.vue.operador.capeando.enabled=false;
				Laravel.vue.operador.pausa.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
				$("#usernameCap").select();
			});

			$("#modalCapeando").on('hidden.bs.modal',(e)=> {
				Laravel.vue.operador.capeando.enabled=true;
				Laravel.vue.operador.pausa.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
				$("#usernameCap").val("");
				$("#passwordCap").val("");
			});
			
		}
	  }
	
</script>