 	<template>
	<div>
		<div id="modalConfirmarScraps" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document" style="height: 4rem;">
				<div class="modal-content capeando">
					<div class="modal-body">
						<div class="container-fluid" style="">
							<div class="row">
								<div class="col text-right color-gray font-light fs-18">
									Cerrar <img src="/assets/operador/esc.png" width="85px">
								</div>
							</div>
							<div class="row mt-4">
								<div class="col text-center font-light color-gray">
									<p class="lh-05 fs-20"><b>¿La información </b></p>
								    <p class="lh-05 fs-20"><b>es correcta? </b></p>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col text-center">
								<p class="font-light color-gray fs-20"> Scraps:  <b class="font-regular color-heavy" id="scrapsVerify">{{ this.$parent.pieceCount }}</b></p>
								</div>
							</div>
                            <div class="row my-2">
                                <div class="col text-center">
                                    <div class="spinner-border" role="status" v-if="isSubmit">
                                        <div class="sr-only">Cargando...</div>
                                    </div>
                                </div>
                            </div>
							<div class="row mt-3">
								<div class="col">
									<div class="text-center">
										<img src="/assets/operador/enter.png" width="125px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<resultadosBueno ></resultadosBueno>
		<resultadosRegular ></resultadosRegular>
		<resultadosMalo ></resultadosMalo>
	</div>
</template>
<script>
	import  resultadosBueno from "./ResultadosBuenoComponent";
	import  resultadosRegular from "./ResultadosRegularComponent";
	import  resultadosMalo from "./ResultadosMaloComponent";
	export default{

		name: "confirmarScraps",
		components:{
			resultadosBueno,
			resultadosRegular,
			resultadosMalo
		},
		data: ()=> ({
            promedio: 0,
            isSubmit: false,
		}),
		mounted(){
			$("#modalConfirmarScraps").on('shown.bs.modal', (e) => {
				Laravel.vue.sidebar.terminar.scraps.confirmar=true;
				Laravel.vue.sidebar.dibujo.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
				$("#scrapsVerify").empty();
				$("#scrapsVerify").append($("#modalNumScraps").val());
			});

			$("#modalConfirmarScraps").on('hidden.bs.modal',(e)=> {
				Laravel.vue.sidebar.terminar.scraps.confirmar=false;
				Laravel.vue.sidebar.dibujo.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
			});
			document.addEventListener("keydown", (e) => {
				if (Laravel.vue.sidebar.terminar.scraps.confirmar) {
					switch(e.keyCode){
						// ENTER
						case 13:

                            if (this.isSubmit) {
                                return;
                            }

                            this.isSubmit = true;

							var data_send = {
								'pieceCount': this.$parent.pieceCount,
								'pieceTotal': this.$parent.pieceTotal,
								'scraps': this.$parent.scraps,
								'process':Laravel.vue.process,
                            };

                            var self = this;

							axios.post("/operador/scraps",data_send)
							.then(
								(response) => {
                                    var data = response.data;

                                    console.log(data);

                                    this.promedio=data.productividad;

									// if (this.promedio >= 100) {
                                    //     this.promedio = 100;
                                    // }

									// var promedio=70;
									$("#modalConfirmarScraps").modal('hide');
									if (this.promedio>=Laravel.vue.parametros.verde){
										$("#modalResultadosBueno").modal('show');
									}else if (this.promedio>=Laravel.vue.parametros.amarillo){
										$("#resultadosRegular").modal('show');
									}else{
										$("#resultadosMalo").modal('show');
                                    }

                                    setTimeout(() => {
                                        self.logout();
                                    }, 1000);

								}
							).catch(error => {
                                console.log("error",error);
                                self.isSubmit = false;
							});
							break;
					}
				}
				// console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
			});
		},
		methods: {
			onSubmit(e){
				e.preventDefault();
			},
			logout(){
				// unsubscribe();
				axios.post("/operador/logout", {
                    process: Laravel.vue.process,
                    user: Laravel.user,
                    finalizar: Laravel.vue.sidebar.finalizar
                })
				.then(
					response => {
						console.log(response);
						var data=response.data;
						window.location.href="/logout";
					},

				).catch(error => {
                    console.log('Error', error)
                });
			}
		}
	}
</script>
