<template>
	<div>
        <div class="modal fade" id="modalDibujo" tabindex="-1" role="dialog" aria-labelledby="modalDibujoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDibujoLabel">Ver documento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <embed
                            width="100%"
                            name="plugin"
                            :id="'plugin'+this.$parent.process.id"
                            :src="this.url+'?a='+Math.random().toString(36).substring(0,2)+'#toolbar=1&zoom=auto'"
                            type="application/pdf"
                            internalinstanceid="141"
                        >
                    </div>
                </div>
            </div>
        </div>
		<!-- <div id="modalDibujo" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="max-width: 90%!important;">
				<div class="modal-content" style="height: -webkit-fill-available;background: transparent;border: none;">
					<div class="modal-body" style="padding: 0px;background: transparent;">
						<div id="esc_modal_dibujo" class="text-right" style="width: 100%;display: block;position: absolute;top:0px;">
							<span  class="font-light fs-18" style="color:white;">Cerrar</span>
							<img src="/assets/operador/esc.png" width="85px">
						</div>
						<embed width="100%" name="plugin" id="plugin" :src="this.url+'?a='+Math.random().toString(36).substring(0,2)+'#toolbar=1&zoom=auto'" type="application/pdf" internalinstanceid="141"  style="position: absolute;top:60px;">
					</div>
				</div>

			</div>
		</div> -->
	</div>
</template>
<script>
	export default{
		name: "DibujoTecnico",
		components:{

		},

		props:{

		},
		data: ()=> ({
			url:0,
		}),
		mounted(){
			$("#modalDibujo").on('shown.bs.modal', (e) => {
				// Laravel.vue.sidebar.dibujo.enabled=true;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
				// $("#plugin").css('top',$("#esc_modal_dibujo").height());
				// $("#plugin").css('height',"calc( 100% - "+$("#esc_modal_dibujo").height()+"px )");
				// $("#plugin").select();
				// $("#plugin").focus();
				var data={
					process: Laravel.vue.process,
					mot:Laravel.vue.sidebar.mot.enabled,
					dibujo:Laravel.vue.sidebar.dibujo.enabled,
					plan:Laravel.vue.sidebar.plan.enabled,
				};
				axios.post("/operador/getDibujoTecnico",data)
				.then(
					(response) => {
						// console.log("[modalDibujo]",response.data);
                        this.url = response.data.url;

						if (!this.url) {
							this.url="/not-found.pdf";
                        }

					}
				).catch(error => {
					console.log("error", error);
				});
            });

			$("#modalDibujo").on('hidden.bs.modal',(e)=> {
				Laravel.vue.sidebar.dibujo.enabled=true;
				Laravel.vue.sidebar.plan.enabled=true;
				Laravel.vue.sidebar.mot.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
			});

			document.addEventListener("keydown", (e) => {
				if (Laravel.vue.sidebar.dibujo.enabled && !Laravel.vue.sidebar.enabled) {
					switch(e.keyCode){
						// ENTER
						case 13:
							// window.location.reload();
							break;
					}
				}
				// console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
			});
		}
	}

</script>
<style lang="scss" scoped>
.modal-dialog {
    max-width: 1200px;
        height: 80%;
    .modal-content {
        height: 100%;
    }
    embed {
        height: 100%;
    }
}
</style>
