<template>
	<div id="faltaMaterial" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
			<div class="modal-content">
					<div class="card-group">
					<div class="card color-red">
							<div class="row">
							<div class="col text-center mt-3">
								<b class="font-regular fs-18" >PAUSA</b>
							</div>
							</div>
						<div class="card pausa-backg background-pausa size-card">
							<div class="card-body valign-wrapper">
							<div class="no-valign-wrapper text-center" style="font-size: 40px;">
								<p class="lh-2">Falta de</p>
								<p class="lh-2">Material</p>
							</div>
						</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body ">
							<div class="text-right font-light color-gray fs-16">
								Cerrar
								<img src="/assets/setup/esc_pieza_rechazada.png" style="width: auto;height: 45px;font-size: 18px;">
							</div>
							<div class="card pausa">
							<div class="card-body valign-wrapper" style="height: 18rem;">
							<div class="no-valign-wrapper text-center">
								<p class="lh-05 fs-18 text-center font-light color-gray">
								Presiona "Enter" cuando hayas </p>
								<p class="lh-05 fs-18 font-light color-gray">terminado el proceso.</p>
							</div>
						</div>
                        <div class="text-center my-3" v-if="isSubmit">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
						</div>
							<div class="text-center">
								<img src="/assets/operador/enter pausa.png" width="125px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default{
        name: "FaltaMaterial",
        data() {
            return {
                isSubmit: false
            }
        },
		mounted(){
			if (Laravel.vue.process.status=='pfm') {
				$("#faltaMaterial").modal('show');
			}
			document.addEventListener("keydown", (e) => {
				if (Laravel.vue.operador.pausa.material.enabled) {
					switch(e.keyCode){
						// Enter
						case 13:
                            if (this.isSubmit) {
                                return;
                            }
                            this.isSubmit = true;
                            var self = this;
							axios.post("/operador/pausa/material/finalizar",{})
							.then(
								(response) => {
									var data=response.data;
									console.log(data);
									$("#faltaMaterial").modal('hide');
								}
							).catch(error => {

                            })
                            .then(response => {
                                setTimeout(() => self.isSubmit  = false, 1000);
                            });
						// $("#scraps").modal('show');
						break;
					}
				}
			});
			$("#faltaMaterial").on('shown.bs.modal', (e) => {
				Laravel.vue.operador.pausa.material.enabled=true;
				Laravel.vue.operador.capeando.enabled=false;
				Laravel.vue.operador.pausa.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
				$("#SelectPauseOption").focus();
			});

			$("#faltaMaterial").on('hidden.bs.modal',(e)=> {
				Laravel.vue.operador.pausa.material.enabled=false;
				Laravel.vue.operador.capeando.enabled=true;
				Laravel.vue.operador.pausa.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
			});
		}
	}
</script>
