<template>
	<div>
		<div id="finalizar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered" role="document" style="height: 4rem;">
				<div class="modal-content capeando">
					<div class="modal-body">
						<div class="container-fluid" style="">
							<div class="row">
								<div class="col text-right color-gray font-light fs-18">
									Cerrar <img src="/assets/setup/esc_pieza_rechazada.png" width="85px">
								</div>
							</div>
							<div class="row mt-4">
								<div class="col text-center color-gray">
									<p class="font-regular fs-20">¿La información es correcta?</p>
									<p class="form-red font-regular fs-25 lh-05">
										<b>Finalizar</b>
									</p>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col text-center font-regular color-gray fs-20">
									<p class="lh-05">El mantenimiento ha terminado; se</p>
									<p class="lh-05">puede continuar con la producción.</p>
								</div>
							</div>
                            <div class="row" v-if="isSubmit">
                                <div class="text-center my-3 col">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
							<div class="row mt-3">
								<div class="col">
									<div class="text-center">
										<img src="/assets/setup/enter_pieza_rechazada.png" width="125px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		name: "Finalizar",
		data() {
            return {
                user: Laravel.user,
                enabled: false,
                isSubmit: false,
            }
        },
		mounted(){
			$("#finalizar").on('shown.bs.modal', (e) => {
				// Laravel.vue.operador.pausa.mantenimiento.enabled=true;
				// Laravel.vue.operador.capeando.enabled=false;
				// Laravel.vue.operador.pausa.enabled=false;
				// Laravel.vue.operador.enabled=false;
				// Laravel.vue.sidebar.enabled=false;
				this.enabled = true;
			});

			$("#finalizar").on('hidden.bs.modal',(e)=> {
				// Laravel.vue.operador.pausa.mantenimiento.enabled=false;
				// Laravel.vue.operador.capeando.enabled=true;
				// Laravel.vue.operador.pausa.enabled=true;
				// Laravel.vue.operador.enabled=true;
				// Laravel.vue.sidebar.enabled=true;
				this.enabled = false;
            });
            var self = this;
			document.addEventListener("keydown", (e) => {
				if (this.enabled) {
					switch(e.keyCode){
						// Enter
						case 13:

                            if (this.isSubmit) {
                                return;
                            }

                            this.isSubmit = true;

                            var data = self.$parent.data;
                            let workcenter_id = this.$parent.$parent.workcenter.id;

                            data += `&newtype=${self.$parent.tipo.nombre}&workcenter_id=${workcenter_id}`;

							axios.post("/operador/pausa/mantenimiento/finalizar", data)
							.then(response => {

									var data = response.data;
                                    $("#finalizar").modal('hide');
                                    setTimeout(() => { self.isSubmit = false } , 1000);
                                    window.location.href = '/logout';

                            })
                            .catch(error => {
								// console.log(error);
								// this.errors.username=false;
								// this.errors.password=false;
								// $.each(error.response.data.errors, (input, errorText) => {
								// 	this.errors[input]=true;
								// 	this.errorsText[input]=errorText[0];
                                // });
                                self.isSubmit = false;
							});
							break;
						case 27:
							$("#finalizar").modal('hide');
							$("#mantenimientoProceso").modal('show');
							break;
					}
				}
			});
		},
		methods: {

		}

	}
</script>
