<template>
	<div>
		<div id="mantenimientoProceso" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="card-group">
						<div class="card color-red">
							<div class="row">
								<div class="col text-center mt-3">
									<b class="font-regular fs-18" >PAUSA</b>
								</div>
							</div>
							<div class="card pausa-backg background-pausa size-card">
								<div class="card-body valign-wrapper">
									<div class="no-valign-wrapper text-center" style="font-size: 40px;">
										<p class="lh-15">Mantenimiento</p>
										<p class="lh-15">en proceso</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body p-3">
								<div class="sidenav_usuario">
									<div class="img-usr text-center">
										<div class="text-right font-light color-gray skip-right">
										Cerrar
											<img src="/assets/setup/esc_pieza_rechazada.png" class="text-right"
										style="width: auto;height: 45px;">
										</div>
											<img src="/assets/operador/empty_profile_pausa_border2.png" class="rounded-circle" style="height:5rem;">
									</div>
									<div class="text-center font-medium form-red fs-16 mt-1">
										{{this.$parent.user_mantenimiento.name}} {{this.$parent.user_mantenimiento.firtsname}}
									</div>
									<div class="text-center font-light color-gray" style="border-bottom: 1px solid #C4C4C4;">
										No. Usuario: <span class="color-heavy form-red">{{this.$parent.user_mantenimiento.idemployee}}</span>
									</div>
								</div>
								<div class="font-light color-gray mt-3 fs-16 text-center">
									<p class="lh-05">Al terminar el proceso,<b class="font-regular"> MANTENIMIENTO</b> debe </p>
									<p class="lh-05"> introducir su número de empleado y contraseña.</p>
								</div>
								<form id="formMantenimientoProceso" class="pl-3 pr-3">
									<div class="input-group mb-3">
										<div class="input-group">
											<textarea class="form-control font-light" v-bind:class="{ 'is-invalid': errors.comment}"  name="comment" id="comment" placeholder="Por favor escribe tus comentarios" rows="3"></textarea>
											<div class="invalid-feedback" v-if="errors.comment" id="commentFail" >
												{{ this.errorsText.comment }}
											</div>
										</div>
									</div>

                                    <div class="form-group">
                                        <label for="tipo_mantenimiento">Tipo de mantenimiento</label>
                                        <select v-model="tipo_mantenimiento" name="tipo_mantenimiento" class="form-control" :class="{ 'is-invalid' : validateErrors.tipo_mantenimiento.length > 0 }" id="tipo_mantenimiento">
                                            <option value="" selected>Elija un tipo de mantenimiento</option>
                                            <option :value="type" v-for="(type, index) of tipos_mantenimiento" :key="index">{{ type }}</option>
                                        </select>
                                        <div class="invalid-feedback" v-if="validateErrors.tipo.length > 0">
                                            {{ validateErrors.tipo[0] }}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="tipo">Tipo de falla</label>
                                            <select v-model="tipo" name="type" class="form-control" :class="{ 'is-invalid' : validateErrors.tipo.length > 0 }">
                                                <option value="" selected>Elija un tipo de falla</option>
                                                <option :value="type" v-for="(type, index) of tiposFallas" :key="index">{{ type.nombre }}</option>
                                            </select>
                                            <div class="invalid-feedback" v-if="validateErrors.tipo.length > 0">
                                                {{ validateErrors.tipo[0] }}
                                            </div>
                                        </div>

                                        <div class="form-group col-6">
                                            <label for="tipo">Concepto</label>
                                            <select v-model="concepto" name="concepto" class="form-control" :class="{ 'is-invalid' : validateErrors.concepto.length > 0 }">
                                                <template v-if="tipo">
                                                    <option v-for="(concept, index) of tipo.conceptos" :selected="index == 0" :key="index">{{ concept.falla }}</option>
                                                </template>
                                                <template v-else>
                                                    <option value="" disabled selected>Elija una concepto</option>
                                                </template>
                                            </select>
                                            <div class="invalid-feedback" v-if="validateErrors.concepto.length > 0">
                                                {{ validateErrors.concepto[0] }}
                                            </div>
                                        </div>
                                    </div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.username}" id="basic-addon1"><i class="fa fa-user form-red" aria-hidden="true" style=""></i></span>
										</div>
										<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1" autofocus="" required="required" min="0" id="usernameManProc">
										<div class="invalid-feedback" v-if="errors.username" id="usernameFail">
											{{ this.errorsText.username }}
										</div>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock form-red" aria-hidden="true" style=""></i></span>
										</div>
										<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" required="required">
										<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
											{{ this.errorsText.password }}
										</div>
									</div>
								</form>
								<div class="text-center">

									<button type="button" class="btn btn-lg text-white rounded-pill" style="background: #FD3F55"  v-on:click="onSubmit(0)" >Finalizar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<Finalizar></Finalizar>
	</div>
</template>

<script>

	import Soporte from "./SoporteComponent";
	import Finalizar from "./FinalizarComponent";
	export default{
		name: "MantenimientoProceso",
		components:{
			Soporte,
			Finalizar,
        },
        props: ['workcenter'],
		data: ()=> ({
			user: Laravel.user,
			errors: {
				comment:false,
				username:false,
                password:false,
			},
			errorsText: {
				comment: '',
				username: '',
            password: '',
			},
			support:false,
            data:"",
            tipo: '',
            concepto: '',
            tipo_mantenimiento: '',
            validateErrors: {
                tipo: [],
                concepto: [],
                tipo_mantenimiento: [],
            },
            pausaMotivo: ['Mantenimiento'],
            tiposFallas: [
                {
                    nombre: 'Mecánicas',
                    conceptos: [
                        {
                            falla: 'ATC'
                        },
                        {
                            falla: 'Bancada'
                        },
                        {
                            falla: 'Cabina'
                        },
                        {
                            falla: 'Chuck'
                        },
                        {
                            falla: 'Contrapunto'
                        },
                        {
                            falla: 'Conveyor'
                        },
                        {
                            falla: 'Eje A'
                        },
                        {
                            falla: 'Eje B'
                        },
                        {
                            falla: 'Eje C'
                        },
                        {
                            falla: 'Eje W'
                        },
                        {
                            falla: 'Eje X'
                        },
                        {
                            falla: 'Eje Y'
                        },
                        {
                            falla: 'Eje Z'
                        },
                        {
                            falla: 'Fugas de aceite'
                        },
                        {
                            falla: 'Fugas de aire'
                        },
                        {
                            falla: 'Fugas de soluble'
                        },
                        {
                            falla: 'Guardas Telescopicas'
                        },
                        {
                            falla: 'Husillo'
                        },
                        {
                            falla: 'Luneta'
                        },
                        {
                            falla: 'Magazine'
                        },
                        {
                            falla: 'Pallet'
                        },
                        {
                            falla: 'puente'
                        },
                        {
                            falla: 'Sistema de Enfriamiento (Soluble)'
                        },
                        {
                            falla: 'Sistema de Lubricacion'
                        },
                        {
                            falla: 'Sistema hidraúlico'
                        },
                        {
                            falla: 'Torreta'
                        }
                    ]
                },
                {
                    nombre: 'Eléctricas/Electrónicas',
                    conceptos: [
                        {
                            falla: 'Baterías'
                        },
                        {
                            falla: 'Brazo Q-Setter'
                        },
                        {
                            falla: 'Chiller'
                        },
                        {
                            falla: 'Conectores'
                        },
                        {
                            falla: 'Contactores, Interruptores y Relevadores'
                        },
                        {
                            falla: 'Corto Circuito'
                        },
                        {
                            falla: 'Drive de Ejes'
                        },
                        {
                            falla: 'Drive de Husillo'
                        },
                        {
                            falla: 'Encoders'
                        },
                        {
                            falla: 'Fuente de Poder'
                        },
                        {
                            falla: 'Fusibles'
                        },
                        {
                            falla: 'Iluminacion'
                        },
                        {
                            falla: 'Sensores'
                        },
                        {
                            falla: 'Servomotores'
                        },
                        {
                            falla: 'Tarjetas Electronicas',
                        },
                        {
                            falla: 'Valvulas Solenoides'
                        },
                        {
                            falla: 'Ventiladores'
                        }
                    ]
                }
            ],
            tipos_mantenimiento: [
                'Correctivo temporal',
                'Preventivo',
                'Correctivo permanente',
            ]
		}),
		mounted(){

			if (this.workcenter.on_maintenance && this.workcenter.support) {
			 	$("#mantenimientoProceso").modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                });
            }

            let workcenter_id = this.$parent.workcenter.id;

			$("#mantenimientoProceso").on('shown.bs.modal', (e) => {
				axios.post("/operador/pausa/mantenimiento/getUserMantenimiento", {
                    workcenter_id: workcenter_id
                })
				.then(response => {

                    let data = response.data;
                    this.$parent.user_mantenimiento = data.user_mantenimiento;

                })
                .catch(error => {
                    alert('Ha ocurrido un error, intente de nuevo')
				});

				$(".form-control").val('');
				$("#comment").select();
			});

			// $("#mantenimientoProceso").on('hidden.bs.modal',(e)=> {
				// Laravel.vue.operador.pausa.mantenimiento.enabled=false;
				// Laravel.vue.operador.capeando.enabled=true;
				// Laravel.vue.operador.pausa.enabled=true;
				// Laravel.vue.operador.enabled=true;
				// Laravel.vue.sidebar.enabled=true;
			// });
		},
		methods: {
            fallasValidate() {

                this.validateErrors.concepto = [];
                this.validateErrors.tipo = [];
                this.validateErrors.tipo_mantenimiento = [];

                if (this.concepto == "") {
                    this.validateErrors.concepto.push("Debe elejir un concepto");
                }
                if (this.tipo == "") {
                    this.validateErrors.tipo.push("Debe elejir un tipo de falla");
                }
                if (this.tipo_mantenimiento == "") {
                    this.validateErrors.tipo_mantenimiento.push("Debe elejir un tipo de mantenimiento");
                }


            },
			onSubmit(support) {

                this.fallasValidate();

                if (this.validateErrors.concepto.length > 0 || this.validateErrors.tipo.length > 0 || this.validateErrors.tipo_mantenimiento.length > 0) {
                    return;
                }

				this.support=support;
				this.data=$("#formMantenimientoProceso").serialize()+"&support="+this.support;

				axios.post("/operador/pausa/mantenimiento/finalizar_valid_credential",this.data)
				.then(
					(response) => {
						var data=response.data;
						if (support) {
							$("#mantenimientoProceso").modal('hide');
							$("#soporte").modal('show');
						}else{
							$("#finalizar").modal('show');
							$("#mantenimientoProceso").modal('hide');
						}
						// console.log(data);
					}
				).catch(error => {
					console.log(error);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors, (input, errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
					});
				});
			},
		}

	}

</script>
