<template>
	<div>
		<div id="mantenimientoEspera" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="card-group">
						<div class="card back-gray">
								<div class="row">
								<div class="col text-center mt-3">
									<p style="font-size: 18px;">PAUSA</p>
								</div>
								</div>
							<div class="card pausa-backg background-pausa size-card">
								<div class="card-body valign-wrapper">
								<div class="no-valign-wrapper text-center" style="font-size: 40px;">
									<p class="lh-15">Mantenimiento</p>
									<p class="lh-15">en espera</p>
								</div>
							</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body ">
								<div class="text-right font-light color-gray fs-16">
									Cerrar
									<img src="/assets/setup/esc_pieza_rechazada.png" style="width: auto;height: 45px;font-size: 18px;">

								</div>
								<div class="card pausa">
									<div class="card-body valign-wrapper" style="height: 18rem;">
										<div class="no-valign-wrapper text-center">
											<div class="card noborder">
												<div class="text-center font-light color-gray mb-3">
													<p class="lh-05 fs-18"> Antes de iniciar el proceso, </p>
													<p class="lh-05 fs-18"><b>MANTENIMIENTO</b> debe introducir</p>
													<p class="lh-05 fs-18"> su número de empleado </p>
													<p class="lh-05 fs-18"> y contraseña. </p>

												</div>
												<form id="formMantenimiento" v-on:submit.prevent="onSubmit" @submit="onSubmit">
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<span class="input-group-text" v-bind:class="{ 'is-invalid': this.errors.username}" id="basic-addon1"><i class="fa fa-user form-red" aria-hidden="true"></i></span>
														</div>
														<input type="number" name="username" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': this.errors.username}" placeholder="Número de empleado" aria-label="Número de empleado" aria-describedby="basic-addon1"  autofocus="" required="required"  v-on:keypress.enter="onSubmit" min="0" id="usernameManEsp">

														<div class="invalid-feedback" v-if="this.errors.username" id="usernameFail" >
															{{ this.errorsText.username }}
														</div>
													</div>
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<span class="input-group-text" v-bind:class="{ 'is-invalid': errors.password}" id="basic-addon1"><i class="fa fa-lock form-red" aria-hidden="true"></i></span>
														</div>
														<input type="password" name="password" class="form-control form-control-nbl font-light color-gray" v-bind:class="{ 'is-invalid': errors.password}" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1"  required="required" v-on:keypress.enter="onSubmit">

														<div class="invalid-feedback" v-if="errors.password" id="passwordFail">
															{{ this.errorsText.password }}
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center my-2" v-if="isSubmit">
									<div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
								</div>
								<div class="text-center">
									<img src="/assets/operador/enter pausa.png" width="125px">
								</div>
                                <p class="text-center mb-0">Comentario del operador</p>
                                <p>
                                    {{ pause.comments ? pause.comments : 'El operador no proporcionó comentarios' }}
                                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<MantenimientoProceso :workcenter="workcenter"></MantenimientoProceso>
	</div>
</template>

<script>
	import MantenimientoProceso from "../modals/MantenimientoProcesoComponent";

	export default{
		name: "Mantenimiento",
		components:{
			MantenimientoProceso
        },
        props: ['initial_workcenter'],
		data() {
            return {
                workcenter: this.initial_workcenter,
                user:Laravel.user,
                user_mantenimiento:{
                    name:'',
                    firstname:'',
                    idemployee:'',

                },
                url_login_pause:"",

                errors:{
                    username:false,
                    password:false,
                },
                errorsText:{
                    username:'',
                    password:'',
                },
                pause: null,
                isSubmit: false
            }
        },
        created() {
            this.pause = this.workcenter.pauses[0];
        },
		mounted() {

			if (this.workcenter.on_maintenance && !this.workcenter.support) {
			 	$("#mantenimientoEspera").modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                });
            }

			$("#mantenimientoEspera").on('shown.bs.modal', (e) => {
				// axios.post("/operador/pausa/mantenimiento/getUserMantenimiento",{process:Laravel.vue.process})
				// .then(
				// 	(response) => {
				// 		var data=response.data;
				// 		this.user_mantenimiento=data.user_mantenimiento;
				// 	}
				// ).catch(error => {
				// 	console.log(error,error.response);
				// });
				// Laravel.vue.operador.pausa.mantenimiento.enabled=true;
				// Laravel.vue.operador.pausa.enabled=false;
				// Laravel.vue.operador.capeando.enabled=false;
				// Laravel.vue.operador.enabled=false;
				// Laravel.vue.sidebar.enabled=false;
				$("[input]").val("");
				$("#usernameManEsp").select();
				$(".form-control").val('');

			});

			$("#mantenimientoEspera").on('hidden.bs.modal',(e)=> {
				// Laravel.vue.operador.pausa.mantenimiento.enabled = false;
				// Laravel.vue.operador.pausa.enabled=true;
				// Laravel.vue.operador.capeando.enabled=true;
				// Laravel.vue.operador.enabled=true;
				// Laravel.vue.sidebar.enabled=true;
			});
        },
        methods: {
			onSubmit(e){

                if (this.isSubmit) {
                    return;
                }

                this.isSubmit = true;

                var self = this;

                axios.post("/operador/pausa/mantenimiento/espera",
                    $("#formMantenimiento").serialize() + "&workcenter_id=" + this.workcenter.id
                )
				.then(response => {
						var data=response.data;
						console.log("[mantenimientoEspera login]",data);
						this.url_login_pause=data.url;
						this.user_mantenimiento=data.user_mantenimiento;
						$("#mantenimientoEspera").modal('hide');
						$("#mantenimientoProceso").modal('show');

                })
                .catch(error => {
					console.log(error,error.response);
					this.errors.username=false;
					this.errors.password=false;
					$.each(error.response.data.errors,(input,errorText)=>{
						this.errors[input]=true;
						this.errorsText[input]=errorText[0];
					});
                })
                .then(response => {

                    setTimeout(() => {
						self.isSubmit = false;
					}, 1000);

                });
			}
		}
	}

</script>
