<template>
	<div>
		<div id="pausa" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content">
						<div class="card-group">
						<div class="card color-red">
							<div class="card pausa-backg background-pausa" style="height:27rem;">
								<div class="card-body valign-wrapper">
								<div class="no-valign-wrapper text-center pausa-text">
									Pausa
								</div>
							</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body ">
                                <div class="text-right font-light color-gray fs-16">
                                    Cerrar
                                    <img src="/assets/setup/esc_pieza_rechazada.png" style="width: auto;height: 45px; font-size: 18px;">
                                </div>
                                <div class="card pausa">
                                    <div class="card-body valign-wrapper" style="height: 18rem;">
                                        <div class="no-valign-wrapper">
                                            <p class="text-center font-light color-gray fs-18 lh-05">Por favor selecciona con las flechas </p>
                                            <p class="text-center font-light color-gray fs-18 lh-05">la razón correspondiente y presiona</p>
                                            <p class="text-center font-light color-gray fs-18 lh-05">"Enter" para confirmar.</p>

                                            <form id="formMotivoPausa" class="mt-4">
                                                <select multiple v-model="pausaMotivo" id="SelectPauseOption" class="form-control" v-on:keypress.enter="onSubmit">
                                                    <option v-if="!this.$parent.workcenter.on_maintenance" class="fs-18 color-gray" value="Mantenimiento" selected>Mantenimiento</option>
                                                    <option class="fs-18 color-gray" value="Falta de Herramienta">Falta de Herramienta</option>
                                                    <option class="fs-18 color-gray" value="Falta de Material">Falta de Material</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center my-2" v-if="isSubmit">
									<div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
								</div>
								<div class="text-center">
									<img src="/assets/operador/enter pausa.png" width="125px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <!-- Modal por si la pausa es de mantenimiento  -->
        <div class="modal fade" id="typeMantenimiento"  @keydown="stopAllEvents($event)" @keyup="stopAllEvents($event)" @keypress="stopAllEvents($event)" tabindex="-1" role="dialog" aria-labelledby="typeMantenimientoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="typeMantenimientoLabel">Elija el tipo de mantenimiento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">
                        <p class="text-success">Presione TAB para dirigirse hacia el cuadro de texto.</p>

                        <div class="form-group">
                            <label for="concepto">Razón por la cual se solicita el mantenimiento</label>
                            <textarea v-model="concepto" :class="{ 'is-invalid' : errors.concepto.length > 0 }" ref="concept" id="concepto" cols="30" rows="10" class="form-control" placeholder="Ingrese un texto descriptivo de la razon de la peticion del mantenimiento"></textarea>
                            <div class="invalid-feedback" v-if="errors.concepto.length > 0">
                                {{ errors.concepto[0] }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-center my-2" v-if="isSubmit">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <a href="#" class="btn btn-success my-2" @click="reportarMantenimiento(true)">
                                Reportar Mantenimiento
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

		<FaltaHerramienta></FaltaHerramienta>
		<FaltaMaterial></FaltaMaterial>
    </div>
</template>
<script>
	import Mantenimiento from "../modals/MantenimientoEsperaComponent";
	import FaltaHerramienta from "../modals/FaltaHerramientaComponent";
	import FaltaMaterial from "../modals/FaltaMaterialComponent";

	export default{
		name: "Pausa",
		components:{
			Mantenimiento,
			FaltaHerramienta,
			FaltaMaterial
        },
		data: ()=> ({
            url_login_pause:"",
            isSubmit: false,
            tipo: '',
            concepto: '',
            errors: {
                tipo: [],
                concepto: []
            },
            pausaMotivo: ['Mantenimiento'],
            tiposFallas: [
                {
                    nombre: 'Mecánicas',
                    conceptos: [
                        {
                            falla: 'ATC'
                        },
                        {
                            falla: 'Bancada'
                        },
                        {
                            falla: 'Cabina'
                        },
                        {
                            falla: 'Chuck'
                        },
                        {
                            falla: 'Contrapunto'
                        },
                        {
                            falla: 'Conveyor'
                        },
                        {
                            falla: 'Eje A'
                        },
                        {
                            falla: 'Eje B'
                        },
                        {
                            falla: 'Eje C'
                        },
                        {
                            falla: 'Eje W'
                        },
                        {
                            falla: 'Eje X'
                        },
                        {
                            falla: 'Eje Y'
                        },
                        {
                            falla: 'Eje Z'
                        },
                        {
                            falla: 'Fugas de aceite'
                        },
                        {
                            falla: 'Fugas de aire'
                        },
                        {
                            falla: 'Fugas de soluble'
                        },
                        {
                            falla: 'Guardas Telescopicas'
                        },
                        {
                            falla: 'Husillo'
                        },
                        {
                            falla: 'Luneta'
                        },
                        {
                            falla: 'Magazine'
                        },
                        {
                            falla: 'Pallet'
                        },
                        {
                            falla: 'puente'
                        },
                        {
                            falla: 'Sistema de Enfriamiento (Soluble)'
                        },
                        {
                            falla: 'Sistema de Lubricacion'
                        },
                        {
                            falla: 'Sistema hidraúlico'
                        },
                        {
                            falla: 'Torreta'
                        }
                    ]
                },
                {
                    nombre: 'Eléctricas/Electrónicas',
                    conceptos: [
                        {
                            falla: 'Baterías'
                        },
                        {
                            falla: 'Brazo Q-Setter'
                        },
                        {
                            falla: 'Chiller'
                        },
                        {
                            falla: 'Conectores'
                        },
                        {
                            falla: 'Contactores, Interruptores y Relevadores'
                        },
                        {
                            falla: 'Corto Circuito'
                        },
                        {
                            falla: 'Drive de Ejes'
                        },
                        {
                            falla: 'Drive de Husillo'
                        },
                        {
                            falla: 'Encoders'
                        },
                        {
                            falla: 'Fuente de Poder'
                        },
                        {
                            falla: 'Fusibles'
                        },
                        {
                            falla: 'Iluminacion'
                        },
                        {
                            falla: 'Sensores'
                        },
                        {
                            falla: 'Servomotores'
                        },
                        {
                            falla: 'Tarjetas Electronicas',
                        },
                        {
                            falla: 'Valvulas Solenoides'
                        },
                        {
                            falla: 'Ventiladores'
                        }
                    ]
                }
            ]

		}),
		props:{

		},
		mounted() {

			$("#pausa").on('shown.bs.modal', (e) => {
				$("#SelectPauseOption").select();
				$("#SelectPauseOption").focus();
				$("#pausa").click(function (e) {
					e.preventDefault();
				});
				Laravel.vue.operador.pausa.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
			});

			$("#pausa").on('hidden.bs.modal',(e)=> {
				Laravel.vue.operador.pausa.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
				// console.log("[pausa hide]",Laravel.vue.operador.enabled);
			});
		},
		methods: {
            stopAllEvents(event) {
                event.stopPropagation();
            },
            conceptoValidate() {

                this.errors.concepto = [];

                if (this.concepto == "") {
                    this.errors.concepto.push("El concepto es requerido");
                }
                if (this.concepto.length < 3) {
                    this.errors.concepto.push("Debe escribir un concepto más largo");
                }

            },
            reportarMantenimiento(seguir_con_la_produccion = true) {

                this.conceptoValidate();

                if (this.errors.concepto.length > 0) {
                    return;
                }

                if (this.isSubmit) {
                    return;
                }

                this.isSubmit = true;

                var self = this;

				axios.post("/operador/pausa/motivo", {
                    on_maintenance: seguir_con_la_produccion,
                    comments: this.concepto,
                    pausaMotivo: self.pausaMotivo[0]
                })
				.then(
					(response) => {

                        self.concepto = "";
                        self.$parent.workcenter.on_maintenance = true;
						var data = response.data;
                        this.url_login_pause = data.url;

                        $('#typeMantenimiento').modal('hide');

                        if (!seguir_con_la_produccion) {

                        }
					}
				).catch(error => {
					console.log(error,error.response);
                })
                .then(response => {
                    setTimeout(() => self.isSubmit  = false, 1000);
                });
            },
			onSubmit(e){

                if (this.isSubmit) {
                    return;
                }

                if (this.pausaMotivo[0] == 'Mantenimiento') {
                    $('#typeMantenimiento').modal('show');
                    $("#pausa").modal('hide');
                    return;
                }

                this.isSubmit = true;

                var self = this;

				// console.log(this.$parent.url_pausa_motivo);
				axios.post("/operador/pausa/motivo", {
                    pausaMotivo: self.pausaMotivo[0]
                })
				.then(
					(response) => {
						var data=response.data;
						// console.log(data,data.resp,data['resp']);
						this.url_login_pause=data.url;
						switch(data.resp){
							case 2:
							    $("#pausa").modal('hide');
							    $("#faltaHerramienta").modal('show');
								break;
							case 3:
							    $("#pausa").modal('hide');
							    $("#faltaMaterial").modal('show');
								break;
                        }

						// console.log("[reponse notificarion]",response,data);
					}
				).catch(error => {
					console.log(error,error.response);
                })
                .then(response => {
                    setTimeout(() => self.isSubmit  = false, 1000);
                });
			}
		}

	}
</script>
<style scoped>
	option:checked {
		box-shadow: 0 0 10px 100px red inset;
	}
	#SelectPauseOption{
		padding: 0!important;
		border-radius: unset;
		overflow-y: auto;
	}
	#SelectPauseOption option{
		padding: 5px;
	}
	#SelectPauseOption:focus{
		box-shadow: none;
		border-color: #CDCDCD;
	}
</style>
