<template>
<div class="modal" id="resultadosMalo" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content modal-red modal-size">
          <div class="card-body text-center font-regular mt-3">
            <p class="lh-1 "><b> ¡No te desanimes, {{ this.name }}! </b></p>
            <p class="lh-1 "><b> El siguiente trabajo lo puedes hacer mejor.</b></p>

            <p class="font-regular" style="font-size: 25px;"> Terminaste la operación con un {{ this.$parent.promedio }}% de productividad. </p>
            <p class="porcent-modal"> {{ this.$parent.promedio }}% </p>
              <div class="round-xlarge progress-bar-modal-red">
                <div class="round-xlarge progress-container-modal" :style="'width:'+this.$parent.promedio+'%'"  id="barra"> {{ this.$parent.promedio }} % </div>
              </div>
          <div class="display: flex; justify-content: center;">
               <!-- <img src="/assets/operador/enter_ desempeño malo.png" width="125px"> -->
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
          </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
	export default{
    name: "resultadosMalo",
    data: () => ({
      name:Laravel.user.name,

    }),
		mounted () {
			$("#resultadosMalo").on('shown.bs.modal', (e) => {
                Laravel.vue.sidebar.terminar.scraps.resultado.malo=true;
                Laravel.vue.sidebar.dibujo.enabled=false;
                Laravel.vue.operador.enabled=false;
                Laravel.vue.sidebar.enabled=false;
                $("#app").css('overflow-y','hidden');
                $("#barra").width((this.$parent.promedio>100?100:this.$parent.promedio)+'%');
            });

            $("#resultadosMalo").on('hidden.bs.modal',(e)=> {
                Laravel.vue.sidebar.terminar.scraps.resultado.malo=false;
                Laravel.vue.sidebar.dibujo.enabled=true;
                Laravel.vue.operador.enabled=true;
                Laravel.vue.sidebar.enabled=true;
                $("#app").css('overflow-y','initial');
            });
    //   document.addEventListener("keydown", (e) => {
    //     if (Laravel.vue.sidebar.terminar.scraps.resultado.malo) {
    //       switch(e.keyCode){
    //         // ENTER
    //         case 13:
    //           this.$parent.logout();
    //           break;
    //       }
    //     }
    //     // console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
    //   });
		}
	}
</script>
