<template>
<div class="modal" id="resultadosRegular" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content modal-yellow modal-size">
          <div class="card-body text-center font-regular mt-4">
            <p class="lh-15"><b> ¡Ánimo, {{ this.name }}! </b></p>
            <p class="lh-15"><b> Puedes hacerlo mejor. </b></p>
            <p class="font-regular" style="font-size: 25px;"> Terminaste la operación con un {{ this.$parent.promedio }}% de productividad. </p>
            <p class="porcent-modal"> {{ this.$parent.promedio }}% </p>
              <div class="round-xlarge progress-bar-modal-yellow">
                <div class="round-xlarge progress-container-modal" :style="'width:'+this.$parent.promedio+'%'" id="barra">{{ this.$parent.promedio }}%</div>
              </div>
          <div>
               <!-- <img src="/assets/operador/enter_desempeño regular.png" width="125px"> -->
               <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
          </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
  export default{
    name: "resultadosRegular",
    data: ()=> ({
      name:Laravel.user.name,

    }),
    mounted(){
      $("#resultadosRegular").on('shown.bs.modal', (e) => {
        Laravel.vue.sidebar.terminar.scraps.resultado.regular=true;
        Laravel.vue.sidebar.dibujo.enabled=false;
        Laravel.vue.operador.enabled=false;
        Laravel.vue.sidebar.enabled=false;
        $("#app").css('overflow-y','hidden');
      });

      $("#resultadosRegular").on('hidden.bs.modal',(e)=> {
        Laravel.vue.sidebar.terminar.scraps.resultado.regular=false;
        Laravel.vue.sidebar.dibujo.enabled=true;
        Laravel.vue.operador.enabled=true;
        Laravel.vue.sidebar.enabled=true;
        $("#app").css('overflow-y','initial');
      });
    //   document.addEventListener("keydown", (e) => {
    //     if (Laravel.vue.sidebar.terminar.scraps.resultado.regular) {
    //       switch(e.keyCode){
    //         // ENTER
    //         case 13:
    //           this.$parent.logout();
    //           break;
    //       }
    //     }
    //     // console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
    //   });
    }
  }
</script>
