<template>
	<div>
		<div id="modalScraps" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal">
				<div class="modal-content">
					<div class="card valign-wrapper">
						<div class="card-body no-valign-wrapper">
							<div class="container">
								<div class="row">
									<div class="col text-center mt-3">
										<h4 style="font-size: 32px;">Scraps</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-9 text-right font-light color-gray" style="font-size: 20px;">
									   Cantidad de piezas realizadas:
									</div>
									<div class="col text-left color-heavy" style="font-size: 25px;">
										{{ this.pieceCount }}
									</div>
								</div>
								<div class="row">
									<div class="col font-light color-gray text-center mt-4" style="font-size: 20px;">
										<p class="lh-05">Por favor ingresa cuántas de esas</p>
										<p class="lh-05">piezas son "scraps" (no conformes)</p>
									</div>
								</div>
								<div class="row">
									<div class="col text-center color-heavy mt-1">
										<input type="number"  class="input-scraps" name="scraps" id="modalNumScraps" min="0" value="0" required="required" v-on:keypress.enter="onSubmit" />
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="text-center mt-3">
											<img src="/assets/operador/enter.png" width="125px">
		                                </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<confirmarScraps></confirmarScraps>
	</div>
</template>
<script>
	import confirmarScraps from "../modals/ConfirmarScrapsComponent";

	export default{
		name: "Scraps",
		data: ()=> ({
			pieceCount:0,
			scraps:0,
		}),
		components:{
			confirmarScraps,
		},
		mounted(){
			$("#modalScraps").on('shown.bs.modal', (e) => {
				Laravel.vue.sidebar.dibujo.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
				$("#modalNumScraps").select();
				$("#modalNumScraps").focus();
				this.getPiece();
			});

			$("#modalScraps").on('hidden.bs.modal',(e)=> {
				Laravel.vue.sidebar.dibujo.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
			});
		},
		methods: {
			onSubmit(e){
				e.preventDefault();
				this.scraps=$("#modalNumScraps").val();
				$("#modalScraps").modal('hide');
				$("#modalConfirmarScraps").modal('show');
			},
			getPiece(){
				axios.post("/operador/scraps/getPiece",Laravel.vue.process)
				.then(
					(response) => {
						var data=response.data;
						this.pieceCount=data;
					}
				).catch(error => {
					console.log(error,error.response);
				});
			},
		}

	}
</script>
