<template>
	<div>
		<div id="soporte" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content capeando">
					<div class="modal-body">
						<div class="container-fluid" style="">
							<div class="row">
								<div class="col text-right color-gray font-light fs-18">
									Cerrar <img src="/assets/setup/esc_pieza_rechazada.png" width="85px">
								</div>
							</div>
							<div class="row mt-4">
								<div class="col text-center color-gray">
									<p class="font-regular fs-20">¿La información es correcta?</p>
									<p class="form-red font-regular fs-25 lh-05">
										<b style="font-size: 25px">Soporte</b>
									</p>
									<p class="font-regular fs-20 lh-05">El mantenimiento tardará más de 2 horas</p>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col text-center font-regular color-gray fs-20">
									<p class="lh-inherit">Al presionar Enter, el operador deberá ingresar <br>
									la cantidad de scraps (piezas no conformes) <br>
									que tiene al momento y no podrá seguir <br>
									trabajando en esta máquina.</p>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col">
									<div class="text-center">
										<img src="/assets/setup/enter_pieza_rechazada.png" width="125px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		name: "Soporte",
		data: ()=> ({
			user:Laravel.user,

		}),
		mounted(){
			$("#soporte").on('shown.bs.modal', (e) => {
				Laravel.vue.operador.pausa.mantenimiento.soporte.enabled=true;
				Laravel.vue.operador.pausa.mantenimiento.enabled=false;
				Laravel.vue.operador.capeando.enabled=false;
				Laravel.vue.operador.pausa.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
			});

			$("#soporte").on('hidden.bs.modal',(e)=> {
				Laravel.vue.operador.pausa.mantenimiento.soporte.enabled=false;
				// Laravel.vue.operador.capeando.enabled=true;
				// Laravel.vue.operador.pausa.enabled=true;
				// Laravel.vue.operador.enabled=true;
				// Laravel.vue.sidebar.enabled=true;
            });
            var self = this;
			document.addEventListener("keydown", (e) => {
				if (Laravel.vue.operador.pausa.mantenimiento.soporte.enabled) {
					switch(e.keyCode){
						// ENTER
						case 13:


                            var data = self.$parent.data;
                            data += `&newtype=${self.$parent.tipo.nombre}`;

							axios.post("/operador/pausa/mantenimiento/finalizar", data)
							.then(
								(response) => {
									var data=response.data;
									$("#soporte").modal('hide');
									$("#modalScraps").modal('show');
									// console.log(data);
								}
							).catch(error => {
								console.log(error);
								this.errors.username=false;
								this.errors.password=false;
								$.each(error.response.data.errors,(input,errorText)=>{
									this.errors[input]=true;
									this.errorsText[input]=errorText[0];
								});
							});
							break;
						case 27:
							$("#soporte").modal('hide');
							$("#mantenimientoProceso").modal('show');
							break;
					}
				}
				// console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
			});
		},
		methods: {

		}

	}
</script>
