<template>
	<div id="modalValidar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered" role="document">
			<div class="modal-content capeando">
				<div class="modal-body">
					<div class="container-fluid" style="">
						<div class="row">
							<div class="col text-right color-gray font-light fs-18">
								Cerrar <img src="/assets/operador/esc.png" width="85px">
							</div>
						</div>
						<div class="row">
							<div class="col text-center font-light color-gray">
								<p class="lh-05 fs-20"><b>¿La información </b></p> 
							    <p class="lh-05 fs-20"><b>es correcta? </b></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="card-group">
									<div class="card noborder">
										<div class="card-body">
											<cncCardComponent :process="this.$parent.process"></cncCardComponent>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="text-center">
									<img src="/assets/operador/enter.png" width="125px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import CncCardComponent from '../cards/CncCardComponent';
	export default{
		name: "Validar",
		components:{
			CncCardComponent,
			modalValidarEnabled:false,
		},
		mounted(){
			$("#modalValidar").on('shown.bs.modal', (e) => {
				Laravel.vue.operador.capeando.validar.enabled=true;
				Laravel.vue.operador.capeando.enabled=false;
				Laravel.vue.operador.pausa.enabled=false;
				Laravel.vue.operador.enabled=false;
				Laravel.vue.sidebar.enabled=false;
			});

			$("#modalValidar").on('hidden.bs.modal',(e)=> {
				Laravel.vue.operador.capeando.validar.enabled=false;
				Laravel.vue.operador.capeando.enabled=false;
				Laravel.vue.operador.pausa.enabled=true;
				Laravel.vue.operador.enabled=true;
				Laravel.vue.sidebar.enabled=true;
			});
			document.addEventListener("keydown", (e) => {
				if (Laravel.vue.operador.capeando.validar.enabled) {
					switch(e.keyCode){
						// ENTER
						case 13:
							window.location.reload();
							break;
					}
				}
				// console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
			});
		}
	}
</script>