/* esto funcionará si la resolución de pantalla está entre 300 y 800 pixeles de ancho */
@media screen and (max-width: 500px) and (min-width: 300px) {

// .fs-18{	font-size: 12px; }
// .letrafin{	font-size: 12px; }
.letrafase{	font-size: 12.9px; margin-top: 3px }
.dist { margin-top: 20px;}
.pantalla{ min-height: 190%; }
.card-body { overflow-x: scroll }


}
@media screen and (max-width: 800px) and (min-width: 500px) {

// .fs-18{	font-size: 12px; }
// .letrafin{	font-size: 12px; }
// .letrafase{	font-size: 15px; }
.dist { margin-top: 20px;}
.pantalla{ min-height: 190%; }


}

/* esto funcionará si la resolución mínima de la pantalla es de 1200 pixeles de ancho */
@media screen and (max-width: 1080px) and (min-width: 801px) {

.fs-18{	font-size: 12px; }
// .letrafin{	font-size: 12px; }
.letrafase{	font-size: 12.5px; }


}

/* esto funcionará si la resolución mínima de la pantalla es de 1600 pixeles de ancho */
@media screen and(min-width: 1600px) {

.fs-18{	font-size: 18px; }
.letrafin{	font-size: 25px; }
}
// Fonts
@font-face { 
    font-family: Montserrat-SemiBold; 
    src: url('/fonts/Montserrat-SemiBold.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Light; 
    src: url('/fonts/Montserrat-Light.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Regular; //T2
    src: url('/fonts/Montserrat-Regular.ttf'); 
} 

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import 'node_modules/bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "node_modules/material-design-icons/iconfont/material-icons";
@import '~font-awesome/scss/font-awesome';
@import './sidebar';
@import './setup';
@import '../operadores/style';
@import './index';
@import './modal'; 
@import './asignados';
@import './jobs';
