.card_selected{
	-webkit-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
	-moz-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
	box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
}