.capeando{
	position: absolute!important;
	min-height: 40%;
	height: auto;
}
.noborder{
	border:none!important;
}
.text-tec{
	color: #1B61DF;
}
.bg-tec{
	background-color: #1B61DF;
}
.container-fluid{
	z-index: 1;
}
.input-group-text{
	background-color: #FFFFFF;
	border-right: none;
}
.form-control-nbl{
	border-left: none;
}
.form-control-nbl:focus{
	box-shadow: none;
}
.input-group-text.is-invalid{
	border-color: #e3342f;
}
.modal-xl{
	max-width: 900px;
	width: calc(100% - 5%) !important;
}

.lh-1{
	line-height: 1rem;
}

// .fs-18{
// 	font-size: 18px;
// }

.lh-05{
	line-height: 0.5rem; 
}

.lh-15{
	line-height: 1.5rem;
}

.lh-2{
	line-height: 2rem; 
}

.fs-16{
	font-size: 16px;
}

.fs-20{
	font-size: 20px;
}
