

hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#nav_h{
  min-height: $nav_height!important;
  height: $nav_height!important;
  // padding-left: $width_sidebar;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  max-height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff;
  border-right: $body-bg 1px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  //padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 1031;
  .logo{
    border-bottom: $body-bg 1px solid;
    height: $logo_h;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .sidenav_content{
    min-height: $sidenav_content_h;
    height: $sidenav_content_h;
    max-height: $sidenav_content_h;
    position: relative;
  }
  .sidenav_usuario{
    border-bottom: $body-bg 1px solid;
    width: 100%;
    max-width: 100%;
    min-height: $sidenav_user;
    position: relative;
    text-align: center;
    .img-usr{
      width: 100px;
      max-width: 100%;
      position: relative;
      height: 100px;
      text-align: center;
      padding: 8%;
      display: inline-block;
      img{
        max-width: 100%;
        height: 100%;
        width: auto;
      }
    }
    .img-usr-close{
      width: 4rem;
      max-width: 100%;
      position: relative;
      height: 4rem;
      text-align: center;
      padding: 8%;
      display: inline-block;
      img{
        max-width: 100%;
        height: 100%;
        width: auto;
      }
    }
  }
  .sidenav_client{
    border-bottom: $body-bg 3px solid;
    width: 100%;
    max-width: 100%;
    min-height: $sidenav_client;
  }
  .sidenav_menu{
    
    width: 100%;
    max-width: 100%;
    height: $sidenav_menu;
    padding-top: 0rem !important;
    font-size: 1em;
    img{
      max-width: 30px;
      width: 30px;
      height: auto;
    }
  }

  .sidenav_copyrigth{
    border-bottom: $body-bg 1px solid;
    width: 100%;
    max-width: 100%;
    // padding: 1em;
    // height: $sidenav_copyright; 
    position: absolute;
    bottom: 0px;
    font-size: .8em;
  }
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  //font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: 9px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background: rgba(0,0,0,0.6);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#app {
  transition: margin-left .5s;
  // padding: 20px;
}
.sidenav.open{
  width: $width_sidebar;
}
.open-nav{
  margin-left: $width_sidebar!important;
}

.close-nav{
  margin-left: 5rem!important;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 1440px){
  // $width_sidebar: 350px;
  .sidenav.open{
    width: $width_sidebar;
  }
  .open-nav{
    margin-left: $width_sidebar!important;
  }  
  .sidenav {
    
  }
  #nav_h{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: auto;
  }
}
@media screen and (max-width: 769px) {
  $width_sidebar: 150px;
  .sidenav.open{
    width: $width_sidebar;
  }
  .open-nav{
    margin-left: $width_sidebar!important;
  }  
  .sidenav {
    font-size: .65em;
  }
  .sidenav_menu{
    font-size: .99em!important;
    img{
      max-width: 25px!important;
      width: 25px!important;
      height: auto;
    }
  }
  #nav_h{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: auto;
  }
}

#sidebar_open{
  display: none;
}
#sidebar_open.active{
  transition: all 500ms linear; 
}

.open-contain-padding{
  padding-left: 7rem; 
}
/* @media screen and (max-width: 425px) {
  $width_sidebar: 70px;
  .sidenav.open{
    width: $width_sidebar;
  }
  .open-nav{
    margin-left: $width_sidebar!important;
  }  
  .sidenav {
    
  }
  #nav_h{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: auto;
  }
}

@media screen and (min-width: 1440px){
  // $width_sidebar: 350px;
  $app_w:calc( 100% - #{$width_sidebar});
  body{
    #app{
      .content-nav{
        max-width: $app_w;
        width: $app_w;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  $width_sidebar: 150px;
  $app_w:calc( 100% - #{$width_sidebar});
  body{
    #app{
      .content-nav{
        max-width: $app_w;
        width: $app_w;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  $width_sidebar: 70px;
  $app_w:calc( 100% - #{$width_sidebar});
  body{
    #app{
      .content-nav{
        max-width: $app_w;
        width: $app_w;
      }
    }
  }
} */

/*Arrow open-close*/
.arrow{
  height: 1rem;
  position: absolute;
  left: 0;
}

.arrow-open{
  height: 1rem;
  position: absolute;
  left: 7.5rem;
}

/*Aside close nav*/

/*Sidebar small */

.sidebar_small{
  width: 5rem;
  max-width: 100%;
}

.img-close{
  max-width: 25px;
  width: 25px;
  height: auto;
}

.close-nav{
  margin-left: 5rem;
  max-width: calc( 100% - 5rem)!important;
}

.min-height-0{
  min-height: 0;
}

/*Border bottom*/
.border-bottom{
  border-bottom: solid 1px #C4C4C4;
}

.without-padding{
  padding: 0;
}

.font-light{
  font-family: Montserrat-Light; 
}

.font-regular{
  font-family: Monserrat-Regular; 
}

.font-SemiBold{
  font-family: Monserrat-SemiBold;
}

.font-Medium{
  font-family: Monserrat-Medium; 
}

.color-light{
  color: #306fcc;
}

.color-clear{
  color: #90b2e3;
}

.color-heavy{
  color: #0c54c4;
}

.color-gray{
  color: #898989;
}

.side-margin-left{
  margin-left: 34%; 
}

.side-margin-b{
  margin-bottom: 0;
}
a:hover {background-color: none; }