<template>
	<!-- Modal -->
	<div class="modal fade" id="Actualizar" tabindex="-1" role="dialog" aria-labelledby="ActualizarTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" style="align-items: center;">
				<div class="modal-header">
					<h5 class="modal-title" id="ActualizarTitle">ACTUALIZANDO</i>
					</h5>
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="modal-body">
					<div class="row col-12">
						<img src="/img/loading_v2.gif" style="height: 235px;width: 300px;">
					</div>

				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data: ()=> ({
			num_job: "",
		}),
		props: {

		},
		mounted() {
			$("#Actualizar").on('shown.bs.modal', (e) => {

                this.num_job = $("#inputSearchAsignar").val();

                var self = this;

				axios.post("jobs/update_job",{job:this.num_job})
				.then(
					(response) => {
						console.log("[modalActualizar]",response);
						$("#Actualizar").modal('hide');
						$.confirm({
							title: 'Estado del job',
							content: 'Se ha actualizado de manera exitosa.',
							icon: 'fa fa-check',
							type: 'blue',
							typeAnimated: true,
							draggable: true,
							buttons: {
								close: ()=> {
					        		$("#modalAsignar").modal('show');
					        		this.inputSearchAsignarChange();
								}
							}
						});
					}
				).catch(error => {
					console.log("error",error);
					$("#Actualizar").modal('hide');
					$.confirm({
					    title: 'Estado del job',
					    content: 'No se ha podido actualizar, intenta de nuevo.',
					    type: 'red',
					    icon: 'fa fa-warning',
					    typeAnimated: true,
					    draggable: true,
					    buttons: {
					        close: function () {
					        	$("#modalAsignar").modal('show');
					        }
					    }
					});
                })
                .then(response => {
                    self.$parent.$parent.GetWorkcenter();
                })
                ;
			});
			$("#Actualizar").on('hidden.bs.modal',(e)=> {

			});

		},
		methods: {
			inputSearchAsignarChange(){
				this.$parent.inputSearchAsignarChange();
			}
		}
	}
</script>
