<template>
	<div>
		<actualizar-component></actualizar-component>
		<div class="modal fade" id="modalAsignar" tabindex="-1" role="dialog" aria-labelledby="modalAsignarTitle" aria-hidden="true" v-on:keydown.esc="closeAsignarModal()">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 85%;">
				<div class="modal-content">
					<div class="modal-header ">
						<div class="container-fluid ">
							<div class="row">
								<div class="col col text-right color-gray font-light" @click="closeAsignarModal()" style="cursor: pointer;">
									Cerrar <img src="/assets/operador/esc.png" width="85px">
								</div>
							</div>
							<div class="row" style="align-items: center;">
								<div class="col-3 col-sm-3 col-md-5 col-lg-5 col-xl-3">
									<div class="input-search background-main-index input-group">
										<div class="input-group-prepend">
											<span class="input-group-text icon color-heavy font-light fs-20 input-search background-main-index" id="basic-addon1">
												<i class="fa fa-search"></i>
											</span>
										</div>
										<input type="search" id="inputSearchAsignar" class="form-control background-main-index input-search" placeholder="" aria-label="job" aria-describedby="basic-addon1" v-on:keyup.enter="inputSearchAsignarChange">
									</div>
								</div>
								<button type="button" class="button-blue btn-lg" id="btnActualizar" style="height: 60%" v-on:click="openModal()">ACTUALIZAR</button>
								<button type="button" class="button-blue btn-lg" id="btnCharge" style="height: 60%; margin-left: 10px" v-on:click="charge"></button>
								<button type="button" class="button-blue btn-lg" id="btnRestore" style="height: 60%; margin-left: 10px" v-on:click="restoreJobs">RESTAURAR</button>
								<div  class="col-7 col-sm-7 col-md-4 col-lg-4 col-xl-4 color-black text-center fs-20 pt-1">
									ASIGNAR JOB
								</div>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<div class="container-fluid" style="margin color: grey; overflow: auto;" >
							<div id="div1" style="height: 360px " >
								<div class="row jobs-with-margin" >
									<div class="col" v-for="(process_,key,index ) in this.processes" :item="process_">
										<CncJobAsignar  :process="process_"  v-bind:key="'cncJob_'+process_.id.substring(0,4)" :clic="true"></CncJobAsignar>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="justify-content: center;">
						<button type="button" class="button-blue btn-lg" id="btnAssignJob" @click="AssignJobToCnc">
                            <div class="spinner-border" v-if="onSubmit">
                                <div class="sr-only"></div>
                            </div>
                            Asignar
                        </button>
					</div>
				</div>
			</div>
		</div>
	    <!-- Modal -->
	    <div class="modal fade" id="restoreModal" role="dialog" tabindex="0" v-on:keydown.esc="closeRestoreModal">
	        <div class="modal-dialog modal-lg modal-dialog-centered">
	            <!-- Modal content-->
		        <div class="modal-content">
	                <div class="modal-header ">
						<div class="container-fluid ">
							<div class="row">
								<div class="col col text-right color-gray font-light">
									Cerrar <img src="/assets/operador/esc.png" width="85px">
								</div>
							</div>
							<div class="row" style="align-items: center;">
								<div class="col-5 col-sm-5 col-md-7 col-lg-7 col-xl-5">
									<div class="input-search background-main-index input-group">
										<div class="input-group-prepend">
											<span class="input-group-text icon color-heavy font-light fs-20 input-search background-main-index" id="basic-addon1">
												<i class="fa fa-search"></i>
											</span>
										</div>
										<input type="search" id="inputSearchTrashed" class="form-control background-main-index input-search" placeholder="" aria-label="job" aria-describedby="basic-addon1" v-on:keyup.enter="inputSearchTrashedChange">
									</div>
								</div>
								<div  class="col-7 col-sm-7 col-md-5 col-lg-5 col-xl-5 color-black text-center fs-20 pt-1">
									Restaurar job
								</div>
							</div>
						</div>
					</div>
	                <div class="modal-body">
						<div class="container-fluid" style="margin color: grey; overflow: auto;" >
							<div id="div1" style="height: 360px " >
								<div class="row jobs-with-margin" >
									<div class="col" v-for="(process_,key,index ) in this.trashed" :key="index" :item="process_">
										<CncJobAsignar  :process="process_"  v-bind:key="'cncJob_'+process_.id.substring(0,4)" :clic="true"></CncJobAsignar>
									</div>
								</div>
							</div>
						</div>
					</div>
	                <div class="modal-footer" style="justify-content: center;">
				        <button type="button" class="button-blue btn-lg" id="btnrestoreJobs" style="height: 80%" v-on:click="restoreFinal">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="onSubmit"></span>
                            Restaurar
                        </button>
			        </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>
<script>
	export default {
		/*https://vuejsexamples.com/a-scroll-loading-component-for-vue-js/*/
		data: ()=> ({
			processes: [],
			num_job:"",
			trashed:{

            },
            onSubmit: false,
            indice: null
		}),
		props: {
			url_process:{
				type: String,
				required:true,
			}
		},
		mounted() {
			this.inputSearchAsignarChange();
		},
		methods: {
			GetWorkcenter:function(){
				this.$parent.GetWorkcenter();
            },
			charge:function () {
                if (this.onSubmit) {
                    return;
                }
                this.onSubmit = true;
                var self = this;
				axios.post("/api/charge",{"wc_id":Laravel.jobs.workcenterSelect})
					.then((response) => {
                        this.closeAsignarModal();
                        var data=response.data;
                        self.onSubmit = false;
                        this.$parent.GetWorkcenter();
                    })
                    .catch(error => {
                        alert('Ha ocurrido un error, intete de nuevo, mas detalles en la consola');
                        self.onSubmit = false;
						console.log(error);
					});
			},
			scrollFunction:function (evt, el) {
				// console.log("scrolll");
				// console.log(evt,el);
				// if (window.scrollY > 50) {
			 //        TweenMax.to(el, 1.5, {
			 //          y: -10,
			 //          opacity: 1,
			 //          ease: Sine.easeOut
			 //        })
			 //      }
			 //      return window.scrollY > 100
			},
			inputSearchAsignarChange:function () {
				this.num_job = $("#inputSearchAsignar").val();
				axios.post(this.url_process,{"num_job":this.num_job})
				.then(response => {

                    var data = response.data;
                    this.processes = data;

                })
                .catch(error => {
					console.log(error);
				});
			},
			openModal:function (){
				$("#modalAsignar").modal('hide');
				$("#Actualizar").modal('show');
			},
			AssignJobToCnc:function (e) {
				if (Laravel.jobs.cardSelect.active!=undefined) {

                    if (this.onSubmit) {
                        return;
                    }

                    this.onSubmit = true;
					Array.prototype.insert = function ( index, item ) {
					    this.splice( index, 0, item );
					};
                    var wc_proceess=[];
					this.$parent.workcenters.find((wc,index)=>{
						if(wc.id==Laravel.jobs.workcenterSelect) {
							if(Laravel.jobs.workcenterSelect_process_key==undefined || Laravel.jobs.workcenterSelect_process_key==null){
								this.$parent.workcenters[index]["processes"].push(Laravel.jobs.cardSelect);
								// console.log(this.$parent.workcenters[index]["processes"]);
							}else{
								this.$parent.workcenters[index]["processes"].insert(Laravel.jobs.workcenterSelect_process_key+1,Laravel.jobs.cardSelect);
							}
							wc_proceess=this.$parent.workcenters[index]["processes"];
							return true;
						}
                    });

                    var self = this;

					axios.post("api/addJobsToWorkcenter",{
                        "wc_id": Laravel.jobs.workcenterSelect,
                        "process": JSON.stringify(wc_proceess)
                    })
					.then(
						(response) => {

							var data=response.data;
							Laravel.jobs.cardSelect=[];
                            this.inputSearchAsignarChange();
                            this.$parent.GetWorkcenter();

						}
					).catch(error => {
                        console.log(error);
                    })
                    .then(response => {
                        self.onSubmit = false;
                        $("#modalAsignar").modal('hide');
                    });
					//$("#process_"+Laravel.jobs.cardSelect.id).parent().remove();
					//this.$parent.GetWorkcenter();
				}
			},
			restoreJobs: function(){
                $("#restoreModal").modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                });
                $("#modalAsignar").modal('hide');
				axios.post("api/restoreJobs",{
					"num_job": this.num_job
				})
				.then(
					(response) => {
						var data = response.data;
						this.trashed = data;
					}
				).catch(error => {
					console.log(error);
				});
			},
			inputSearchTrashedChange:function () {
				this.num_job=$("#inputSearchTrashed").val();
				axios.post("api/restoreJobs",{"num_job":this.num_job})
				.then(
					(response) => {
						var data=response.data;
						this.trashed=data;
					}
				).catch(error => {
					console.log(error);
				});
			},
			restoreFinal () {

                if (this.onSubmit) {
                    return;
                }
                this.onSubmit = true;
                var self = this;


				// this.$parent.workcenters.find((wc,index)=>{

				// 	if ( wc.id == Laravel.jobs.workcenterSelect ) {
				// 		if (Laravel.jobs.workcenterSelect_process_key == undefined || Laravel.jobs.workcenterSelect_process_key == null) {
				// 			this.$parent.workcenters[index]["processes"].push(Laravel.jobs.cardSelect);
				// 		} else {
				// 			this.$parent.workcenters[index]["processes"].insert(Laravel.jobs.workcenterSelect_process_key+1,Laravel.jobs.cardSelect);
				// 		}
				// 		wc_proceess = this.$parent.workcenters[index]["processes"];
				// 		return true;
				// 	}

                // });

                if (!Laravel.jobs.cardSelect) {
                    return;
                }

				axios.post("api/restoreFinalJobs",{
					"wc_id": Laravel.jobs.workcenterSelect,
					"process_id": Laravel.jobs.cardSelect.id
				})
				.then(response => {

                    var data = response.data;
                    Laravel.jobs.cardSelect = [];
                    this.$parent.GetWorkcenter();
                    this.inputSearchAsignarChange();
                    $("#restoreModal").modal('hide');
                    $("#modalAsignar").modal('show');


                })
                .catch(error => {
                    console.log(error);
                    alert('Ha ocurrido un error, intente de nuevo por favor');
                })
                .then(response => {
                    self.onSubmit = false;
                })
                ;
			},
			closeRestoreModal:function(){
				$("#restoreModal").modal('hide');
				$("#modalAsignar").focus();
				$("#modalAsignar").modal('show');

			},
			closeAsignarModal:function(){
				$("#modalAsignar").modal('hide');
			}
		}
	}
</script>
