<template>
	<div id="correct_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container-fluid" style="">
						<div class="row">
							<div class="col text-right color-gray font-light fs-18">
								Cerrar <img src="/assets/operador/esc.png" width="85px">
							</div>
						</div>
						<div class="row">
							<div class="col text-center font-regular color-gray">
								<p class="lh-inherit fs-20">
									¿La información es correcta? 
								</p> 
							</div>
						</div>
						<div class="row">
							<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mb-3">
								<CncJobComponent></CncJobComponent>
							</div>
							<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 valign-wrapper">
								<div class="no-valign-wrapper">
									<div class="row">
										<div class="col font-regular color-gray fs-16">
											<span>Split 1:</span>
											<input type="number"  class="d-split-input mb-3 color-heavy" name="scraps" id="split1" min="0" value="0" placeholder="10" required="required" v-on:keypress.enter="onSubmit" style="width: 60px;" />
										</div>
									</div>
									<div class="row">
										<div class="col font-regular color-gray fs-16">
											<span>Split 2:</span>
											<input type="number"  class="d-split-input mb-3 color-heavy" name="scraps" id="split2" min="0" value="0" placeholder="15" required="required" v-on:keypress.enter="onSubmit" style="width: 60px;" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<div class="text-center">
									<a class="button-blue fs-20" href="" style="width: 7rem;">No</a>
								</div>
							</div>
							<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<div class="text-center">
									<a class="button-blue fs-20" href="" style="width: 7rem;">Sí</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</template>
<script>
	
</script>