<template>
	<div>
        <!-- Modal -->
        <div class="modal fade" :id="'modalDibujo'+this.$parent.process.id" tabindex="-1" role="dialog" aria-labelledby="modalDibujoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDibujoLabel">Ver documento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <embed
                            width="100%"
                            name="plugin"
                            :id="'plugin'+this.$parent.process.id"
                            :src="this.url+'?a='+Math.random().toString(36).substring(0,2)+'#toolbar=1&zoom=auto'"
                            type="application/pdf"
                            internalinstanceid="141"
                        >
                    </div>
                </div>
            </div>
        </div>

		<!-- <div :id="'modalDibujo'+this.$parent.process.id" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="max-width: 90%!important;">
				<div class="modal-content" style="height: -webkit-fill-available;background: transparent;border: none;">
					<div class="modal-body" style="padding: 0px;background: transparent;">
						<div id="esc_modal_dibujo" class="text-right" style="width: 100%;display: block;position: absolute;top:0px;">
							<span  class="font-light fs-18" style="color:white;">Cerrar</span>
							<img src="/assets/operador/esc.png" width="85px">
						</div>

					</div>
				</div>

			</div>
		</div> -->
	</div>
</template>
<script>
	export default {
		name: "DibujoMot",
		components:{

        },
		props:{
			dibujo: true
		},
		data: ()=> ({
			url: "/not-found.pdf",
		}),
		mounted(){

			$("#modalDibujo"+this.$parent.process.id).on('shown.bs.modal', (e) => {

				// $("#plugin"+this.$parent.process.id).css('top',$("#esc_modal_dibujo").height());
				// $("#plugin"+this.$parent.process.id).css('height',"calc( 100% - "+$("#esc_modal_dibujo").height()+"px )");
				// $("#plugin"+this.$parent.process.id).select();
                // $("#plugin"+this.$parent.process.id).focus();

				var data = {
					process:    this.$parent.process,
					dibujo:     this.$parent.dibujo,
                    mot:        this.$parent.mot,
                    plan:       this.$parent.plan
                };

				axios.post("/operador/getDibujoTecnico", data)
				.then(
					(response) => {
						// console.log("[modalDibujo]",response.data);
                        this.url = response.data.url;

						if (!this.url) {
							this.url="/not-found.pdf";
                        }

					}
				).catch(error => {
					console.log("error",error);
                });

            });

			$("#modalDibujo" + this.$parent.process.id).on('hidden.bs.modal',(e)=> {

			});

			// document.addEventListener("keydown", (e) => {

			// 	// console.log("document",e.keyCode,this.modalEnabled,this.modalPauseEnabled);
			// });
		}
	}

</script>
<style lang="scss" scoped>
.modal-dialog {
    max-width: 1200px;
        height: 80%;
    .modal-content {
        height: 100%;
    }
    embed {
        height: 100%;
    }
}
</style>
