<template>
	<div :id="'dividir'+this.$parent.process.id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container-fluid" style="">
						<div class="row">
							<div class="col text-right color-gray font-light fs-18">
								Cerrar <img src="/assets/operador/esc.png" width="85px">
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<h3>Dividir</h3>
							</div>
						</div>
						<div class="row">
							<div class="col text-center font-regular color-gray">
								<p class="lh-inherit fs-20">
									Por favor ingresa la cantidad de piezas <br>
									que realizará cada parte.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col mb-3">
								<CncJobDividir :process="this.$parent.process"></CncJobDividir>
							</div>
							<div class="col">
								<div class="row">
									<div class="col font-regular color-gray fs-20">
										<span>Asignado</span>
										<input type="number"  class="d-split-input mb-3 color-heavy" name="scraps" :id="'split1'+this.$parent.process.id" min="1" :max="this.$parent.process.job.quantity" :value="this.split1" required="required" v-on:keypress.enter="onSubmit" v-on:change="diffSplit" @keyup="diffSplit"/>
									</div>
								</div>
								<div class="row">
									<div class="col font-regular color-gray fs-20">
										<span>Quedan</span>
										<input type="number"  class="d-split-input mb-3 color-heavy" name="scraps" :id="'split2'+this.$parent.process.id" min="0" :value="this.split2" required="required" v-on:keypress.enter="onSubmit" />
									</div>
								</div>
                                <div class="row">
									<div class="col font-regular color-gray fs-20">
										<span>Destino</span>
										<select v-model="selected_workcenter" class="d-split-input mb-3 color-heavy">
                                            <option value="null" selected>Seleccione la máquina</option>
                                            <option :value="workcenter" v-for="(workcenter, index) in this.workcenters" :key="'key' + index">{{ workcenter.num_machine }} | {{ workcenter.model }}</option>
                                        </select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
                                <div v-if="loading" class="text-center">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
								<div class="text-center">
									<button type="button" class="btn btn-lg background-color-heavy text-white" v-on:click="onSubmit" @keypress.enter="onSubmit"> ENTER </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
	import CncJobDividir from '../../cards/CncJobDividir';
	export default {
		name: "dividir",
		components: {
			CncJobDividir,
		},
		props: [

		],
		data () {
            return {
                split1: 1,
                split2: 0,
                workcenters: this.$parent.dividir_workcenters,
                selected_workcenter: null,
                loading: false
            }
		},
		mounted() {

            this.diabledSplit2();

		},
		methods: {
			diabledSplit2 () {
                let temp = this.$parent.process.quantity > 0 ? this.$parent.process.quantity : this.$parent.process.job.quantity;
				this.split2 = temp - this.split1;
                $("#split2" + this.$parent.process.id).attr('disabled', 'diasbled');

			},
			diffSplit () {

				this.split1 = parseInt( $("#split1" + this.$parent.process.id).val() );
                this.diabledSplit2();

			},
			onSubmit () {



				if (!this.selected_workcenter) {
                    alert('Debe seleccionar un destino');
                    return;
                }
				if (this.selected_workcenter.processes.length > 0) {
					var opcion = confirm("El CT seleccionado tiene Jobs en cola, ¿Esta seguro que desea continuar?");
				}

                if (opcion == false) {
                    return null;
				}

				var data = {
					'split1': this.split1,
					'split2': this.split2,
					'wc_id': this.workcenter_id,
                    'process': this.$parent.process,
                    'selected_workcenter' : this.selected_workcenter.id
                };

                if (!this.loading) {

                    this.loading = true;
                    var self = this;
                    console.log('Realizando petición de división')
                    axios.post("/api/jobs/divide", data)
                    .then( response => {
                        var data = response.data;
                        $("#dividir" + this.$parent.process.id).modal('hide');
                        this.$parent.process.quantity=data.split1;
                        this.$parent.GetWorkcenter();
                        console.log("Proceso de división finalizado", data);
                        self.loading = false;
                    })
                    .catch( error => {
                        self.loading = false;
                        console.log("Proceso de división errado", error);
                        console.log(error,error.response,error.response.data.message);
                    });

                }
			}
		}
	}
</script>
