<template>
	<div id="restaurar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container-fluid" style="">
						<div class="row">
							<div class="col text-right color-gray font-light fs-18">
								Cerrar <img src="/assets/operador/esc.png" width="85px">
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<h3>Restaurar</h3>
							</div>
						</div>
						<div class="row">
							<div class="col text-center font-regular color-gray">
								<p class="lh-inherit fs-20">
									¿Estás seguro que quieres restaurar este JOB? 
								</p> 
							</div>
						</div>
						<div class="row">
							<div class="col mb-3">
								<card-cir-job-component></card-cir-job-component>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="text-center">
									<img src="/assets/operador/enter.png" width="125px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	
</script>