<template>
		<div class="card">
			<div class="card-body valign-wrapper">
				<div class="no-valign-wrapper text-center">
					<div class="row">
						<div class="col">
							<div id="cardCNC" class="card jobs-card color-gray font-light shadow">
								<div class="card-body valign-wrapper" style="min-height: 100%;padding: 0 1rem 0 1rem;">
									<div class="no-valign-wrapper">
										<div class="row mt-2">
											<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
												<div class="row fs-18">
													<div class="col font-regular text-left text-black">
														<b>Job:</b>
													</div>
													<div class="col font-regular color-heavy text-right">
														<b>65084</b>
													</div>
												</div>
											</div>
											<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right color-gray" >
												<i class="material-icons te text-black">more_vert</i>
											</div>
										</div>
										<div class="row font-regular">
											<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
												<hr>
												<div class="row">
													<div class="col font-light color-gray text-left">
														#Parte
													</div>
													<div class="col font-light color-heavy text-right">
														100073201
													</div>
												</div>

												<div class="row">
													<div class="col font-light color-gray text-left">
														Operacion:
													</div>
													<div class="col font-light color-heavy text-right">
														20-MAQU
													</div>	
												</div>

												<div class="row">
													<div class="col-8 font-light color-gray text-left">
														Cantidad piezas:
													</div>
													<div class="col font-light color-heavy text-right">
														25
													</div>
												</div>
												<div class="row">
													<div class="col-8 font-light color-gray text-left">
														Tiempo de ciclo:
													</div>
													<div class="col font-light color-heavy text-right">
														11:02
													</div>
												</div>
												<div class="row">
													<div class="col font-light color-gray text-left">
														Cliente:
													</div>
													<div class="col font-light color-heavy text-right">
														HALL
													</div>	
												</div>
											</div>
											<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin-left: -30px;">
												<hr>
												<div class="single-chart" style="width: 8rem;">
													<svg viewBox="0 0 36 36" class="circular-chart blue">
														<path class="circle-bg"
														d="M18 2.0845
														   a 15.9155 15.9155 0 0 1 0 31.831
														   a 15.9155 15.9155 0 0 1 0 -31.831"
														/>
														<path class="circle"
														stroke-dasharray="0, 100"
														d="M18 2.0845
														  a 15.9155 15.9155 0 0 1 0 31.831
														  a 15.9155 15.9155 0 0 1 0 -31.831"
														 />
														<text x="18" y="20.35" class="percentage">0%</text>
													</svg>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="text-white text-center shadow background-color-heavy" style="">
									<div class="row">
										<div class="col-4" style="padding-right: 0px; padding-left: 12px;">
											<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13"><i class="fa fa-calendar fs-16" aria-hidden="true" style="font-size:12px;">&nbsp</i>{{this.fecha}}</b></a>
										</div>
										<div class="col-2" style="padding-right: 0px; padding-left: 0px;">
											<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:12px;">&nbsp</i>{{Math.round(((this.process.job.quantity)*(this.process.operation.standar_time))/60)}}</b></a>
										</div>
										<div class="col-6" style="padding-right: 8px; padding-left: 0px;">
											<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13" v-html="this.process.operation.work_center" > </b></a>
										</div>
									</div>
								</div> -->
							</div>								
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</template>

<script>
	
</script>