<template>
	<div :id="'process_'+this.process.id" class="text-center card-margin" style="width: 360px;">
		<div :id="'cardCNC_'+this.process.id" class="card color-gray font-light card_process" style="width: 360px;">
			<div class="card-body card-sm-body-padding" style="margin-top:0px;margin-bottom:0px;padding: .2rem 1rem;">
					<div class="row">
						<div class="col">
							<div class="row" style="font-size: 13px;border-bottom: 1px solid #e8e8e8;">
								<div class="col-5 font-regular text-left text-black">
									<b>Job: {{this.piecePercent}}%</b>
								</div>
								<div class="col font-regular color-heavy text-right dropdown-toggle" style="padding-right: 0;">
									<b>{{ this.process.job.num_job }}</b>
								</div>
								<div class="col" style="text-align: center; padding-right: 0.1px;color:white;">
									<div v-if= "this.process.status == 'pr'" class="rounded-pill" style="background-color: green; ">{{ this.process.status.toUpperCase() }}</div>
									<div v-if= "this.process.status == 'ls' || this.process.status == 'il' || this.process.status == 'ial' || this.process.status == 'ln' " class="rounded-pill" style="background-color: yellow; ">{{ this.process.status.toUpperCase() }}</div>
									<div v-if= "this.process.status == 'pfh' || this.process.status == 'pfm'" class="rounded-pill" style="background-color: red; ">{{ this.process.status.toUpperCase() }}</div>
									<div v-if= "this.process.status == 'ih' || this.process.status == 'fh' || this.process.status == 'ia' || this.process.status == 'fa'" class="rounded-pill" style="background-color: orange; ">HE</div>
									<div v-if= "this.process.status == 'pm' || this.process.status == 'pmp'" class="rounded-pill" style="background-color: purple;; ">{{ this.process.status.toUpperCase() }}</div>
								</div>
								
							</div>
							<div class="row font-regular" style="font-size: 13px;">
								<div class="col-9">
									<!-- <hr> -->
									<div class="row">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 font-light color-heavy text-left" style="word-break: break-all;">
											#{{ this.process.operation.piece.part_number }}
										</div>
										<input type="hidden" name="" :value="this.process.id">
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Operación:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right">
											{{this.process.operation.operation_service}} - {{this.process.operation.description.substring(0,4)}}
										</div>	
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Cantidad piezas:
										</div>
										<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{ this.process.quantity>0 ? this.process.quantity :this.process.job.quantity }}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Tiempo de ciclo:
										</div>
										<div class="col col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{this.process.operation.standar_time}}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Cliente:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right">
											{{this.process.operation.piece.client.customer}}
										</div>	
									</div>
								</div>
								<div class="col-3" style="padding: 0.1rem;">
									<div class="single-chart" style="width: 90px;">
										<svg viewBox="0 0 36 36" class="circular-chart blue">
											<path class="circle-bg"
											d="M18 2.0845
											   a 15.9155 15.9155 0 0 1 0 31.831
											   a 15.9155 15.9155 0 0 1 0 -31.831"
											/>
											<path class="circle"
											:stroke-dasharray="this.piecePercent+', 100'"
											d="M18 2.0845
											  a 15.9155 15.9155 0 0 1 0 31.831
											  a 15.9155 15.9155 0 0 1 0 -31.831"
											 />
											<text x="18" y="20.35" class="percentage">{{this.piecePercent}}%</text>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="col-1" style="padding-right: 0px; padding-left: 0px;"> -->
							
						<!--</div> -->
					</div>
			</div>
			<!-- <div class="text-white text-center background-color-heavy">
			  <div class="row">
				<div class="col">
					<i class="fa fa-calendar fs-16" aria-hidden="true"></i>
					<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;"><b class="fs-13">2.MAR</b></a>
				</div>
				<div class="col">
					<i class="fa fa-clock-o" aria-hidden="true" style="font-size:20px;"></i>
					<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;"><b class="fs-13">40 HRS</b></a>
				</div>
			  </div>
			</div> -->
		</div>
	</div>
</template>
<style type="text/css">
	.card-margin{
		margin: 0px .25rem;
	}
	.submenu_card:hover{
		cursor: pointer;
	}
	.submenu_card_option{
		font-size: 17px;
		background-color: rgba(218,226,237,0.958);
	}
	.dropdown-item{
		padding: 0.01rem 0.5rem;
	}
	.dropdown-divider{
		margin: 0.15rem 0;
	}
	.jobs-with-margin .card-margin{
	  margin-top: 0.25rem;
	  margin-bottom: 0.25rem;
	}
	.card-sm-body-padding{
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.card_selected{
		-webkit-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		-moz-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
	}
</style>
<script>
	export default {
		name: "CncCardComponent",
		data: ()=> ({
			piecePercent:0,
			pieceTotal:0,
			pieceStart:0,
			process:Laravel.vue.process,
		}),
		props: {
			
		},
		mounted() {
		   axios.post("/operador/capeando/getprocess",{process:this.process,job:Laravel.vue.job})
		   .then(
		   	(response) => { 
		   		var data=response.data;
		   		// console.log(data);
		   		this.process=data.process;
		   		this.piecePercent=data.piecePercent;
		   		this.pieceStart=this.pieceTotal=data.pieceTotal;
		   	}
		   ).catch(error => {
		   	console.log("error",error);
		   });
		},
		methods: {
		}
	}
</script>