<template>
	<div :id="'process_'+this.process.id" class="text-center card-margin"  style="width: 220px;">
		<div :id="'cardCNC_'+this.process.id" class="card color-gray font-light shadow card_process" style="width: 220px;" v-on:click="CardClic">
			<div class="card-body card-sm-body-padding" style="margin-top:0px;margin-bottom:0px;padding: .2rem 1rem;">
					<div class="row">
						<div class="col">
							<div class="row" style="font-size: 13px;border-bottom: 1px solid #e8e8e8;">
								<div class="col font-regular text-left text-black">
									<b>Job:</b>
								</div>
								<div class="col font-regular color-heavy text-right dropdown-toggle" style="padding-right: 0;">
									<b>{{ this.process.job.num_job }}</b>
								</div>
								<div class="d-flex">
									<i :id="'submenu_'+this.process.id" class="material-icons te text-black submenu_card" style="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_vert</i>
									<div class="dropdown-menu  dropdown-menu-sm-right submenu_card_option"  :aria-labelledby="'submenu_'+this.process.id" style="padding: 0px 1px;font-size: 11px;">
										<a class="dropdown-item disabled" href="#">Restaurar</a>
										<a class="dropdown-item" href="#" v-on:click="divideProcess">Dividir</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#" v-on:click="DeleteCnCJob">Eliminar</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#" @click="setDibujo('dibujo')">Dibujo técnico</a>
										<a class="dropdown-item" href="#" @click="setDibujo('mot')">MOT</a>
										<a class="dropdown-item" href="#" @click="setDibujo('plan')">Plan de inspección</a>
									</div>
								</div>
							</div>
							<div class="row font-regular" style="font-size: 11px;">
								<div class="col">
									<!-- <hr> -->
									<div class="row">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 font-light color-heavy text-left" style="word-break: break-all;">
											#{{ this.parte_li}}
										</div>
										<input type="hidden" name="" :value="this.process.id">
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Operación:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right" v-html="this.process.operation.operation_service + ' - ' + this.process.operation.description">
										</div>
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Cantidad piezas:
										</div>
										<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{ this.process.quantity > 0 ? this.process.quantity :this.process.job.quantity }}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Tiempo de ciclo:
										</div>
										<div class="col col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{this.process.operation.standar_time}}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Cliente:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right">
											{{this.cliente_li}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="col-1" style="padding-right: 0px; padding-left: 0px;"> -->

						<!--</div> -->
					</div>
			</div>
			<div class="text-white text-center shadow background-color-heavy" style="">
				<div class="row">
					<div class="col-4" style="padding-right: 0px; padding-left: 12px;">
						<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13"><i class="fa fa-calendar fs-16" aria-hidden="true" style="font-size:12px;">&nbsp</i>{{this.fecha}}</b></a>
					</div>
					<div class="col-2" style="padding-right: 0px; padding-left: 0px;">
						<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:12px;">&nbsp</i>{{Math.round(((this.process.job.quantity)*(this.process.operation.standar_time))/60)}}</b></a>
					</div>
					<div class="col-6" style="padding-right: 8px; padding-left: 0px;">
						<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13" v-html="this.process.operation.work_center" > </b></a>
					</div>
				</div>
			</div>
		</div>
		<dividir-component></dividir-component>
        <DibujoMot></DibujoMot>
	</div>
</template>
<style type="text/css">
	.card-margin{
		margin: 0px .25rem;
	}
	.submenu_card:hover{
		cursor: pointer;
	}
	.submenu_card_option{
		font-size: 17px;
		background-color: rgba(218,226,237,0.958);
	}
	.dropdown-item{
		padding: 0.01rem 0.5rem;
	}
	.dropdown-divider{
		margin: 0.15rem 0;
	}
	.jobs-with-margin .card-margin{
	  margin-top: 0.25rem;
	  margin-bottom: 0.25rem;
	}
	.card-sm-body-padding{
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.card_selected{
		-webkit-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		-moz-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
	}
</style>
<script>
	import dividir from '../jobs/modals/DividirComponent';
    import DibujoMot from '../jobs/modals/DibujoMotComponent';
	export default {
		name: "CncJobAsignar",
		components:{
            dividir,
            DibujoMot
		},
		props: [
			'process',
			'clic',
		],
		data: ()=> ({
			fecha:'',
			parte_li:'',
			cliente_li:''
		}),
		mounted() {

			var texto = this.process.job.delivered_at;
			var fecha_split = texto.split(" ");
			var date_split = fecha_split[0].split("-");
			this.fecha = date_split[2]+"-"+date_split[1];

			var parte_limit = this.process.operation.piece.part_number;
			this.parte_li = parte_limit;

			var cliente_limit = this.process.operation.piece.client.customer;
			this.cliente_li = cliente_limit.slice(0, 8);

		},
		methods: {
			CardClic:function () {
				// console.log("Asignar",this.clic);
				$(".card_process").removeClass("card_selected");
				$("#cardCNC_"+this.process.id).addClass('card_selected');
				window.Laravel.jobs.cardSelect = this.process;
				// console.log("CncJobAsignar",this.process);
			},
			divideProcess: function () {
				$("#dividir"+this.process.id).modal('show');
				// axios.post("/api/jobs/divide",{"wc_id":this.process.workcenter_id,'process':this.process})
				// .then(
				// 	(response) => {
				// 		var data=response.data;
				// 		// console.log("divideProcess",data);
				// 	}
				// ).catch(error => {
				// 	console.log(error,error.response,error.response.data.message);
				// });
            },
            setDibujo(type = 'dibujo'){
				switch (type) {
                    case 'dibujo':
                        this.dibujo = true;
                        this.mot = this.plan = false;
                        break;
                    case 'mot':
                        this.mot = true;
                        this.plan = this.dibujo = false;
                        break;
                    case 'plan':
                        this.dibujo = this.mot = false;
                        this.plan = true;
                        break;
                }
				$("#modalDibujo"+this.process.id).modal('show');
            },
			DeleteCnCJob: function (e){
				axios.post("api/jobs/soft_delete",{"wc_id":this.process.workcenter_id,'process':this.process})
				.then(
					(response) => {
						var data=response.data;
						this.$parent.inputSearchAsignarChange();
						// console.log("delete",data);
					}
				).catch(error => {
					console.log(error,error.response,error.response.data.message);
				});
			}

		}
	}
</script>
