<template>
	<div :id="'process_'+this.process.id" class="text-center card-margin" v-on:click="CardClic" style="width: 260px;">
		<div :id="'cardCNC_'+this.process.id" class="card color-gray font-light card_process" style="width: 260px;">
			<div class="card-body card-sm-body-padding" style="margin-top:0px;margin-bottom:0px;padding: .2rem 1rem;">
					<div class="row">
						<div class="col">
							<div class="row" style="font-size: 13px;border-bottom: 1px solid #e8e8e8;">
								<div class="col-5 font-regular text-left text-black">
									<b>Job:</b>
								</div>
								<div class="col font-regular color-heavy text-right dropdown-toggle" style="padding-right: 0;">
									<b>{{ this.process.job.num_job }}</b>
								</div>
								<div class="col" style="text-align: center; padding-right: 0.1px;color:white;">
									<div v-if= "process.status == 'pr'" class="rounded-pill" style="background-color: green; ">{{process.status.toUpperCase() }}</div>
									<div v-if= "process.status == 'ls' || process.status == 'il' || process.status == 'ial' || process.status == 'ln' " class="rounded-pill" style="background-color: yellow; color: black ">{{process.status.toUpperCase() }}</div>
									<div v-if= "process.status == 'pfh' || process.status == 'pfm'" class="rounded-pill" style="background-color: red; ">{{process.status.toUpperCase() }}</div>
									<div v-if= "process.status == 'ih' || process.status == 'fh' || process.status == 'ia' || process.status == 'fa'" class="rounded-pill" style="background-color: orange; ">{{process.status.toUpperCase() }}</div>
									<div v-if= "process.status == 'pm' || process.status == 'pmp'" class="rounded-pill" style="background-color: purple; ">{{process.status.toUpperCase() }}</div>
								</div>
								<div class="d-flex">
									<i :id="'submenu_'+this.process.id" class="material-icons te text-black submenu_card" style="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_vert</i>
									<div class="dropdown-menu  dropdown-menu-sm-right submenu_card_option"  :aria-labelledby="'submenu_'+this.process.id" style="padding: 0px 1px;font-size: 11px;">
										<a class="dropdown-item disabled" href="#">Restaurar</a>
										<a class="dropdown-item" style="cursor: pointer;" @click="desasignar">Desasignar</a>
										<a class="dropdown-item" href="#" @click="divideProcess()">Dividir</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" id ="terminar" href="#" v-on:click="Modalterminar">Terminar</a>
										<a class="dropdown-item" href="#" v-on:click="Modaleficiencias">Eficiencias</a>
										<div class="dropdown-divider"></div>

										<a class="dropdown-item" href="#" @click="setDibujo('dibujo')">Dibujo técnico</a>
										<a class="dropdown-item" href="#" @click="setDibujo('mot')">MOT</a>
										<a class="dropdown-item" href="#" @click="setDibujo('plan')">Plan de inspección</a>
									</div>
								</div>
							</div>
							<div class="row font-regular" style="font-size: 11px;">
								<div class="col-9">
									<!-- <hr> -->
									<div class="row">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 font-light color-heavy text-left " style="padding-right: 0px; word-break: break-all; font-size: 9px">
											#{{ this.parte_li}}
										</div>
										<input type="hidden" name="" :value="this.process.id">
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Operación:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right" v-html="this.process.operation.description.substring(0,4) == 'DI&A' ? this.process.operation.operation_service + ' - ' + 'DIAM' : this.process.operation.operation_service + ' - ' + this.process.operation.description.substring(0,4)">
										</div>
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Cantidad piezas:
										</div>
										<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{ this.process.quantity>0 ? this.process.quantity :this.process.job.quantity }}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Tiempo de ciclo:
										</div>
										<div class="col col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{this.process.operation.standar_time}}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Cliente:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right">
											{{this.cliente_li}}
										</div>
									</div>
								</div>
								<div class="col-3" style="padding: 0.1rem;">
									<div class="single-chart" style="width: 65px;">
										<svg viewBox="0 0 36 36" class="circular-chart blue">
											<path class="circle-bg"
											d="M18 2.0845
											   a 15.9155 15.9155 0 0 1 0 31.831
											   a 15.9155 15.9155 0 0 1 0 -31.831"
											/>
											<path :class="'circle value_circle_'+this.process.id"
											stroke-dasharray="0, 100"
											d="M18 2.0845
											  a 15.9155 15.9155 0 0 1 0 31.831
											  a 15.9155 15.9155 0 0 1 0 -31.831"
											 />
											<text :id="'text_circle_'+this.process.id"  x="18" y="20.35" class="percentage">0%</text>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="col-1" style="padding-right: 0px; padding-left: 0px;"> -->

						<!--</div> -->
					</div>
			</div>
			<div class="text-white text-center shadow background-color-heavy" style="">
				<div class="row">
					<div class="col-4" style="padding-right: 0px; padding-left: 12px;">
						<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13"><i class="fa fa-calendar fs-16" aria-hidden="true" style="font-size:12px;">&nbsp</i>{{this.fecha}}</b></a>
					</div>
					<div class="col-2" style="padding-right: 0px; padding-left: 0px;">
						<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:12px;">&nbsp</i>{{Math.round(((this.process.job.quantity)*(this.process.operation.standar_time))/60)}}</b></a>
					</div>
					<div class="col-6" style="padding-right: 8px; padding-left: 0px;">
						<a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;font-size: 10px"><b class="fs-13" v-html="this.process.operation.work_center"></b></a>
					</div>
				</div>
			</div>
		</div>
		<DibujoMot></DibujoMot>
        <dividir-component></dividir-component>

        <!-- Modal Loader -->
	    <div class="modal fade" id="loader-modal" role="dialog" tabindex="0" data-keyboard="false">
	        <div class="modal-dialog modal-dialog-centered">
	            <!-- Modal content-->
		        <div class="modal-content">

	                <div class="modal-body">
						<div class="container-fluid" style="margin color: grey; overflow: auto;" >
							<div>
								<div class="row" >
									<div class="col text-center">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <h3 class="my-3">Actualizando...</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
	    </div>

		<!-- Modal -->
	    <div class="modal fade" :id="'config_terminar' + process.id" role="dialog" tabindex="0" v-on:keydown.esc="closeModal">
	        <div class="modal-dialog modal-dialog-centered">
	            <!-- Modal content-->
		        <div class="modal-content">
	                <div class="modal-header ">
						<div class="container-fluid ">
							<div class="row">
								<div class="col col text-right color-gray font-light">
									Cerrar <img src="/assets/operador/esc.png" width="85px">
								</div>
							</div>
						</div>
					</div>
	                <div class="modal-body">
						<div class="container-fluid" style="margin color: grey; overflow: auto;" >
							<div>
								<div class="row my-5">
									<div class="col my-3"><h4>¿Esta Seguro que Desea Terminar?</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
	                <div class="modal-footer" style="justify-content: center;">
				        <button type="button" class="button-blue btn-lg" style="height: 80%" v-on:click="TerminarJob">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
				        <button type="button" class="button-blue btn-lg" style="height: 80%" v-on:click="closeTerminarModal">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
			        </div>
	            </div>
	        </div>
	    </div>
	    <!-- Modal -->
	    <div class="modal fade" id="eficienciasModal" role="dialog" tabindex="0">
	        <div class="modal-dialog">
	            <!-- Modal content-->
		        <div class="modal-content">
	                <div class="modal-header ">
						<div class="container-fluid ">
							<div class="row">
								<div class="col col text-right color-gray font-light">
									Cerrar <img src="/assets/operador/esc.png" width="85px">
								</div>
							</div>
						</div>
					</div>
	                <div class="modal-body">
						<div class="container-fluid" style="margin color: grey; overflow: auto;" >
							<div id="div1" style="height: 360px " >
								<div class="row jobs-with-margin" >
									<div class="row mt-12" style="width: 100%;">
										<div class="col-md-12" style="width: 100%; margin: 0px auto;">
											<div class=" card green-card card-size shadow" v-bind:class="{ 'green-card':isGreen, 'yellow-card-2': isYellow,'red-card-2':isRed }">
												<div class="card-body">
													<div class="row">
														<div class="col">
															<b class="font-regular"> Productividad </b>
														</div>
													</div>
													<div class="row">
														<div class="col">
															<p class="porcent">{{ this.productividad }}% </p>
														</div>
													</div>
													<div class="row">
														<div class="col">
															<div class="round-xlarge progress-bar-white">
																<div class="round-xlarge progress-container" :style="'width:'+(this.productividad > 100 ? 100 : productividad)+'%'" id="barra">%</div>
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-8 font-light">
															 <p>Tiempo de Ciclo: </p>
														</div>
														<div class="col-md-4 text-right font-regular">
															<b>{{ this.process.operation.standar_time }}min</b>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="container" v-if="cargandoEficiencia">
                            <div class="row">
                                <div class="col text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                    <p class="my-2">Cargando</p>
                                </div>
                            </div>
                        </div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</template>
<style type="text/css">
	.card-margin{
		margin: 0px .25rem;
	}
	.submenu_card:hover{
		cursor: pointer;
	}
	.submenu_card_option{
		font-size: 17px;
		background-color: rgba(218,226,237,0.958);
	}
	.dropdown-item{
		padding: 0.01rem 0.5rem;
	}
	.dropdown-divider{
		margin: 0.15rem 0;
	}
	.jobs-with-margin .card-margin{
	  margin-top: 0.25rem;
	  margin-bottom: 0.25rem;
	}
	.card-sm-body-padding{
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.card_selected{
		-webkit-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		-moz-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
	}
</style>
<script>
    import dividir from '../jobs/modals/DividirComponent';
	import DibujoMot from '../jobs/modals/DibujoMotComponent';
	export default {
		// name: "cnc-job-full-component",
		props: [
			'process',
			'clic',
            'process_key',
            'dividir_workcenters'
		],
		components:{
			DibujoMot,
		},
		data: ()=> ({
			fecha:'',
			parte_li:'',
			cliente_li:'',
			dibujo: true,
			mot: false,
			plan: false,
			productividad:0,
			isGreen:false,
            isYellow:false,
            isRed:true,
            isSubmit: false,
            cargandoEficiencia: false

		}),
		mounted() {
			// console.log('card cnc mounted',this.process,this.process.id);
			var texto = this.process.job.delivered_at;
			var fecha_split = texto.split(" ");
			var date_split = fecha_split[0].split("-");
			this.fecha = date_split[2]+"-"+date_split[1];

			var parte_limit = this.process.operation.piece.part_number;
			this.parte_li = parte_limit;

			var cliente_limit = this.process.operation.piece.client.customer;
            this.cliente_li = cliente_limit.slice(0, 8);

            $(".value_circle_"+this.process.id).attr('stroke-dasharray',this.process.cycles.piecePercent+",100");
            $("#text_circle_"+this.process.id).empty();
            $("#text_circle_"+this.process.id).append(this.process.cycles.piecePercent+"%");

			// axios.post("operador/cycles",this.process)
			// .then((response) => {
            //     var data=response.data;
            //     console.log('Ciclos', data);
			// 	// console.log("[CNC JOB FULL data ]",data,this.$parent.workcenter);
			// 	$(".value_circle_"+this.process.id).attr('stroke-dasharray',data.piecePercent+",100");
			// 	$("#text_circle_"+this.process.id).empty();
			// 	$("#text_circle_"+this.process.id).append(data.piecePercent+"%");
            // })
            // .catch(error => {
			// 	console.log("error",error);
			// });
			//this.get_productividad();
		},
		methods: {
            desasignar () {

                if (this.isSubmit) {
                    return;
                }

                var isUserAccept = confirm('¿Esá seguro que quiere volver este Job a la cola?');

                if (!isUserAccept) {
                    return;
                }

                self = this;

                self.isSubmit = true;

                $("#loader-modal").modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });

                axios.post('jobs/desasignar', {
                    process_id: self.process.id
                })
                .then(response => {

                    //vamo a calmano

                    let parent = this.$parent;

                    parent.num_job = $("#inputSearchAsignar").val();
                    parent.enEspera = 0;

                    axios.post(parent.url_workcenters, {"section": parent.section})
                    .then((response) => {

                        var data            = response.data;
						parent.workcenters    = data.workcenters;
						parent.programados    = data.programados;
                        parent.proceso        = data.proceso;

						$.each(parent.workcenters, (index, workcenter) => {

							if (workcenter.processes.length > 0) {

                                var contar = true;

								for (var i = workcenter.processes.length - 1; i >= 0; i--) {
									if (workcenter.processes[i].active == true) {
										contar=false;
										break;
                                    }
                                }

								if(contar == true) {
									parent.enEspera++;
                                }

							}
                        });

                        $("#loader-modal").modal('hide');

					}).catch(error => {
                        $("#loader-modal").modal('hide');
                    });


                })
                .catch(error => {
                    alert('Ha ocurrido un error inesperado, revise el log para mas detalles');
                    console.log(error)
                    $("#loader-modal").modal('hide');

                })
                .then(() => {
                    self.isSubmit = false;

                });

            },
			setDibujo(type = 'dibujo') {
                switch (type) {
                    case 'dibujo':
                        this.dibujo = true;
                        this.mot = this.plan = false;
                        break;
                    case 'mot':
                        this.mot = true;
                        this.plan = this.dibujo = false;
                        break;
                    case 'plan':
                        this.dibujo = this.mot = false;
                        this.plan = true;
                        break;
                }
				$("#modalDibujo"+this.process.id).modal('show');
            },
            getWorkcenter() {
                this.$parent.GetWorkcenter();
            },
			CardClic:function () {
				//id=$(this).attr('id');
				if (this.clic) {
					$(".card_process").removeClass("card_selected");
					$("#cardCNC_"+this.process.id).addClass('card_selected');
					window.Laravel.jobs.cardSelect=this.process;
					// console.log(window.Laravel.jobs.cardSelect);
				}

				//console.log("[clic card]",this.process.id);
			},
			DeleteCnCJob: function (e){
				// console.log(this.process);
				Array.prototype.delete = function ( index) {
					// Delete a item at index
				    this.splice( index, 1);
				};
				var wc_proceess=[];
				this.$parent.workcenters.find((wc,index)=>{
					if(wc.id==this.process.workcenter_id) {
						// console.log("[for]",this.process_key);
						this.$parent.workcenters[index]["processes"].delete(this.process_key);
						wc_proceess=this.$parent.workcenters[index]["processes"];
						return true;
					}
				});
				axios.post("api/restoreJob",{"wc_id":this.process.workcenter_id,"process":this.process})
				.then(
					(response) => {
						var data=response.data;
						// console.log(response,data);
					}
				).catch(error => {
					console.log(error,error.response,error.response.data.message);
				});
				axios.post(this.$parent.url_addjobstoworkcenter,{"wc_id":this.process.workcenter_id,"process":JSON.stringify(wc_proceess)})
				.then(
					(response) => {
						var data=response.data;
						// console.log(data);
					}
				).catch(error => {
					console.log(error,error.response,error.response.data.message);
				});
				// $("#process_"+Laravel.jobs.cardSelect.id).parent().remove();
				// $("#modalAsignar").modal('hide');
            },
            divideProcess: function () {
				$("#dividir"+this.process.id).modal('show');
			},
			TerminarJob:function (e) {
                if (this.isSubmit) {
                    return;
                }

                $("#loader-modal").modal({
                    show: true,
                    keyboard: false,
                    backdrop: 'static'
                });

                this.isSubmit = true;
                var self = this;
				var process_id = this.process.id;
                var workcenter = this.$parent;

				$( "#config_terminar" + self.process.id ).modal('hide');
				axios.post("api/terminar",{
                    "process_id": process_id
                })
				.then(response => {
                    workcenter.GetWorkcenter();
                })
                .catch(error => {
                    alert('Ha ocurrido un error');
                })
                .then(response => {
                    $("#loader-modal").modal('hide');
                    self.isSubmit = false;
                });
			},
			Modalterminar: function(){
				$("#config_terminar" + this.process.id ).modal('show');
			},
			closeTerminarModal:function(){
				$("#config_terminar" + this.process.id ).modal('hide');
			},
			Modaleficiencias: function(){
                this.get_productividad();
                this.cargandoEficiencia = true;
				$("#eficienciasModal").modal('show');
			},
			get_productividad(){
                var self = this;
				//console.log(this.process);
				axios.post("api/eficiencia/ceo",{"process":this.process,user:Laravel.user})
				.then(
					(response) => {
						var data=response.data;
                        this.productividad=data.productividad;

                        self.cargandoEficiencia = false;

						if (this.productividad >= 70) {
							this.isGreen = true;
							this.isYellow = this.isRed = false;
						} else if (this.productividad >= 50) {
							this.isYellow=true;
							this.isGreen=this.isRed=false;
						}else{
							this.isRed=true;
							this.isGreen=this.isYellow=false;
						}
					}
				).catch(error => {
                    console.log("error",error);
                    this.cargandoEficiencia = false;
				});
			}
		},
        watch: {
            process (after, before) {
                // console.log('change');
            }
        }
	}
</script>
