<template>
	<div :id="'process_'+this.process.id" class="text-center card-margin" style="width: 220px;">
		<div :id="'cardCNC_'+this.process.id" class="card color-gray font-light shadow card_process" style="width: 220px;">
			<div class="card-body card-sm-body-padding" style="margin-top:0px;margin-bottom:0px;padding: .2rem 1rem;">
					<div class="row">
						<div class="col">
							<div class="row" style="font-size: 13px;border-bottom: 1px solid #e8e8e8;">
								<div class="col font-regular text-left text-black">
									<b>Job:</b>
								</div>
								<div class="col font-regular color-heavy text-right dropdown-toggle" style="padding-right: 0;">
									<b>{{ this.process.job.num_job }}</b>
								</div>
								<!-- <div class="d-flex">
									<i :id="'submenu_'+this.process.id" class="material-icons te text-black submenu_card" style="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_vert</i>
									<div class="dropdown-menu  dropdown-menu-sm-right submenu_card_option"  :aria-labelledby="'submenu_'+this.process.id" style="padding: 0px 1px;font-size: 11px;">
										<a class="dropdown-item disabled" href="#">Restaurar</a>
										<a class="dropdown-item" href="#" v-on:click="divideProcess">Dividir</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#" v-on:click="DeleteCnCJob">Eliminar</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Dibujo técnico</a>
										<a class="dropdown-item" href="#">MOT</a>
									</div>
								</div> -->
							</div>
							<div class="row font-regular" style="font-size: 11px;">
								<div class="col">
									<!-- <hr> -->
									<div class="row">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 font-light color-heavy text-left" style="word-break: break-all;">
											#{{ this.process.operation.piece.part_number }}
										</div>
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Operación:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right" v-html="this.process.operation.description.substring(0,4) == 'DI&A' ? this.process.operation.operation_service + ' - ' + 'DIAM' : this.process.operation.operation_service + ' - ' + this.process.operation.description.substring(0,4)">
										</div>	
									</div>

									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Cantidad piezas:
										</div>
										<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{ this.process.quantity>0 ? this.process.quantity :this.process.job.quantity }}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 font-light color-gray text-left">
											Tiempo de ciclo:
										</div>
										<div class="col col-sm-6 col-md-4 col-lg-4 col-xl-4 font-light color-heavy text-right">
											{{this.process.operation.standar_time}}
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-gray text-left">
											Cliente:
										</div>
										<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 font-light color-heavy text-right">
											{{this.process.operation.piece.client.customer}}
										</div>	
									</div>
								</div>
							</div>
						</div>
						<!--<div class="col-1" style="padding-right: 0px; padding-left: 0px;"> -->
							
						<!--</div> -->
					</div>
			</div>
			<div class="text-white text-center shadow background-color-heavy">
			  <div class="row">
				<div class="col">
					<!-- <i class="fa fa-calendar fs-16" aria-hidden="true"></i> -->
					<!-- <a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;"><b class="fs-13">2.MAR</b></a> -->
				</div>
				<div class="col">
					<!-- <i class="fa fa-clock-o" aria-hidden="true" style="font-size:20px;"></i> -->
					<!-- <a href="#" class="btn text-white" style="margin-bottom:0px;padding: 0px;"><b class="fs-13">40 HRS</b></a> -->
				</div>
			  </div>
			</div>
		</div>
	</div>
</template>
<style type="text/css">
	.card-margin{
		margin: 0px .25rem;
	}
	.submenu_card:hover{
		cursor: pointer;
	}
	.submenu_card_option{
		font-size: 17px;
		background-color: rgba(218,226,237,0.958);
	}
	.dropdown-item{
		padding: 0.01rem 0.5rem;
	}
	.dropdown-divider{
		margin: 0.15rem 0;
	}
	.jobs-with-margin .card-margin{
	  margin-top: 0.25rem;
	  margin-bottom: 0.25rem;
	}
	.card-sm-body-padding{
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.card_selected{
		-webkit-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		-moz-box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
		box-shadow: 0px 0px 11px 5px rgba(12,83,196,1)!important;
	}
</style>
<script>
	export default {
		name: "CncJobDividir",
		components:{
		},
		props: [
			'process',
		],
		data: ()=> ({

		}),
		mounted() {

		},
		methods: {
			

		}
	}
</script>