
// Fonts
@font-face { 
    font-family: Montserrat-SemiBold; 
    src: url('/fonts/Montserrat-SemiBold.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Light; 
    src: url('/fonts/Montserrat-Light.ttf'); 
} 

@font-face { 
    font-family: Montserrat-Regular; //T2
    src: url('/fonts/Montserrat-Regular.ttf'); 
} 

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~font-awesome/scss/font-awesome';
@import './sidebar';
@import './style';
@import './setup';
@import './index';
@import './modal'; 
