
// Pantalla resultados bueno 
.modal-size {
	height: auto; 
}

.modal-green{
background-color: #0cbf76;
color:white;
font-family: Montserrat-Medium;
font-size: 40px; 
}

.progress-bar-modal-green{
   background-color: #9ee5c8; 
   margin-bottom: 2.5rem;
}

.progress-container-modal{
  padding: 0.75em 16px;
  background-color: white;
  font-size: 6.5px; 
}

.porcent-modal{
  font-size: 70px; 
  text-align: center; 
  font-family: Montserrat-SemiBold;
  margin-bottom: 0.5rem;
}

.button-green{
  align-content: center;
  background-color:#005d02;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  font-size:20px;
  padding:10px 31px;
  text-shadow:0px 1px 0px #2f6627;
}

//Pantalla resultados malo
.modal-red{
background-color: #f75c5c;
color:white;
font-family: Montserrat-Medium;
font-size: 30px; 
}

.button-red{
  align-content: center;
  background-color:#c84844;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  font-size:20px;
  padding:5px 31px;
  text-shadow:0px 1px 0px #2f6627;
}

.progress-bar-modal-red{
   background-color: #fcbebe; 
   margin-bottom: 2.5rem;
}

//Pantalla resultados regular 

.modal-yellow{
background-color: #f9da58;
color:white;
font-family: Montserrat-Medium;
font-size: 40px; 
}

.button-yellow{
  align-content: center;
  background-color:#caa941;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  font-size:20px;
  padding:10px 31px;
  text-shadow:0px 1px 0px #2f6627;
}

.progress-bar-modal-yellow{
   background-color: #fdf0bc; 
   margin-bottom: 2.5rem;
}

//Pantalla pausa 

body .pausa-backg {
  background: url("/assets/operador/Pausa_prueba.png") no-repeat;
  background-size: 21rem; 
}

.button-red-pausa{
  align-content: center;
  background-color:#f75c5c;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  font-size:20px;
  padding:10px 31px;
  color: #FFF; 
}

table{
  border: 1px solid #dee2e6;;
}

.table td, .table, th{
  border-top: none; 
}

.color-red{
  background-color: #f75c5c; 
  color: #FFF; 
  align-content: center;
}

.pausa-text{
  font-size: 79px; 
}

.background-pausa{
   background-position: center !important;
}

.size-card{
    height: 25rem;
    max-width: 100%;
    max-height: 100%;
}

.card{
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.form-red{
  color: #f75c5c;
}

.margin-top-red{
  margin-top: 1rem; 
}

//Mantenimiento Espera

.back-gray{
  background-color: #afafaf;
  color: #FFF; 
  align-content: center;
}

//Mantenimiento Proceso

.skip-right{
  position: absolute;
  right: 1rem;
}

.fs-25{
  font-size: 25px;
}

.lh-inherit{
  line-height: inherit;
}

//Scraps

.center-items{
  margin-right: auto;
  margin-left: auto;
  display:block;  
}

.button-blue {
  align-content: center;
  background-color: #0c54c4;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 31px;
  text-shadow: 0px 1px 0px #2f6627;
  color: #FFF;   
}

.input-scraps{
  font-family: 'Montserrat-SemiBold'; 
  font-size: 20px;
  text-align: center; 
  padding: 10px 10px 10px 5px;
  width: 155px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

.shadow{
  -webkit-box-shadow: 1px 8px 60px 13px rgba(140,140,140,0.42);
  -moz-box-shadow: 1px 8px 60px 13px rgba(140,140,140,0.42);
  box-shadow: 1px 8px 60px 13px rgba(140,140,140,0.42);
}

//Dibujo Tecnico 

.modal-content-transparent{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 0.3rem;
  outline: 0;
}

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
  max-width: 512px;
  max-height: 100%; 
  overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  
  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */
  
}
 
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
  padding-bottom: 107%;
}

/* general styles */
/* ============== */
.set-border {
  border: 5px inset #4f4f4f;
}
.set-box-shadow { 
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
  -moz-box-shadow: 4px 4px 14px #4f4f4f;
  box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
  padding: 40px;
}
.set-margin {
  margin: 30px;
}
.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}