html,body,#app,.content-nav,main{
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    // main{
    //     min-height: 90%;
    //     height: 90%;
    //     max-width: 100%;
    // }
}
body{
    position: relative;
    font-family: Montserrat-SemiBold;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.valign-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .no-valign-wrapper{
        display: block;
        width: 100%;
    }
}
.text-naranja{
    color: #F99D4B;
}
.container-fluid-100{
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.font-reg {
  font-family: Montserrat-Regular; 
}

.font-autoliberacion{
    font-size: 26px;
    line-height: 1rem;
}
