
// Fonts
@font-face {
    font-family: Montserrat-SemiBold;
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Regular; //T2
    src: url('/fonts/Montserrat-Regular.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import 'node_modules/bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "node_modules/material-design-icons/iconfont/material-icons";
@import '~font-awesome/scss/font-awesome';
@import './sidebar';
@import './setup';
@import '../operadores/style';
@import './index';
@import './modal';
@import './asignados';
@import './jobs';
@import 'node_modules/jquery-confirm/css/jquery-confirm';

// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
