.navbar-asignados{
	position: relative;
    align-items: center;
    padding: 0.5rem 1rem;
}

.background-main-index {
  background-color: #E6E8F1;
}

.margin-content{
	margin-left: 10rem; 
	margin-right: 10rem;
}

.jobs-card{
	width: 22rem;
	height: 11rem;
	display: inline-block;
	position: relative;
}

.jobs-card-sm{
	width: 15rem;
	height: 9rem;
	display: inline-block;
	position: relative;
}

.background-color-heavy{
	background-color: #0c54c4;
}

.fs-20{
	font-size: 20px;
}

.fs-18{
	font-size: 18px;
}

.fs-16{
	font-size: 16px;
}

.fs-15{
	font-size: 15px;
}
.fs-12{
	font-size: 12px;
}

.fs-13{
	font-size: 13px;
}

.fs-14{
	font-size: 14px; 
}

.lh-05{
	line-height: 0.5rem;
}

.lh-02{
	line-height: 0.2rem;
}

.lh-01{
	line-height: 0.1rem;
}

.dashed{
	border-style: dashed;
	color: #D8D8D8;
	background-color: #F9F9F9;
}

.img-tecmaq{
	max-width:50%; 
	width: 50%; 
	height: 100%; 
	margin-bottom: -0.5rem;
}
