.background-img {
  background-position: center !important;
  height: 100%;
}
#status{
  min-height: 35%;
  height: auto;
  .card, .card-group{
    height: 100%;
  }
}
body .setup-inactivo {
  background: url("/assets/operador/setup inactivo.png") no-repeat;
  background-size: 40%;
}

body .setup-activo{
  background: url("/assets/operador/setup activo.png") no-repeat;
  background-size: 40%;
}

body .produccion-inactivo {
  background: url("/assets/operador/produccion inactivo.png") no-repeat;
  background-size: 40%;
}

body .produccion-activo {
  background: url("/assets/operador/produccion activo.png") no-repeat;
  background-size: 40%;
}

body .pausa-inactivo {
  background: url("/assets/operador/pausa inactivo.png") no-repeat;
  background-size: 40%;
}

body .pausa-activo {
  background: url("/assets/operador/pausa activo.png") no-repeat;
  background-size: 40%;
}

.green-card{
  background-color: #0cbf76;
  color:white;
  font-family: Montserrat-Medium;
  font-size: 20px; 
  height: 15rem; 
}

.white-card{
  background-color: white; 
  font-family:Montserrat-Medium; 
  color: black;
  font-size: 20px; 
  height: 15rem; 
}

.bg-pause {
  background: #F3EB46;
}

.rh-100 {
  height: 100%;
}

.rh-100 {
  width: 100%;
}

.round-xlarge{
  border-radius:16px;
  box-sizing: inherit;
}

.round-xxlarge{
  border-radius:32px; 
  box-sizing: inherit;
}

#id{
  font-family: Monserrat-Bold;
}

.transparent{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.progress-bar-white{
   background-color: #9ee5c8; 
   margin-bottom: 1.3rem;
}
.progress-bar-white1{
  background-color: #7B81DD;
  margin-bottom: 1.3rem;
}

.progress-container{
  padding: 0.01em 16px;
  background-color: white;
  font-size: 6.5px; 
}

.progress-container1{
  padding: 0.01em 16px;
  background-color: #0A55C0;
  font-size: 6.5px; 
}

.porcent{
  font-size: 55px; 
  text-align: center; 
  font-family: Montserrat-SemiBold;
  margin-bottom: 0.5rem;
}
.porcent1{
  font-size: 55px; 
  text-align: center;
  color: blue;
  font-family: Montserrat-SemiBold;
  margin-bottom: 0.5rem;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 142px;
  justify-content: space-around ;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 7rem;
}

.circle-bg {
  fill: none;
  stroke: #6c99da;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


.circular-chart.blue .circle {
  stroke: #0a55c1;
}

.percentage {
  fill: #0a55c1;
  font-family: Montserrat-SemiBold;
  font-size: 0.5em;
  text-anchor: middle;
}

.hr-card{
  border-top: white;
}

.background-main-index{
  background-color: #E6E8F1;
}

.container-main-index{
  width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.background-white{
  background-color: #FFF;
}

.font-black{
  color:black;
}

.background-main-index {
  background-color: #E6E8F1;
}

.background-transparent{
  background: transparent;
}

.input-search{
  border: none; border-radius: 1rem;
}