html,body,#app,.content-nav{
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    main{
        min-height: 90%;
        height: 90%;
        max-width: 100%;
    }
}
body{
    position: relative;
    font-family: Montserrat-SemiBold;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.valign-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .no-valign-wrapper{
        display: block;
        width: 100%;
    }
}
.text-naranja{
    color: #F99D4B;
}
.container-fluid-100{
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.font-reg {
  font-family: Montserrat-Regular; 
}

.font-autoliberacion{
    font-size: 26px;
    line-height: 1rem;
}

.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat-Regular;
    font-weight: 100;
    font-size: 15px;
    color: #6E6E6E;
    background-color: transparent;
    border-radius: 15px;
    border: 1px double #6E6E6E;
  }
.boton_1:hover{
    opacity: 0.8;
    text-decoration: none;
  }

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.centrado{
    position: center;
    font-size: 10px;
    margin-top: -20px;
    
    
}

.button-blue {
  font-family: Montserrat-SemiBold; 
  align-content: center;
  background-color: #0c54c4;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 31px;
  text-shadow: 0px 1px 0px #2f6627;
  color: #FFF;
  width: 100%;
}

.button-blue:hover{
    background-color: #125DAF;

}

.button-blue:active{
    position: relative;
    top: 1px;
}

.size-button{
    width: 6rem;
}
.testhover:hover {  

}