#app .content-nav main {
  max-width: 100%;
  min-height: calc(100% - 65px);
  width: 100%;
  height: auto;
  position: absolute;
}

#app .content-nav main .container-fluid-y {
  height: calc(100% - 2rem);
  min-height: calc( 100% - 2rem);
  position: absolute;
}

